[2019-03-05 21:48] kirach commented on #869
It seems that the issue is still reproducible on the latest version of probot(8.0.2). Getting this error when I start the probot app locally:

[2019-03-05 21:50] melissamcewen opened #879 "'Hello World' project on Glitch"
Hi all, I work for Glitch and I'm making a Probot feature that will go on our homepage in a couple of weeks 🎉
I love that you have a link to the hello world project on Glitch in https://probot.github.io/docs/hello-world/
I was wondering where the codebase for that lives and where there is a place to potentially make a PR for it (the code at https://glitch.com/~probot-hello-world)? I'm writing up s

[2019-03-06 06:43] gr2m commented on #869
Could you update your dependencies and make sure you have `@octokit/request` 2.5.0? You can check with `npm ls @octokit/requset`. I’ve improved the deprecation message, it now shows a stack, so it should tell where exactly it’s coming from.

[2019-03-06 15:49] kirach commented on #869
@gr2m I couldn't install version `2.5.0` - guess you meant `2.4.1`? With `2.4.1` version installed I've got the same stacktrace as before

[2019-03-06 15:51] kirach commented on #869
@gr2m more context on this issue - despite the fact that I've installed the version `2.4.1`, probot app is using `@octokit/rest@16.16.4` which is still using the version `2.4.0`:
[code]
I think @octokit/rest should also be updated to use the new version of `@octokit/request`

[2019-03-06 15:56] kirach commented on #869
But going forward, when I've manually changed the source files of `@octokit/request` in my `node_modules folder to have the change from 2.4.1 I've got the following stacktrace:
[code]

[2019-03-06 16:03] JasonEtco commented on #869
Thanks for digging in @kirach - it looks like that's coming from here:

https://github.com/probot/probot/blob/07b4bbfda4a1590ba30c4ed809d5a583f9270fc2/src/index.ts#L153-L162

We don't explicitly call `error.code`, but I'm guessing Bunyan does something special with it?

[2019-03-06 16:08] melissamcewen commented on #879
Oh the repo is at :) https://github.com/probot/hello-world Also I got in touch with Brandon and Tommy. Thanks all!

[2019-03-06 16:08] #879 closed

[2019-03-06 16:43] gr2m commented on #869
My fault, I forgot that `@ocotkit/rest` has the `@octokit/request` version fixed because it’s using internal APIs. `@octokit/rest` v16.16.5 is being released right now: https://travis-ci.org/octokit/rest.js/jobs/502653968

[2019-03-06 17:06] Jaskaranbir opened #881 "Allow accessing the HttpServer instance"
## Feature Request

It would be great if we can have access to the `Http` server instance (the one returns from this line: https://github.com/probot/probot/blob/next/src/index.ts#L212).

This would allow controlling the base server too, in use-cases such as programmatically shutting down the server-instance.

For me, I am just playing around with Webpack's HMR and trying to get the express to rest

[2019-03-06 17:09] JasonEtco commented on #881
Hi @Jaskaranbir - this is a duplicate of #878!

[2019-03-06 17:09] #881 closed

[2019-03-06 17:19] Jaskaranbir opened #882 "Expose HttpServer from express-instance"
## Feature Request

Would be great if we could have access to the HttpServer object returned from `server.listen` (https://github.com/probot/probot/blob/next/src/index.ts#L212)

This would allow more control over the internal server used. In my case, I am just playing around with Webpack HMR (strange ordeal, I know, but nodemon is too slow for me so I wanted to atleast give this a shot).

[2019-03-06 17:51] JasonEtco commented on #882
This is still covered by #878 - you don't need to use Probot's `probot run` to start the Express server, but can instead create a new HTTP server using the express app:

[code]

Hope that answers your question. I realize the experience isn't great, but I think the question is better covered in #878.

[2019-03-06 17:51] #882 closed

[2019-03-06 18:09] gr2m commented on #879
We love Glitch 😍 just sayin :)

[2019-03-06 18:22] gr2m commented on #806
Is this resolved via https://github.com/Financial-Times/tako/pull/66?

[2019-03-06 18:23] gr2m commented on #806
Ah okay I got it. I’d say let’s just remove `|| pkg.repository.url` as suggested by @sjparkinson

[2019-03-06 18:54] alekokiriakou commented on #882
Thanks for the reply. It is indeed helpful. The reply was so quick that I almost thought my issue didnt get posted to GitHub, and ended up creating two different issues for same thing (:man_facepalming:).

In any case, this helps a lot. Thanks again.

[2019-03-06 19:02] Jaskaranbir commented on #882
Thanks, that indeed does help. My bad for opening two different issues for same topic, both got answered and closed way faster than I am used to lol (:man_facepalming:).

[2019-03-06 19:15] JasonEtco commented on #882
Hah all good @Jaskaranbir, we aim to exceed expectations 😎 🐰 ⚡️

[2019-03-06 19:16] JasonEtco commented on #878
Yep, I 100% agree with you - here's proof from months ago 😁 #304. This PR: #794 added some potential work towards this goal, but there's definitely more to be done.

[2019-03-07 03:32] jsoref commented on #803
Please don't stale this…

[2019-03-08 04:21] tcbyrd commented on #803
The negative numbers should be resolved now on the github side. We still recommend providing it when necessary, but now in these scenarios where the check completes that quickly, we just don't show any time-related data. Can we close since it started with "bad output from GitHub" and start a new tracking issue if we want to improve things with hooks beyond that?

[2019-03-08 06:49] jsoref commented on #803
ok

[2019-03-08 22:33] gregburek opened #883 "Test failure TypeError on fresh create-probot-app from template checks-js with probot >8.0.0"
## Bug Report

**Current Behavior**
Upgrading probot to 8.0.2 or 9.0.0 on a fresh create-probot-app (started with probot 7.5.1 set as `"^7.2.0"`), based on the checks-js template results in a test failure.

[code]

**Expected behavior/code**
A passing test with latest probot lib

**Environment**
- Probot version(s): v8.0.2 and v9.0.0
- Node/npm version: v11.9.0/6.5.0
- OS: OSX 10.13.6

[2019-03-10 01:45] KengoTODA opened #888 "HttpError: missing custom Accept header?"
Thanks for making GitHub experience great via ProBot! Yesterday I tested 9.0.0, and it seems working in my local. However in production env, I met a problem:

## Bug Report

**Current Behavior**
Probot called `installation/repositories` GitHub API automatically, and got 415 due to:

You can see [a full log](https://sentry.io/share/issue/510586a016cf4957b114818a199b4c05/) at sentry.

**Expected beh

[2019-03-10 17:07] gr2m commented on #888
Thanks for reporting the issue Kengo, I’m investigating

[2019-03-11 18:26] gr2m commented on #888
I’m afraid I was not able to reproduce the problem. I created a new app with probot 9 as dependency. I could then call the stats endpoint without a problem: https://ossified-sailfish.glitch.me/probot/stats

I wish sentry logged the other error properties. `error.request` would should exactly the request that caused the problem. Maybe you see it in your server logs?

[2019-03-11 21:29] gr2m commented on #888
Do you maybe use probot scheduler? We have open issues for that

- probot/scheduler#34
- https://github.com/octokit/routes/issues/363

[2019-03-12 03:27] KengoTODA commented on #888
wmm, [my project](https://github.com/KengoTODA/rtd-bot/) doesn't use them for now. And I still can confirm this problem happens in AP log:

I'll try to create a mcve to reproduce.

<blockquote></blockquote>

[2019-03-12 03:29] KengoTODA commented on #888
In my case, `/probot/stats` cannot respond correctly. When I visit https://rtd-bot.herokuapp.com/probot/stats I can find the following log:

[2019-03-12 03:33] KengoTODA commented on #888
[this project](https://github.com/KengoTODA/rtd-bot/) can reproduce this problem in local http://localhost:3000/probot/stats so I hope it can help our debugging.

[2019-03-12 04:50] #803 closed

[2019-03-12 22:06] gr2m commented on #883
I was not able to reproduce the problem

[code]

Here is my output for `npm ls` for comparison

<details>
<pre>
my-first-app@1.0.0 /private/tmp/my-first-app
├─┬ jest@24.5.0
│ ├─┬ import-local@2.0.0
│ │ ├─┬ pkg-dir@3.0.0
│ │ │ └─┬ find-up@3.0.0
│ │ │   └─┬ locate-path@3.0.0
│ │ │     ├─┬ p-locate@3.0.0
│ │ │     │ └─┬ p-limit@2.2.0
│ │ │     │   └── p-try@2.0.0
│ │ │     └── path-exists@3.0.0 dedup

[2019-03-12 22:24] #582 closed

[2019-03-12 22:33] gr2m commented on #888
I’ve installed rtd-bot v0.7.1 (last commit: 628ae0d). I’ve run it with the configuration of my WIP app to test the /probot/stats endpoint. It worked without a problem.

Here is my output of `npm ls --production` for comparion

<details>
<pre>
rtd-bot@0.7.1 /private/tmp/rtd-bot
├─┬ @types/bunyan@1.8.5
│ └── @types/node@10.9.4
├─┬ @types/dotenv@6.1.0
│ └── @types/node@10.9.4 deduped
├─┬ @types/expre

[2019-03-13 04:56] KengoTODA commented on #888
I will share my result here.

<details>
[code]
</details>

I checked the diff, and confirmed that there is no difference. Wmm, how it can be possible...?

[2019-03-13 05:15] gr2m commented on #888
Try to update octokit/rest to the latest version, I think that should fix it: https://github.com/octokit/rest.js/releases/tag/v16.17.1

[2019-03-13 06:00] KengoTODA commented on #888
I've tried [this change](https://github.com/KengoTODA/rtd-bot/commit/3a04148082aebd7dd9e46139c5e11551cd7d5511), but no luck :(

[code]

[2019-03-13 06:01] KengoTODA commented on #888
Not sure it affects result or not, but the `$APP_ID` in my local is 17692.

[2019-03-13 06:20] KengoTODA commented on #888
I also updated `@octokit/request` then problem has been resolved. Here is [my change that fixed this issue](https://github.com/KengoTODA/rtd-bot/commit/ffacef8096496f46f8050ba2e7b3da33500dcdba).

[2019-03-13 09:34] tripodsan opened #889 "Modularization: Split request processing from express app"
## Feature Request
It would be very useful to be able to use the probot library for request processing and the github api bindings without the entire _overhead_ of the express app. this would make it easier to use inside serverless functions/lambdas/actions.

**Is your feature request related to a problem? Please describe.**
I want to use the probot in a serverless function and bundle it with webp

[2019-03-13 15:54] #888 closed

[2019-03-13 22:42] gregburek commented on #883
@gr2m I see `├─┬ probot@7.5.1` in your `npm ls` output. This test error occurs once you run `npm install probot@9` to the fresh project, with no other code changes.

[2019-03-13 22:45] gr2m commented on #883
🤦‍♂️ sorry! I was able to reproduce the problem now 👍

[2019-03-15 09:11] tripodsan commented on #889
I found a way to package the app, hence this is no longer needed.

[2019-03-15 09:11] #889 closed

[2019-03-17 19:05] gr2m commented on #883
We have to update the tests for the new Probot. We have to pass in a valid app id and private key. This is just for reference, I’ll see how to make this easier

[code]

[2019-03-17 19:58] gr2m commented on #883
I think we should throw more useful errors. When `options.id` is not set, then we don’t set `this.app`. In that case we should define a getter and throw a more useful error explaining that `options.id` and `options.cert` must be set.

With Probot 7 and below, we often times overwrote the `.app` property like the `app.app = () => 'test'` in the `checks-js` app’s test. We should throw an error when

[2019-03-17 20:48] gr2m commented on #883
Made a follow up issue to make the `create-probot-app` easier to maintain, would love help with it: https://github.com/probot/create-probot-app/issues/60

[2019-03-17 20:58] gr2m opened #893 "Throw helpful error if Probot({id, cert}) are not set but `.app` is used, and throw error if `.app` is overwritten"
## Feature Request

**Is your feature request related to a problem? Please describe.**

This is a follow up for https://github.com/probot/probot/issues/883#issuecomment-473708953

For Probot 7 and below, we would override the `.app()` function to return a valid token. Now the `.app()` no longer exists. These tests now throw an error

Instead we now have to pass an app id numbers as `id` option and

[2019-03-18 18:02] gr2m commented on #760
That should work as expected with Probot 9, note that the API changed. The old API is still working, but logs a deprecation message

[2019-03-18 18:02] #760 closed

[2019-03-21 14:51] jakebolam commented on #893
This caught me as well, +1

[2019-03-21 17:33] borekb opened #895 "One-time invocations?"
_I'm struggling to come up with a good title for this issue, let me describe my use case & feel free to update the title to make more sense._

I found a great Probot app called [Weekly Digest](https://github.com/probot/weekly-digest) and am wondering how to invoke it manually / once, not as a bot. I'm fine forking the repo and doing a bit of manual work but it seems that anything useful in that co

[2019-03-21 19:34] gr2m commented on #893
PRs welcome :)

[2019-03-22 15:31] jakebolam commented on #895
Hey, @borekb this is possible! (to get context.github)

For the All Contributors Bot (we run on lambda and we use crons):
https://github.com/all-contributors/all-contributors-bot/blob/master/serverless.yml#L65. You can run on any platform tho.

The important code parts are:
Create a probot instance, then load an app (we load in Sentry, as you need at least one app) https://github.com/all-contribut

[2019-03-22 15:42] jakebolam commented on #380
I see that the probot hosted apps may have solved this issue, but can't find any issues/PRs/code that would indicate how.

Any insight into how this was solved for the apps hosted by probot on heroku?

Planning on turning this into a long-running worker tasks/cron that caches result's for the web worker, was wondering the approach taken for other apps.

[2019-03-22 16:03] borekb commented on #895
Nice, thank you, will check it out!

[2019-03-24 03:47] kompiro commented on #761
I met same problem and I solve it by https://github.com/probot/probot/issues/761#issuecomment-461271451
I forgot to set APP_ID and PRIVATE_KEY environment values.

Please support to show the message if these required values ane not set.

[2019-03-25 13:05] tcbyrd commented on #761
Curious what anybody in this thread thinks would've been the most obvious place to show a message of this nature? We do show a message when it boots up in "Getting Started" mode:

Would it be useful if we just add something to this message to make it obvious that until you add environment variables, nothing else will work?

Suggestion:

[2019-03-25 15:37] kompiro commented on #761
At first, I read Getting Started document to setup probot.
Oh, it's awesome to create GitHub App! I'd like to make my app on vacation!
(... after a few months ...)

Ok! probot supports `HTTP routes`! It's really cool feature!
I want to use it! I test it. Yes I know to use express before.
I create my probot environment, npm install, npm start, and I write to use express...
Why my bot can't return t

[2019-03-25 19:52] gr2m commented on #830
Does this problem persist in v9?

[2019-03-25 19:55] tcbyrd commented on #761
Yeh I can see the disconnect. The general idea though is you'd be using HTTP routes to build pages that get data from GitHub, right? You'd still need all the secrets and APP_ID setup in order for that part to work. Maybe we can improve the documentation here to make that bit more clear.

[2019-03-26 01:09] kompiro commented on #761
Yes, I'd like to use to get data from GitHub. So, at first I tested to know how to write HTTP routes on probot before all the secrets and APP_ID. I think this is a small step.
If I checked to run HTTP routes, I was going to setup environment variables for octokit.

Thanks!

[2019-03-26 18:48] gregburek commented on #830
@gr2m It does also happen in v9.1.0

This is less than ideal with AWS SNS delivery, where a 400-499 response code is permanently undeliverable, but 500-599 responses will be retried.

[2019-03-27 14:59] tcbyrd commented on #380
With the change now that you can list apps on the Marketplace as ["unverified"](https://developer.github.com/marketplace/listing-on-github-marketplace/#submitting-your-listing), I'm going to close this issue. The Marketplace listing is the more production-ready solution for larger apps and also includes more data like [unique visitors and conversion rate](https://developer.github.com/marketplace/g

[2019-03-27 14:59] #380 closed

[2019-03-29 17:27] binford2k commented on #258
Given that we've now got org wide community health docs in a standard repository name, can we drop probot configs in there too as something like `https://github.com/<org>/.github/blob/master/probot-config.yml`?

https://help.github.com/en/articles/creating-a-default-community-health-file-for-your-organization

[2019-03-29 18:44] gr2m commented on #258
that's what the current Probot configuration recommends already I think? You put your config files into the `.github` folder within the `.github` repository, e.g. https://github.com/gr2m/.github/tree/master/.github

[2019-03-29 19:49] swinton commented on #120
Am I right in thinking this is now resolved, given https://github.com/probot/probot/pull/650 and [the GitHub App Manifest flow?](https://developer.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest/#using-probot-to-implement-the-github-app-manifest-flow)

[2019-03-29 20:47] gr2m commented on #120
jap, I think so :)

[2019-03-29 20:47] #120 closed

[2019-03-29 22:57] tunnckoCore commented on #258
@gr2m isn't `.github` folder within `.github` repo redundant?

[2019-03-29 23:06] gr2m commented on #258
It is. But the problem is the single file access permission, so the path must remain the sane

[2019-04-08 08:08] string-areeb opened #905 "Cannot find module <plugin_name> from '/app' while adding app"
## Bug Report

**Current Behavior**
Added an app in dependencies:

https://github.com/string-areeb/string-bugzilla-bot/blob/ac299428713dcdc30db39aa554caa94195639ae8/package.json#L23-L27

Added in apps section:

https://github.com/string-areeb/string-bugzilla-bot/blob/ac299428713dcdc30db39aa554caa94195639ae8/package.json#L61-L66

Every other app is working, but this is failing with error

**Expecte

[2019-04-08 09:45] string-areeb commented on #905
Was a cache issue. Latest dep was not getting downloaded

[2019-04-08 09:45] #905 closed

[2019-04-09 15:46] #842 closed

[2019-04-11 02:35] Frankzhaopku opened #909 "How to extend the application basic functions?"
When I try to use Probot to build a quite complex GitHub app, I encounter a problem with extending application.

The default application for Probot only provides several basic services for customize logics, like `on`, `receive`, `route`. And the `ApplicationFunc` takes an `Application` as parameter which is built in `load` function of Probot.

So:
1. I don't quite understand why create a new `Appl

[2019-04-14 16:36] kompiro commented on #883
I mock `getInstallationAccessToken` like below.

[code]

[2019-04-15 22:43] binford2k commented on #258
If that's the case (can you show me a link? I can't find it.) then why does this issue even exist?

Or are you referring to https://github.com/probot/probot-config? In that case, the docs say

which to me seems to indicate that each repo does need a config file in the `/.github` directory that references the shared repository.

[2019-04-16 00:08] wolfy1339 commented on #759
Not stale

________________________________
From: stale[bot] <notifications@github.com>
Sent: Monday, April 15, 2019 7:53:59 PM
To: probot/probot
Cc: wolfy1339; Author
Subject: Re: [probot/probot] Missing types for other packages used by Probot (#759)

This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank yo

[2019-04-16 01:35] gr2m commented on #780
@tcbyrd it's out now :) wanna give it a try?

[2019-04-16 18:32] davidtlee commented on #601
@gimenete just wondering, did you end up implementing this or finding some other repo that mocks the github api?

[2019-04-16 19:30] tcbyrd commented on #780
I'm getting an error related to `ioredis` I think:

https://runkit.com/tcbyrd/5c0e9f3b753de00018097eef

I wonder if we should have a way to not load Redis?

[2019-04-16 19:33] gr2m commented on #780
Can we move the `import Redis from 'ioredis'` from https://github.com/probot/probot/blob/9cc6131ed211a0d4e686e0a81da1897b0ff2a0e4/src/index.ts#L7

to line 133, after the `if (options.redisConfig || process.env.REDIS_URL) {` check? Not sure if conditional imports are supported with module imports?

[2019-04-17 09:11] gimenete commented on #601
@davidtlee finally I didn't implement it. I found a Java library that claims to implement a mock server. But it's in Java and in memory (not sure if it exposes a network interface) https://github.jcabi.com/

<blockquote><img src="http://img.jcabi.com/favicon.ico" width="48" align="right"><div><strong><a href="https://github.jcabi.com/">jcabi-github – ObjectOriented Github Java API</a></strong></di

[2019-04-17 18:30] chrishiestand commented on #780
@gr2m ecmascript module imports must be static and therefore they should be at the top of the file: http://exploringjs.com/es6/ch_modules.html#_imports-and-exports-must-be-at-the-top-level

[2019-04-17 20:17] gr2m commented on #780
Thanks Chris, I thoughts so 🤔 maybe we can move `ioredis` into optionalDependencies and see if that works?

[2019-04-17 20:33] SGrondin commented on #780
@gr2m Can we maybe use an old school `require()` here?

[2019-04-17 20:36] gr2m commented on #780
or that :)

[2019-04-18 05:06] davidtlee commented on #601
@gimenete got it, thanks!

[2019-04-18 06:21] sunshineo opened #915 ""result.data.repositories" is deprecated. Use "result.data" instead"
## Bug Report

**Current Behavior**

When start got
[code]

**Expected behavior/code**
No warnings

**Environment**
"probot": "^9.2.4"
- Node/npm version: v11.10.0/6.7.0
- OS: mac

[2019-04-18 18:20] gr2m commented on #915
Thanks Gordon!

I think the line emitting the deprecation is https://github.com/probot/probot/blob/e831d3e38f8271cecb2db24e50c407ac5f0639b4/src/apps/stats.ts#L60

Would you like to send a pull request to get it fixed?

[2019-04-18 21:19] chrishiestand opened #917 "Deprecation: [@octokit/rest] "number" parameter is deprecated for ".issues.createComment()". Use "issue_number" instead"
## Bug Report

**Current Behavior**
I'm currently getting this deprecation error with probot v9.2.6.

This is the code path:

[code]

**Expected behavior/code**
I expect no deprecation errors

**Environment**
- Probot version(s): v9.2.6
- Node/npm version: node 10.15.3 / npm v6.4.1
- OS: alpine linux (in docker container `node:10-alpine`)

**Additional context/Screenshots**

I'm also having an iss

[2019-04-18 21:23] chrishiestand commented on #917
I'm also seeing this deprecation after the 4 comments are created (I'm thinking maybe after a rate limit error?)

Apparently this was not fixed by: https://github.com/probot/probot/pull/871

[2019-04-19 01:15] gr2m commented on #917
regarding the first deprecation, `context.issue()` needs to be update to set `issue_number` instead of `number`. The pull request should also bump the minimal required version of `@octokit/rest`. Would you like to try sending a pull request to get rid of the deprecation message?

[2019-04-19 10:21] sunshineo commented on #915
Hi @gr2m , you know what I would like to do? I'd like to pay you $10 to fix it. I know this sounds really strange but hear me out. The reason that I encountered this error is I'm building a bot using probot. It's in beta now https://github.com/apps/issue-reward-beta . What it does is that, for the repo installed it, it automatically comment on all the issues with an url to a website that allows an

[2019-04-19 14:28] gr2m commented on #915
I’m not interested but maybe some else will be :)

[2019-04-19 17:21] chrishiestand commented on #917
@gr2m I took a look at the required changes; I don't know typescript so that is a hindrance for me. It seems the pull requests should also change from `number` to `pull_number` https://octokit.github.io/rest.js/#octokit-routes-pulls-create-comment
so we should have something like this in `context.ts`:

[code]

Then we change the object key to the appropriate key in the method below. But I'm not su

[2019-04-19 20:46] sunshineo commented on #915
Hi @gr2m , I want to ask you one last question. As a repo admin, even you are not interested in fixing issues for money, do you think it would make the project healthy if you add the bot that, as I described above, comments on issues to encourage people give reward and fix issues? What features or values you need to see to install such a bot?

[2019-04-19 22:33] tcbyrd commented on #915
Hey @sunshineo. Since Probot is a project maintained primarily by people employed by GitHub, our repo probably isn't the right place to test out this kind of bot since we are already compensated in other ways. I like the idea though, and I'm sure other maintainers might enjoy using it. I know a lot of projects have Patreon pages, for example, and a bot that responds to merged pull requests to remi

[2019-04-19 23:13] sunshineo commented on #915
Thank you @tcbyrd ! I did not know projects using Patreon. I've seen one project using https://opencollective.com/ . Could you point me to a couple of projects using Patreon? I would love to talk to their admin. I think what I'm trying to do is different from a Patreon model, but using Github issue as the first class citizen and having a more streamlined process with the Github eco system. I hope

[2019-04-22 18:14] tcbyrd commented on #915
I don't know any personally and can't recall any by name, but I know I've come across READMEs that had a Patreon button in them.

[2019-04-22 22:44] #855 closed

[2019-04-23 16:10] dead-programmer commented on #915
@gr2m I have the same problem as the title after installing the latest debug and Winston npm packages but still don't know how to solve it after reading through the comment. There's nowhere in my code using `result.data.repositories`, though I use `result.data` several times including things like `result.data.number`, `result.data.mergeable`, how can I fix this? Please give me a more detailed sugg

[2019-04-23 16:17] dead-programmer commented on #915
@gr2m I have the same problem as the title after installing the latest debug and Winston npm packages but still don't know how to solve it after reading through the comment. There's nowhere in my code using `result.data.repositories`, though I use `result.data` several times including things like `result.data.number` and `result.data.mergeable`. I have also tried to change `result.data.number` to

[2019-04-23 16:53] gr2m commented on #915
@dead-programmer it’s used in Probot itself, it has to be fixed in probot itself. I’ve referenced the line in my comment above: https://github.com/probot/probot/issues/915#issuecomment-484626038

We’ll need someone to send a pull request to fix that line and bump the version range for `@octokit/rest` in package.json to require the latest version

[2019-04-23 23:23] KOLANICH opened #918 "Rewrite into Haxe"
This may be helpful to port probot to the languages supported by Haxe.

[2019-04-23 23:43] gr2m commented on #918
That is out of scope for this project, I’m afraid. But if you’d like to do a rewrite, you can create a new repository and link to it from here, so people looking for haxe in the probot repository will find it in future?

[2019-04-24 05:40] sunshineo commented on #915
I just added a $10 reward for this issue. The total reward now is $10. You can check it out here: https://www.issuereward.com/issue/tL5Cv2ILfC
I suggest admin of this repo install the Issue Reward bot from https://github.com/apps/issue-reward-beta

[2019-04-24 05:46] sunshineo commented on #915
I have released the bot I built together with the website to beta. The first thing I did with it is to add an award for this issue. The comment above is generated by the website and I copy pasted it over. I realized it reads a little strange after posting it. If this repo installed the bot then all these activities will be commented by a bot in a 3rd person tone. I'll keep working on it. Thank you

[2019-04-24 07:02] KOLANICH commented on #918
There are 2 nuances:
1. Haxe supports JS. So if it is rewritten in Haxe, a separate JS version is not needed.
2. Haxe is considered to be ECMAScript dialect.

[2019-04-24 15:54] gr2m commented on #918
I’m glad you are so excited about it. What problem would it solve?

[2019-04-24 16:38] #915 closed

[2019-04-24 16:53] sunshineo commented on #915
[code]
I confirm that after upgrade to 9.2.8 the error message goes away!
Thank you @gr2m . Please claim the $10 on https://www.issuereward.com/issue/tL5Cv2ILfC
Let me know if the website is working or not

[2019-04-24 16:58] gr2m commented on #915
I got an error

Not sure if that might be the problem, but the redirect URL did not pass a state

https://www.issuereward.com/callback?code=7f4e62719a09374c0ba0&state=

[2019-04-24 17:07] sunshineo commented on #915
@gr2m So sorry about that. I'll debug it

[2019-04-24 17:49] sunshineo commented on #915
@gr2m I guess the error was that when I ask Github for your basic information, there is something special about your email that I failed to properly save. I've added a check. Please try again. Maybe use the Login/Logout on the top right corner first. If it still fails, could you tell me what is in the console log? Thank you very much! I super appreciate the help

[2019-04-24 18:00] gr2m commented on #915
Login worked now. But when I hit the claim button, nothing happens. `POST https://ir-parse-server.herokuapp.com/parse/classes/claim` fails

[2019-04-24 18:06] sunshineo commented on #915
It's fixed. Please try again.

I'm so sorry about that. I made a dumb mistake in the schema of the production database. I did not make that mistake in my testing database, so I did not find that issue. And because I was cutting corners, I did not use a tool or system to properly manage the database schemas. I was manually creating the tables twice. And I made this embarrassing mistake on the produ

[2019-04-24 18:14] gr2m commented on #915
I fixed this issue and want to claim the existing $10 reward for it.
@sunshineo  , all of you have give reward for this issue. Thank you very much and please approve my claim at https://www.issuereward.com//claim/HTYEMjdOby so I can receive it.

[2019-04-24 19:10] KOLANICH commented on #918
I am not excited. I have already tried to port some libs from python to haxe without spoiling code structure but have failed. And where it compiles, the resulting code looks ugly, non-idiomatic and makes impression of unneeded overhead. In fact it seems that one cannot just take and port apps to haxe without redesigning. It's the price of fitting into Procrustean bed of intersection of all the sup

[2019-04-24 19:15] JasonEtco commented on #918
Thank you for the explanation @KOLANICH 🙏 I think that Probot is in a spot where we've recently refactored it into TypeScript, and are still evaluating what that looks like from an open-source contribution perspective. My biggest concern with Haxe is that it doesn't have wide adoption from the community, which means that contributing to projects using Haxe is yet un-tested.

This is super interest

[2019-04-24 19:15] #918 closed

[2019-04-24 20:46] sunshineo commented on #915
@sunshineo just approved a $10 reward to @gr2m . See details here: https://www.issuereward.com/claim/HTYEMjdOby
@gr2m can now go to his/her account page to request a cashout. https://www.issuereward.com/my-account
I suggest admin of this repo install the Issue Reward bot from https://github.com/apps/issue-reward-beta

[2019-04-25 02:58] gr2m commented on #915
@sunshineo replace `his/her` with `their` to make it inclusive. It’s totally fine to use `their` to address a single person. And it doesn’t exclude people who don’t identify as either male or female.

That seems to have worked, I see the cashout request as pending. :) I’ll donate the $10 to https://railsgirlssummerofcode.org/, thanks!

[2019-04-25 03:12] sunshineo commented on #915
Thank you @gr2m . I'll change it. I don't trust myself to write something that does auto cashout, so the cashout part is manual. I'm sending you the money right now. Thank you very much for helping me.

I noticed my links are not working with unfurl-links bot. I should add more metadata

[2019-04-25 03:26] sunshineo commented on #915
@gr2m PayPal charged me $1 fee for the $10 transaction because "The receiver of this payment is Non-US - Verified" 👎

[2019-04-25 03:27] gr2m commented on #915
Sorry, I created it back in Europe and they don’t let me move it 😭

[2019-04-25 03:36] sunshineo commented on #915
No worries. I should work on a donate feature that allows people to directly donate to charities without the need to cashout first

[2019-04-25 03:44] gr2m commented on #915
yours found its way already: https://railsgirlssummerofcode.org/campaign#donors

[![image](https://user-images.githubusercontent.com/39992/56708475-9f667200-66d1-11e9-90c5-1a1c3fba285f.png)](https://railsgirlssummerofcode.org/campaign#donors)

Cheers!

[2019-04-25 18:36] ivelichkovich opened #920 "issue_comment.created not working"
## Bug Report

**Current Behavior**

[code]

I have this code.
I receive this webhook event

[code]

But it never triggers the code.
Other events work fine and trigger code.

**Expected behavior/code**

issue_comment.created should trigger code looking for issue_comment.created

**Environment**
- Probot version(s): [e.g. v^7.2.0]
- Node/npm version: [e.g. Node 8.3/npm 6.4.1]

[2019-04-25 20:04] chrishiestand opened #921 "createComment() results in github 500 response code"
## Bug Report

**Current Behavior**
When creating an issue comment with probot, the probot http client gets a 500 from github. Strangely, the comment is actually created on the GH issue despite the 500. As a result, probot will automatically retry and the comment ends up being posted four times total.

I'm including a deprecation message, and I'm not sure if that's related.

[code]

The HTTP heade

[2019-04-25 20:53] #920 closed

[2019-04-26 15:12] mrchief opened #922 "Dev Dep "smee-client" is included in distributed files"
## Bug Report

**Current Behavior**
I'm trying to package an AWS lambda using webpack but run into this error:

[code]

Turns out `lib/manifest-creation.js` contains references to smee-client which is a dev-dependency.

![image](https://user-images.githubusercontent.com/781818/56817597-e6f51700-6813-11e9-8af6-335120d226d1.png)

**Expected behavior/code**
Dev Dependencies should not be included/ref

[2019-04-30 00:35] #847 closed

[2019-04-30 12:26] swinton commented on #917
:construction: Fix in https://github.com/probot/probot/issues/926

[2019-05-02 20:29] mrchief commented on #869
I'm seeing this issue on v9.2.9

[code]

**npm ls @octokit/request**

[code]

[2019-05-02 20:34] mrchief commented on #917
I second that. I'm seeing this in v9.2.9. I [commented](https://github.com/probot/probot/issues/869#issuecomment-488820571) on a closed issue but maybe this is a better place?

[2019-05-03 02:54] JasonEtco commented on #922
Hey @mrchief 👋 In the manifest creation flow, it attempts to connect to Smee. If the `smee-client` dependency isn't there, it'll just exit cleanly:

https://github.com/probot/probot/blob/6f7559996f63984e0ac0a00a33d3dcdcbc219aeb/src/manifest-creation.ts#L19-L27

What's probably happening for you is that your deployment is missing the environment variables that would otherwise skip this flow. This i

[2019-05-03 02:58] mrchief commented on #922
Makes sense but what env vars should I be setting to make it skip?

[2019-05-03 03:01] JasonEtco commented on #922
All the ones that that flow would help you generate, `APP_ID`, `WEBHOOK_SECRET`. Also `PRIVATE_KEY`, but you may prefer [other ways of including that](https://probot.github.io/docs/configuration/)!

[2019-05-03 03:03] mrchief commented on #922
I have those set but maybe they need to be set again within Webpack config... 🤔

[2019-05-03 03:05] JasonEtco commented on #922
From your screenshot, it looks like Webpack is transpiling the `try/catch` block away - that's likely causing it to throw an error that Probot would otherwise be handling. You can probably tweak your webpack settings to avoid that.

[2019-05-03 03:12] mrchief commented on #922
@JasonEtco I forgot about [this](https://github.com/webpack/webpack/issues/4175). With Webpack, dynamic requires such as above become tricky and the solutions a bit nasty.

[2019-05-03 09:25] HenryHoggard opened #928 "Probot (Nock) Unit Tests Not Working with Github Enterprise"
## Bug Report

**Current Behavior**

I have set `.env` `GHE_HOST` to the enterprise URL.

In `test/index.test.js` I have updated the nock URLs to the enterprise Git URL.

[code]

When I run `npm test` the application still tries to connect to normal Github.

If I run `npm start` it works with enterprise Git fine, it just seems to be the unit tests.

[code]

**Expected behavior/code**

Unit test sh

[2019-05-03 15:31] gr2m commented on #928
As far as I know GitHub Enterprise does not have an `api.` subdomain. Instead, you have to prefix all API paths with `/api/v3`

[2019-05-03 17:41] zeke opened #929 "Best practices for scoped logging"
Hi Probot friends!

I'm working on a bot that reacts to pull request events. For debugging purposes, I'd like to be able to tail Probot's logs and grep for log lines that pertain to just that PR:

[code]

At present, I'm thinking of creating a custom logging function in the scope of the event handler:

[code]

Is there a better built-in way to includ grep-friendly context when logging?

cc @sarahs

[2019-05-03 17:46] JasonEtco commented on #929
Hiya @zeke 👋 You could also use `log.child` ([docs](https://github.com/trentm/node-bunyan#logchild)):

[code]

[2019-05-04 00:43] zeke commented on #929
Oh that looks perfect, @JasonEtco. Thanks!

[2019-05-04 00:51] zeke commented on #929
Oops spoke too soon.

[2019-05-04 01:03] JasonEtco commented on #929
Thaaaat's weird. I know for a 1000% fact that, at least on Probot 7.x.x, this works:

[code]

[2019-05-04 01:06] zeke commented on #929
Looks like it was implemented in https://github.com/probot/probot/pull/355 and landed in v6.0.0: https://github.com/probot/probot/releases/tag/v6.0.0

But yeah, it doesn't appear to work in probot 7 or 9 for me. I will give probot/lib/logger a try.

[2019-05-04 20:29] #794 closed

[2019-05-05 20:06] rthadur opened #931 "Pull Request when created add to project by default"
## Bug Report
Hi I Don't see how we can add a PR when created to project using probot.I would like to request this feature if this implementation does not exist.

[2019-05-06 03:03] Frankzhaopku commented on #909
@gr2m is anyone here. Extensibility is quite important for me and I kind implement an [extend mechanism](https://github.com/alibaba/collabobot/blob/master/src/index.ts) myself with a little trick.

And the most strange part is that I fake an empty app by `load` and modify the app with my own components and all works fine now, so still curious why need to create new application instance for differe

[2019-05-06 17:49] gr2m commented on #909
It sounds like you want to be build a complex server where interacting with GitHub is only one small part. Maybe you shouldn’t use Probot at all, and instead use the underlying libraries, such as

- https://github.com/octokit/rest.js
- https://github.com/octokit/graphql.js
- https://github.com/octokit/webhooks.js
- https://github.com/octokit/app.js

[2019-05-06 17:52] gr2m commented on #931
Probot implements all methods from `@octokit/rest`: https://github.com/octokit/rest.js, such as creating a pull request: https://octokit.github.io/rest.js/#octokit-routes-pulls-create

The `octokit` instance is `context.github` in the event handlers, so you can do

[code]

You can replace `'issues.opened'` with whatever event/action you need

[2019-05-06 20:11] rthadur commented on #931
Thanks you greg, but iam looking a method where i can add PR to a existing project.

[2019-05-06 22:40] gr2m commented on #931
Got it, sorry I misunderstood your issue description.

The [`context.github.projects.createCard(options)` method](https://octokit.github.io/rest.js/#octokit-routes-projects-create-card) seems to be what you are looking for.

[code]

[2019-05-06 23:27] rthadur commented on #931
thank you it worked, when i set content_id iam getting this error ,

{"message":"Validation Failed","errors":[{"resource":"ProjectCard","code":"unprocessable","field":"data","message":"Could not resolve to a node with the global id of 'MDExOlB1bGxSZXF1ZXN0MTk0'."}],"documentation_url":"https://developer.github.com/v3/projects/cards/#create-a-project-card"}

note: iam setting PR number

[2019-05-07 00:10] gr2m commented on #931
`MDExOlB1bGxSZXF1ZXN0MTk0` is a node ID, used in GraphQL. You need to set `content_id` to the `databaseId` of the pull request, not the number.

Same with `column_id`, it has to be set to the database ID, not node id

[2019-05-07 11:57] HenryHoggard commented on #928
That hasn't worked either. It looks like its ignoring whatever URL i set and always defaulting to the public Github.

[2019-05-07 19:11] rthadur commented on #931
where can i find database ID for both `column_id` and `content_id` , sorry if this is too basic

[2019-05-07 19:18] gr2m commented on #931
I don't think that an existing project card can be altered, there is no REST API endpoint for that: https://developer.github.com/v3/projects/cards/#update-a-project-card

Please ask support@github.com, maybe I miss something

[2019-05-07 20:05] rthadur commented on #931
Thank you greg , i don't want to alter but add the PR to "in-progress" card in project

[2019-05-07 20:11] gr2m commented on #931
Tell me the steps you currently do manually to achieve what you want

[2019-05-07 20:18] rthadur commented on #931
sure
1) Identify open PR which is not yet reviewed and assign to me.
2) Add reviewer
3) Add to project
![image](https://user-images.githubusercontent.com/43972606/57330322-834bd300-70ca-11e9-82fa-e3660d8ce62d.png)

4) Then review the PR

[2019-05-08 10:22] Frankzhaopku commented on #909
@gr2m understood, and I think Probot could be or should be a framework for complex GitHub App development rather than accomplishing simple ones.

[2019-05-08 10:22] #909 closed

[2019-05-08 15:07] gr2m commented on #204
Someone needs to champion it, I'm not sure who that would be right now

[2019-05-09 19:17] rthadur commented on #931
@gr2m did you get a chance to check above comment.

[2019-05-09 20:27] gr2m commented on #931
I don’t think there is an API endpoint which allows to add a pull request / issue to an existing project. You will need to use

[code]

Just as I described in https://github.com/probot/probot/issues/931#issuecomment-489813390

[2019-05-09 20:27] #931 closed

[2019-05-09 22:07] rthadur commented on #931
Thank you

[2019-05-10 00:16] chrisdothtml opened #932 "No way to combine apps with conflicting probot versions"
## Bug Report

**Current Behavior**
There currently isn't a way to deploy a [Combined app](https://probot.github.io/docs/deployment/#combining-apps) that consists of bots that depend on conflicting versions of probot (i.e. major version(s) apart).

For example, if I'm using a third party bot that depends on an older version of probot, but I also am using my own bot that uses the latest version (wi

[2019-05-10 19:35] gr2m commented on #932
Do you run both apps in the same process? I’m not sure why you would do that? Usually each app has its own dependency on Probot and runs by itself

[2019-05-10 19:48] chrisdothtml commented on #932
Yes, this is what the [Combining apps](https://probot.github.io/docs/deployment/#combining-apps) section outlines. It's useful for having one single deployment and github app for multiple probots.

For example, one deployment I'm working with currently combines 10 separate probot apps; the alternative to this would be setting up 10 separate deployments and github apps (which all need unique names

[2019-05-10 19:51] gr2m commented on #932
Ah yes, I totally forgot about this. We are not very happy about how this is implemented currently.

Creating an app by combining features of other apps is something we are interested in, but it’s unclear to me how that will work exactly.

For the time being, I’d recommend to bump the probot requirements for the app(s) that use the outdated Probot version. A lot has changed, the new Probot app als

[2019-05-10 19:54] chrisdothtml commented on #932
Fair enough. Assumed this would be the case, but figured I'd bring it up in case there were any near-future plans for it. Thanks for the response 👍

[2019-05-11 05:36] phanirithvij commented on #920
@ivelichkovich What did you do to make it work? Why is this issue closed?

[2019-05-11 05:47] phanirithvij opened #933 "not receiving `issue_comment` related events"
## Bug Report / Feature request

**Current Behavior**
The events `issue_comment.created` or `issue_comment.edited` mentioned [here](https://developer.github.com/v3/activity/events/types/#issuecommentevent) in the github docs are not being logged.

[code]
The events comment created or updated under an issue are not being logged.
The events new issue created, code pushed are being logged.

**Expecte

[2019-05-12 20:05] #878 closed

[2019-05-13 14:30] wilhelmklopp commented on #933
@phanirithvij does your GitHub App have permission for `issues` and is subscribed to the `issue_comment` events?

![image](https://user-images.githubusercontent.com/7718702/57629574-eb4f5d00-7593-11e9-9f61-c782f0570bec.png)

![image](https://user-images.githubusercontent.com/7718702/57629641-07eb9500-7594-11e9-8986-9488cde31517.png)

You can check this in the GitHub App settings: https://github.co

[2019-05-17 08:07] yuzu1209 opened #935 "how to add probot in collaborators?"
For my probot, I want it to auto create reviewers in GitHub.
But how to add the probot as collaborators?

[2019-05-17 21:09] gr2m commented on #935
I’m sorry I don’t quite understand what you mean with

Could you maybe give an example of what you want to build?

[2019-05-24 15:22] rametta commented on #843
I'm also having this issue, but my context.payload.check_run.pull_requests is empty, and I'm not sure how to get the PR number now.

@gr2m any advice?

[2019-05-24 15:26] gr2m commented on #843
I think check runs belong to commits, not pull requests. The are only shown on pull requests for the last commit that belongs to the PR.

If you want to interact with a pull request, I guess you can ignore these events?

[2019-05-24 15:41] rametta commented on #843
I wanted to write a comment on a pr with a summary from the check_run.completed.

Finding it pretty difficult to do it now that i can't figure out the pr number 😞

[2019-05-24 15:55] gr2m commented on #843
Can you setup a test repository and a test app that sends its wekhooks to https://smee.io/? That would be helpful to better understand what is going on.

[2019-05-24 17:13] rametta commented on #843
I'm working on an open source bot, it's here if you can take a look https://github.com/gloriabot/gloria
and the file i'm trying to get the pr number is https://github.com/gloriabot/gloria/blob/master/src/postChecks.ts

Thank you!

[2019-05-24 17:58] gr2m commented on #843
why do you set `number` to `Date.now()` here?

https://github.com/gloriabot/gloria/blob/master/src/postChecks.ts#L32

Did you try the workaround mentioned above?
https://github.com/probot/probot/issues/843#issuecomment-459898373

[2019-05-24 18:17] rametta commented on #843
I tried setting it to date just to test. It didn't do what I thought, I thought it needed a unique id.

I tried comment #843, but it doesn't work because it is empty for me for some reason.

[2019-05-24 18:27] gr2m commented on #843
Can you try to ignore it if it’s empty? It might still work, maybe multiple events are being sent?

[2019-05-24 18:30] rametta commented on #843
Yeah it doesn't work, it just won't create the comment if 'number' is undefined

[2019-05-24 18:37] gr2m commented on #843
can you point me to a commit that triggered the check run which triggered the event without a number?

[2019-05-26 11:52] varunsridharan opened #939 "Github Community Health Files Support"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have a org where i already have around 10+ repo and i its hard to maintain `config.yml` all the repo in a org.

**Describe the solution you'd like**
A Better idea is to support **Github Community Health Files Support** where i can create a `config.yml` inside `.github` repo in my org and make it work for all r

[2019-05-26 18:13] gr2m commented on #939
That is supported via https://github.com/probot/probot-config, see the WIP for a usage example: https://github.com/wip/app/blob/f7482eda54e31e03a72f398335ac389235347d54/lib/pro/get-config.js#L3-L9

Does that work for you?

[2019-05-26 18:35] gr2m commented on #830
Pull request welcome

[2019-05-27 00:53] varunsridharan commented on #939
@gr2m thanks for the information. i did checked `Porbot-Config` Before opening this issue but i it din't work out for me. and i am confused on how to use it its not clear

[2019-05-27 02:02] varunsridharan commented on #939
@gr2m also some probot wants its own file instead of `config.yml` in that case how i can use `probot-config` would you mind providing an example ?

[2019-05-27 15:02] gr2m commented on #939
The WIP apps uses `.github/wip.yml`, see the example linked above

[code]

Replace `wip.yml` with whatever you like, it has to be located in the `.github` folder, even if you have a `.github` repository

[2019-05-27 15:09] varunsridharan commented on #939
@gr2m i am not creating a bot instead i am using a bot which requires configs inside `.github` folder in each repo and i am asking if its possible to put in a common place and use it.

[2019-05-28 15:06] gr2m commented on #939
Only the maintainer of the app can add support for that. The "Github Community Health Files Support" are limited to a pre-defined set of files by GitHub, we do not have control over that. I would suggest to contact the app maintainer, there is nothing we can do I’m afraid

[2019-05-28 15:06] #939 closed

[2019-05-29 22:29] greenkeeper[bot] opened #940 "An in-range update of @octokit/rest is breaking the build 🚨"
## The dependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.27.0` to `16.27.1`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40octokit%2Frest-16.27.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a direct dependency of t

[2019-05-30 00:32] gr2m commented on #940
Greenkeeper did not add lock files

[2019-05-30 00:32] #940 closed

[2019-05-31 15:37] warrenbuckley opened #941 "Update Check - Now throws a NotFound"
## Bug Report

**Current Behavior**
When using ProBot to do an update to an existing Check it has stopped working

[code]

**Expected behavior/code**
For the Octokit to perform the REST API call & update the Check.

**Environment**
- Probot version(s): 9.2.10
- Node/npm version: Node v10.15.3 & npm 6.9.0
- OS: Windows 10

**Additional context**
[code]

[2019-05-31 15:42] gr2m commented on #941
A sudden 404 can mean that sth is wrong with authentication, maybe you invalidated your private key?

The code you pasted is way too long. You have to create a minimal test case that is easy to reproduce in order to get help

[2019-05-31 16:14] warrenbuckley commented on #941
Will look into auth to see what’s happened. End of working week.

Sorry for the long code snippet. Just a frustration/panic it stopped working at the end of my working day.

[2019-05-31 16:19] gr2m commented on #941
Maybe contact support. I the logs of the WIP app, see a big spike of `401 Bad Credentials` responses from the API, as well as an increase of Server Errors (500 responses). https://www.githubstatus.com/ shows nothing, but something is up, maybe you are affected by the same thing.

[2019-05-31 16:21] warrenbuckley commented on #941
Interesting I defiantly not changed the PGP key. So not sure why it would return 401 auth problems.

I will contact support if it still persists. Won’t be until later tonight (UK here) or over weekend

[2019-06-01 02:10] #761 closed

[2019-06-01 09:45] warrenbuckley commented on #941
So the following works:

- ProBot listen/receives to the PR WebHook payload
- This uses GitHub API to create a Check
- ProBot hears the Check Created WebHook payload
- We then attempt to set the start time and set the check to be in progress and do a GitHub API

It is this second GitHub API call to update the existing check that fails @gr2m

So to me it does not seem to be Auth issues as ProBot ca

[2019-06-02 16:31] gr2m commented on #941
Could you try to add delay before creating the `context.github.checks.update()` call? I was told by support that in some cases there might be a replication lag for auth tokens. So when probot creates a token for the installation that it receives the webhook for, it might not yet have replicated to the place it’s check for when handling the check run requests.

This is not ideal but give it a try t

[2019-06-03 06:28] warrenbuckley commented on #941
Hi @gr2m thanks for the update
I will try when I am back off holiday (away this week) so if we can still keep this open so I can report findings that would be awesome :)

Odd thing is that this has worked previously...

[2019-06-07 10:25] phanirithvij commented on #933
@wilhelmklopp Thanks I understand that there are permissions now. But I think it was never mentioned in the docs as I followed the setup from the docs. Can you please update them mentioning this example that if a user wants to subscribe to `issue_comment` changes they first need to set up the permissions.

[2019-06-08 10:44] warrenbuckley commented on #941
Changed code snippet as follows:

[code]

OK the odd thing here is that the check is updated correctly AFAIK according to this output (to be in progress) and I get a HTTP 200 OK and the other data returned all seems fine.

[code]

However directly before this log output from the promise being returned I get the following errors in the console being reported to me. Is this more a library thing with

[2019-06-08 10:58] warrenbuckley commented on #941
OK some more digging @gr2m

I performed `npm outdated` and saw `probot` as one of the outdated resources so immediate reaction is to update it, in order to see if this fixes the issue or not with

`npm update --save/--save-dev`

Followed  by `npm run build` for the TypeScript scaffolded Probot template to generate the JS in the lib folder in order to us use the `npm run dev` to bootup the ProBot a

[2019-06-09 06:01] gr2m commented on #941
That is very interesting! Thanks for the digging! The `exp` for the app’s JSON WEB TOKEN is calculated here:

https://github.com/octokit/app.js/blob/60ca3d97401e728790da68a0e13a1b2bbd1fc05e/src/get-signed-json-web-token.ts#L9

I wonder how this could end up too far in the future? Might the machine where you create the token have a wrong time set? Any idea?

[2019-06-10 07:41] warrenbuckley commented on #941
@gr2m hmmm 🤔 no my Laptop date/time is set correctly so I am really unsure. I think something has gone funky in this project at some point.

I am going to scaffold a new TypeScript ProBot from https://github.com/probot/create-probot-app and see if I can reproduce this or not.

**Please hold...**
![Please Hold](https://media.giphy.com/media/hsCdoSbYVrBW2uwE7o/giphy.gif)

[2019-06-10 11:50] warrenbuckley commented on #941
OK I can not reproduce the error with the JWT expiration token at boot, however I still can reproduce and run into the original error as reported @gr2m

I have pushed my rough proof of concept code to this repo here
https://github.com/warrenbuckley/vale-linter

I would appreciate if you can clone this and run this as a new app yourself to see if you can help me find the root cause of this problem.

[2019-06-11 00:24] mfix22 opened #942 "JWT: 'Expiration time' claim ('exp') is too far in the future"
## Bug Report

**Current Behavior**
This error began when I upgraded to v9 from v7

When running `probot run index.js` I get the following error:
[code]

I am not creating any tokens manually, this just occurs when the bot tries to authenticate in order to make the first request.

**Expected behavior/code**
Authentication with the GitHub API on `probot@^9` should create valid API tokens

**Environ

[2019-06-12 11:17] warrenbuckley commented on #941
Closing this issue as embarrassingly it was a mistake by me & was not due to creating the updated check as I first thought, but trying to get a file with the GitHub Octokit rest.js API which did not exist (typo in path from the config yml file)

However still getting the error occasionally regarding the JWT time too far in future. Will see if I can get more details on that & make sure its not a du

[2019-06-12 11:17] #941 closed

[2019-06-12 11:33] warrenbuckley commented on #942
I originally reported this problem in this issue #941 and was talking with @gr2m about this, but my original problem was a stupidity from myself, however I am still running into the JWT expiration claim being too far in the future too.

I am also getting the same error/problem as @mfix22

My ProBot was also updated from v7 to v9 as the TypeScript scaffold/template still uses V7 & not the latest &

[2019-06-12 12:41] warrenbuckley commented on #942
For further notes/feedback

* Updated from 9.2.13 to 9.2.14
* Removed entire `node_modules` folder & done a new `npm install` in case had any hard fixed dependencies laying around - still no luck :(
* Fresh checkout of repo - so no local .env file setup with AppID or PGP Key contents
* Created a new GitHub app & still get same error on first boot once the /setup url has been called & generated the

[2019-06-12 12:46] warrenbuckley commented on #942
Is this related to the problem in anyway?

https://github.community/t5/GitHub-API-Development-and/quot-Expiration-time-claim-exp-is-too-far-in-the-future-quot/m-p/20285?advanced=false&collapse_discussion=true&q=%27Expiration%20time%27%20claim%20(%27exp%27)%20is%20too%20far%20in%20the%20future&search_type=thread

[2019-06-12 13:17] warrenbuckley commented on #942
OK for the request made to https://api.github.com/app/installations?per_page=100
I have the following sent as a JWT token as the payload (decoded via jwt.io)

### Header
[code]

### Payload
[code]

Issuer `iss` matches my GitHub Application ID of 32862 (Latest generated app for testing)
Issued At `iat` stores seconds since EPOCH so is
[code]

Expiry `exp` converts to
[code]

### Related Request ID

[2019-06-12 18:19] mfix22 commented on #942
I tried changing this line: https://github.com/octokit/app.js/blob/master/src/get-signed-json-web-token.ts#L12
to be 9 seconds instead of 10, and it started working. This seems like it is a more complicated issue than just changing the expiry, but I hope this gives you some insight.

[2019-06-12 18:31] gr2m commented on #942
you mean 9 minutes instead of 10?

I think it might be a good idea to not max out the expiration, maybe we could reduce it to 9minutes and 59seconds, that should work with rounding errors as described at https://github.community/t5/GitHub-API-Development-and/quot-Expiration-time-claim-exp-is-too-far-in-the-future-quot/m-p/20457/highlight/true#M1127

@mfix22 could you try that?

[code]

[2019-06-12 19:31] mfix22 commented on #942
Excuse me, yes I meant "minutes". `60 * 10 -1` didn't work, and neither did `60 * 10 - 20`.
`60 * 10 - 30` worked however.

[2019-06-12 19:35] warrenbuckley commented on #942
But @gr2m my thought is that this has worked up until recently as surely more people would be reporting this error, has something changed at the API end for JWT authorisation?

Also I will try with a V7 version of ProBot to see if that has a problem or not & what JWT is getting created there for comparison & if it works play spot the difference (But it will be tomorrow UK time)

[2019-06-12 19:37] gr2m commented on #942
@warrenbuckley I agree. I for one do not see that error with the WIP app, even when running it locally. Can you confirm that if we reduce the expiration time by 30 seconds you no longer see the error (but still do if we only reduce by one or 10 seconds)?

Can either of you provide a minimal test case? We use https://github.com/octokit/app.js internally, maybe a minimal test case to reproduce the p

[2019-06-12 19:41] gr2m commented on #942
This is how JWT was calculated before:
https://github.com/probot/probot/blob/91cf5b0d367c56cc31e548425c025373f5f19b49/src/github-app.ts

As far as I can tell it's exactly the same as it works right now 🤷‍♂
https://github.com/octokit/app.js/blob/60ca3d97401e728790da68a0e13a1b2bbd1fc05e/src/get-signed-json-web-token.ts

[2019-06-12 19:49] warrenbuckley commented on #942
Hmm sounds like a game of spot the difference is in order then @gr2m

It's not quite the same though

### Previous
[code]

### Current
[code]

So previous one just added on 60 seconds from current issued time and the current one adds on 10 minutes from current time.

[2019-06-12 20:04] gr2m commented on #942
Ahhh great spotting! I remember now that we recently fixed that in `@octokit/app`:
https://github.com/octokit/app.js/pull/33/files

I’d still like to have a minimal reproducible test case, it will help the fine GitHub API folks to investigate the problem faster.

For the time being we can lower the time out in `@octokit/app`. Anyone of you want to send a pull request?

[2019-06-12 20:11] mfix22 commented on #942
I can take care of that @gr2m 👍

[2019-06-12 20:44] gr2m commented on #942
I think 30s is okay for now. I hope that this problem gets resolved on GitHub’s side soon. I just need a reproducible test case. I was not able to reproduce the error myself yet :(

[2019-06-12 20:48] warrenbuckley commented on #942
I need to get off my phone for tonight. Will check in the morning how it’s going. Keep me posted :smile:

[2019-06-12 21:33] #942 closed

[2019-06-13 07:26] warrenbuckley commented on #942
Ace to see a new release this morning, so will try that out later today after some meetings.
@gr2m do you still need a repro case to give to the GitHub API team?

[2019-06-13 07:33] gr2m commented on #942
yes, that would be very helpful

[2019-06-13 10:36] warrenbuckley commented on #942
@gr2m I am struggling to reliably reproduce this, do you have any luck for a simple repro test case @mfix22 ?

I can confirm that upgrading to 9.2.14 fixes the problem in my project I was having 😍

[2019-06-13 15:59] mfix22 commented on #942
I'll try and put one together, but it will have to be later this week/weekend!

[2019-06-13 16:58] gr2m commented on #942
no rush! It looks like someone else run into the same problem: https://github.com/octokit/rest.js/issues/1399

I feel like something changed on GitHub’s site

[2019-06-17 09:28] jannik-mohemian commented on #780
Just checking in again 😉
Now that #751 is merged, will this work in a minimalistic way in RunKit?
Looks like @tcbyrd 's runkit results in an error (https://runkit.com/tcbyrd/5c0e9f3b753de00018097eef)

Is this something I could help out with?

[2019-06-18 05:54] kevmando opened #945 "required_approving_review_count is not returned"
## Bug Report

**Current Behavior**
`required_approving_review_count` is not returned by `context.github.repos.getProtectedBranchPullRequestReviewEnforcement` or `context.github.repos.getBranchProtection`

[code]

**Expected behavior/code**
`required_approving_review_count` is returned a part of branch protection setting - `required_pull_request_reviews`.

**Environment**
- Probot version(s): v7.5

[2019-06-18 22:23] rtsao opened #947 "End to end testing"
Has anyone tried end-to-end testing of probot apps using the real GitHub API and https://smee.io/ via some test GitHub App, test organization, test repos (all potentially created/deleted on-demand)?

An obvious drawback is rate limits and network connectivity, but I think this could be a nice alternative to snapshotting or mocking responses (at least until https://github.com/octokit/webhooks.js/is

[2019-06-19 01:44] Ninjas-in-Pajamas opened #948 "Installing Node Dependencies Error"
I have tried creating a Probot app on two (Windows) devices now and continously get the same error:

If I install a package.json beforehand, I am able to get past this error but then when I type

I get the error

[2019-06-19 13:11] JasonEtco commented on #945
Following up from our Slack thread - is it not returned at all, or is it `undefined` in the object?

[2019-06-19 13:57] kevmando commented on #945
@JasonEtco

It seems not at all. `undefined` may appear since I specified the one.
Here is the part of `context.github.repos.getBranchProtection` debug from Probot.
You can see other 2 - `dismiss_stale_reviews` and `require_code_owner_reviews`, but not `required_approving_review_count` there.

[code]

[2019-06-19 21:27] gr2m commented on #948
Hello Pajama Ninjas 👋

Did you follow the instructions at https://probot.github.io/docs/development/?

What command do you use to create a new app?

[2019-06-19 21:29] gr2m commented on #947
Hey Ryan, not that I know of, but I’d be very interested myself.

We have such a setup for https://github.com/octokit/fixtures, but it only records responses to REST requests, not webhooks.

https://github.com/slackapi/steno was suggested to me to check out at some point but I never had the chance to look into it

Let me know if how I can help :)

[2019-06-20 02:07] amilner42 opened #949 "[QUESTION] Developing during production?"
Hello. I couldn't find docs on the recommended setup for developing while the github-app is in production? You'd have the webhook-url in your github-app settings directed towards your deployed instance of probot, so how would you develop locally?

All I have in mind now is just creating a copy of the repo, and having 2 repos, one for prod and one for local development, and constantly copying chang

[2019-06-20 02:20] Sam-the-Unwise commented on #948
Yes that's what I was trying to use. I used the command "npx create-probot-app app-name" but it would consistantly give me the errors seen above.

PS:
ISSUE SOLVED
It seems that the Probot app wouldn't create all node dependencies inside your "app-name" file and so, if you are using a windows machine, you have to go into that file and do "npm install" in order to get it working. This was tested ou

[2019-06-20 17:34] #883 closed

[2019-06-22 07:08] faustbrian opened #951 "Setting headers for all requests"
I am currently building a bot that relies on some features that are locked behind previews of the GitHub API. Since I am required to send the preview I want to use via an Accept Header I am currently doing it like in the snippet below.

[code]

Is there a way to set those headers globally for all requests I run through `context.github` or do I need to specify them on a per-request basis?

[2019-06-24 03:59] gr2m commented on #951
I _think_ there was a way to configure options for the Octokit constructor which then results in `context.github` but I cannot recall. If you find out, the option is documented here:

http://octokit.github.io/rest.js/#previews

Instead of passing a custom header, you can also pass the special `mediaType.previews` option, that will make it easier to combine multiple previews

[code]

[2019-06-25 23:17] chrishiestand commented on #921
I'm no longer using this codepath, so I'm not sure if the issue still exists or not. Closing for now. If anyone has the same issue, feel free to re-open or open a new issue.

[2019-06-25 23:17] #921 closed

[2019-06-28 04:33] brainchest opened #954 "Running probot.receive in tests throws error"
## Bug Report

**Current Behavior**
Starting out with testing in probot I tried to use the test according to the documentation to get up and running.

[code]

However, the line probot.receive throws

[code]

The fixture is

[code]

It's probably something obvious but I can't find the issue. Input for this example is https://probot.github.io/docs/testing/

**Expected behavior/code**
Test succeeds

[2019-06-28 04:57] gr2m commented on #954
can you try

[code]

[2019-06-28 18:58] brainchest commented on #954
@gr2m Oh no. Such an easy fix. I should have found it by myself. Thank You!

[2019-06-28 18:58] #954 closed

[2019-07-01 21:23] mrchief commented on #917
Still an issue

[2019-07-02 08:11] BennX opened #955 "http_proxy/https_proxy/octokit_proxy environment not used?"
## Bug Report
So i just deployed a probot stale in a Cloud Foundry and added the environment as needed for probot:
[code]

I'm simply starting it with the command `npm config set https-proxy http://proxy:8080 && npm config set http-proxy http://proxy:8080 && npm start` and `128mb of RAM after uploading the project to the cloud foundry.

The bot is starting properly with little warnings and then ru

[2019-07-03 02:01] zeke commented on #929
🤷‍♂ I never got scoped logging working.

[2019-07-03 02:52] lswith opened #956 "Use Extensions rather than create new bots"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have found much of the functionality for a bot I require to be in multiple bots. It would be nice to be able to use 1 bot instead of having to install 10 for 1 repository.

**Describe the solution you'd like**
I suggest that Probot enable extensions rather than creating new bots, as a way for users to get the

[2019-07-03 03:17] lswith opened #957 "Probot Metrics"
## Feature Request

**Is your feature request related to a problem? Please describe.**
There is a hard limit on how many github api calls can be made from a specific user. The current api limit is 5000 per hour. Being able to track how many github api calls have been made is needed.

**Describe the solution you'd like**
I'd like to be able to collect metrics from probot. The metrics I'd like to co

[2019-07-03 05:23] PavanVasist commented on #745
Facing the same issue, any update on timelines on fixing this?

[2019-07-03 05:32] gr2m commented on #957
We handle the rate limit in latest probot by throttling requests as needed. It’s more complex that counting requests. The implementation is here: https://github.com/octokit/plugin-throttling.js

[2019-07-03 05:36] gr2m commented on #956
The idea to combine multiple apps easily into one came up before, but we never came up with a good design. It's not a priority right now, but I’d be interested on if we can come up with a simple API design. I think people should be able to install other probot apps as dependency and then just require them as modules. I wouldn’t try to reinvent the wheel but built upon Node’s existing APIs

[2019-07-03 05:53] faustbrian commented on #951
Thanks, will just stick with a helper method for now then.

[2019-07-03 05:53] #951 closed

[2019-07-03 22:43] lswith commented on #957
That's perfect! I agree that it is more complex than counting requests but it's nice to have metrics from an operations point of view. Are metrics still in the works?

[2019-07-03 22:59] lswith commented on #956
I definitely agree. Looking at [`prow`](https://github.com/kubernetes/test-infra/tree/master/prow) and how they manage their [plugin api](https://github.com/kubernetes/test-infra/tree/master/prow/plugins) for consuming webhooks, I'd say something like there's could work here.

For scope:
- each plugin has its own configuration file that determines if the plugin is being used or not. If the configu

[2019-07-05 09:59] praWeb commented on #917
It is still happening, I am not able to use my app which was working before.

[2019-07-05 16:47] gr2m commented on #917
This is just a deprecation warning, not an Error. It should not affect your app

[2019-07-06 06:07] Sergiusz37 opened #959 "Free"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I have an issue when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2019-07-06 06:26] #959 closed

[2019-07-06 19:20] HenryHoggard commented on #928
Just checking if you have any other information on this.

[2019-07-06 20:11] gr2m commented on #928
What your did you set GHE_HOST to exactly?

[2019-07-07 04:55] Jake-Gillberg opened #960 "probot.receive in tests throws an error"
## Bug Report
The default tests for the ts-basic application template throws an error at probot.receive

**Current Behavior**
This test throws a typeError that seems to stem from come from @octokit

[code]

However, on `npm run test` we get an error:

[code]

**Expected behavior/code**
Test Passes

**Environment**
- Probot version(s): 9.2.15
- Node/npm version: 6.10.0
- OS: Debian 9.8

**Additiona

[2019-07-07 17:04] Jake-Gillberg commented on #960
Oops, the test itself was broken because of this line `app.app = () => 'test'`. This was, however, a default test that came with create-probot-app. I'll open up an issue over there.

Fixed by removing that line and changing `probot = new Probot({ id: 123, cert: 'test' })` to  `probot = new Probot({ id: 123, githubToken: 'test' })`.

[2019-07-07 17:04] #960 closed

[2019-07-09 04:22] #922 closed

[2019-07-12 03:43] lswith commented on #929
I'd like scoped logging as well

[2019-07-14 06:09] divramod opened #966 "Error 'Expiration time' claim ('exp') is too far in the future"
## Bug Report

**Current Behavior**
Probot throws error and deprication warning.

[code]

**Expected behavior/code**
Probot running without error

**Environment**
- Probot version(s): [e.g. v9.2.19]
- Node/npm version: [e.g. Node 11.14.0/npm 6.10.0]
- OS: [Linux Arch]

**Possible Solution**

**Additional context/Screenshots**
* i removed node_modules and reinstalled with ```npm install```
* the er

[2019-07-16 15:44] tcbyrd commented on #957
We typically track metrics in external solutions like New Relic/Datadog internally. The challenge with this ask is tracking API requests _per installation_. I think it's definitely useful, but I'm not sure how it could be done in Probot itself. For example in a Lambda function, we simply couldn't track calls inside the framework. What you're suggesting would require an external service to monitor

[2019-07-16 19:39] mfix22 commented on #488
@Nischay-Pro how did you re-sync your system with the server?

[2019-07-16 19:40] mfix22 opened #967 "'Issued at' claim ('iat') must be an Integer representing the time that the assertion was issued"
## Bug Report

**Current Behavior**
When running the Probot app locally, I get the following error on startup:
[code]

even though the JWT being sent is valid: https://jwt.io/#debugger-io?token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1NjMzMDU3MDcsImV4cCI6MTU2MzMwNjI3NywiaXNzIjoiMTEzODAifQ.Pn3Y7kdyYMpOUDuHUlEKErYApxXGmQR9_0--SUo4VUbgMW4_r9_63Lj0q6J07JeAcJ5XWHpauD4SaBerAjOQMgx3xNfLhE0MpzCYnO

[2019-07-16 19:41] mfix22 commented on #967
Potentially this is another issue with syncing my system clock with the GitHub servers, but I am not suer how to do that on my Mac.

[2019-07-16 19:58] mfix22 commented on #967
Looks like it is an open ticket in the GitHub platform too: https://github.community/t5/GitHub-API-Development-and/Issued-at-claim-iat-must-be-an-Integer-representing-the-time/m-p/20048#M1065

[2019-07-16 20:56] gr2m commented on #967
Can you reproduce the problem with https://github.com/octokit/app.js, which is the underlying library doing the JWT dance?

[2019-07-16 21:25] #932 closed

[2019-07-17 00:00] mfix22 commented on #967
@gr2m if I change this line: https://github.com/octokit/app.js/blob/38a4e69348ccfbc6fec31c3048497d0a96db68d6/src/get-signed-json-web-token.ts#L9 to

[code]

the issue it solved. Should I open this in `octokit/app.js` instead?

[2019-07-17 00:04] mfix22 commented on #967
This example reproduces the issue:

[code]

[2019-07-17 21:28] gr2m commented on #967
Hmm the code just works for me, without subtracting 30 seconds from now.

I’d like to better understand what the underlying issue is and if it resolves the problem for other people that see the `iat` error.

Once we have a better understanding and an idea on how to workaround the problem, https://github.com/octokit/app.js is the right place to fix it right now (though it will be https://github.com

[2019-07-17 21:39] Sam-the-Unwise opened #969 "Unable to Get Bot to Respond/Notice Comments"
I am trying to get my bot to respond to an @mentioned comment, but before I even do that I am trying to get it to recognize any comment on an issue or pull request. I am using the code as follows

`module.exports = app => {
  app.on('issue_comment.created', context => {
    context.log('Comment created')
  })
}`

However, my bot isn't recognizing the comment nor logging it. The console doesn't rea

[2019-07-17 22:15] mfix22 commented on #967
@gr2m I restarted my computer, and the issue went away for me 🤦‍♂That is probably not helpful.

You can probably close this issue, since it is most likely a complete duplicate of #966 etc.

[2019-07-17 22:22] gr2m commented on #966
@divramod does the workaround mentioned in https://github.com/probot/probot/issues/967 solve the problem for you?

[2019-07-17 22:23] gr2m commented on #967
Yeah let’s do that. I’ll keep an eye out on though. Thanks for your help!

[2019-07-17 22:38] #967 closed

[2019-07-18 02:10] divramod commented on #966
thx. changing https://github.com/octokit/app.js/blob/38a4e69348ccfbc6fec31c3048497d0a96db68d6/src/get-signed-json-web-token.ts#L9 to
``` const now = Math.floor(Date.now() / 1000) - 60;```
solved it for me too.

It would be nice to have a hint on how to sync system time until this is solved in octokit. Do you have any  idea on this for linux arch?

[2019-07-18 04:18] gr2m commented on #966
Great, thanks for checking!

... did you try to turn it off an on again? It worked for Michael https://github.com/probot/probot/issues/967#issuecomment-512588996 🤷‍♂

[2019-07-18 10:43] divramod commented on #966
sadly a restart wasnt successful.

[2019-07-18 12:05] wilhelmklopp opened #970 "Performance on Probot 9"
We've been trying to upgrade the GitHub Slack integration from Probot 7.5.3 to Probot 9, so that we can make use of all the awesome new features specifically the ability to cache installation tokens in redis. Pull request is here: https://github.com/integrations/slack/pull/877

Yesterday, we tried to deploy this pull request, but we saw a severe performance degradation so we had to roll back the c

[2019-07-18 12:46] gimenete commented on #970
Hey,

In my opinion the work done in `processor.js` should have no impact independently of the probot version. It's just doing some work in the background, instead of _awaiting_, which is completely independent of the probot architecture.

But I'll keep an eye on this issue to see if there's something we can change to improve things.

[2019-07-18 18:56] gr2m commented on #970
The new throttle plugin does more nuance throttling than the previous 1s / request. The Bottleneck settings are not configurable at this point but we could change that: https://github.com/octokit/plugin-throttling.js/blob/b2ac75fde6b862c39710d758adc8cfa306871098/lib/index.js#L14-L38 so you could fine-tune it to your requirements.

You can also use Redis for throttling data persistence instead of m

[2019-07-19 01:17] SGrondin commented on #970
I'd be curious to know the length of the Bottleneck queue while memory usage is high. I recently heavily refactored Bottleneck's core engine to avoid closures and allocations by reusing prototype functions and that reduced memory usage by 40%.

The throttling plugin is not a simple machine. It has to compose a lot of closures and it's possible that they lead to a high memory usage while the plugin

[2019-07-19 14:28] scepticulous commented on #970
Thanks for sharing all these insights @gr2m and @SGrondin .
I will soon(ish) add a commit that disabled plugins and retry the deploy while observing the error rate but also the memory usage compared to before as suggested. 🙏 🙇
Will post an update once that happened.

[2019-07-19 22:31] praWeb commented on #264
Do we have any update on this?

[2019-07-21 05:34] kagof opened #971 "'@octocat/webhooks' has no exported member 'WebhookPayloadWithRepository'"
## Bug Report

**Current Behavior**
The type definition in `context.d.ts` is trying to pull in `WebhookPayloadWithRepository` from the octocat webhook type definitions. This type is not found in `@octocat/webhooks/index.d.ts`.

[code]

**Expected behavior/code**
It should pull in a valid type.

**Environment**
- Probot version(s): 7.2.0 (initialized with `npx create-probot-app my-first-app` and th

[2019-07-23 05:50] greenkeeper[bot] opened #972 "An in-range update of standard-markdown is breaking the build 🚨"
## The devDependency [standard-markdown](https://github.com/zeke/standard-markdown) was updated from `5.0.1` to `5.1.0`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2Fstandard-markdown-5.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

standard-markdown is a devDepende

[2019-07-23 21:30] JohnHandley commented on #928
Had the same issue

[2019-07-23 22:15] #935 closed

[2019-07-30 17:12] MikaelSmith commented on #619
Is there a reason no one's put up a PR? I'm willing to try.

[2019-07-30 22:27] gr2m commented on #619
Not that I know. Give it a go :)

[2019-08-05 16:13] MikaelSmith commented on #619
Part of resolving this would probably be a maintenance plan for probot-config. I'd suggest
- when the updated context.config is released, add a README header to probot-config that new development should happen in mainline probot (bug fixes might still be applied both places?)
- archive probot-config. Seems reasonable to do that soon after the context.config release goes out since probot-config has

[2019-08-05 20:17] Incubbus opened #976 "Bot not receiving anything"
## Bug Report

**Current Behavior**
The bot does not seem to receive anything.

[code]

**Expected behavior/code**
Any log message indicating a received event.

**Environment**
- Probot version(s): 7.2.0
- Node/npm version: 10.15.3/6.4.1
- OS: Windows 10

**Additional context/Screenshots**
![ProbotFuckuo](https://user-images.githubusercontent.com/5290648/62492314-88561680-b7ce-11e9-8341-3d6c1e1ebd

[2019-08-05 20:34] greenkeeper[bot] opened #977 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.16` to `24.0.17`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fjest-24.0.17).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a devDepend

[2019-08-05 20:45] Incubbus commented on #976
Same happens when running on a debian server.

[2019-08-05 20:49] gr2m commented on #976
Are the events showing up on smee?

[2019-08-05 20:51] #977 closed

[2019-08-05 21:18] gr2m commented on #619
Thanks for taking this on Mikael! Given that it's hard right now to maintain Probot as is, I think I'd go with the low-maintenance choice, add a note to the README and then archive the repo

[2019-08-05 21:29] gr2m commented on #619
fixed via #975

[2019-08-05 21:29] #619 closed

[2019-08-05 21:29] gr2m commented on #619
Could you make a PR to the probot-config repo?

[2019-08-05 21:41] MikaelSmith commented on #619
On the topic of mocking, the tests themselves use `jest.spyOn(github.repos, 'getContents')`, and that seems to work well.

Added a README PR: https://github.com/probot/probot-config/pull/36

Also, do you have any sense of the frequency that GitHub App hosted versions of Probot apps (I'm particularly interested in the Welcome app) get updated to new releases of Probot?

[2019-08-05 21:54] gr2m commented on #619
I do not know that, I'm actually not sure how these are deployed. But find out. Maybe ideally they would be deployed with each new GitHub version? We could pin the probot version in the dependencies and use Greenkeeper to update to the latest probot with each release. As long as automated deployment is setup this should just work :tm:

[2019-08-05 21:58] MikaelSmith commented on #258
Does #619 sufficiently resolve this issue? https://github.com/probot/probot/blob/v9.3.0/docs/best-practices.md#store-configuration-in-the-repository in particular is where I documented how to use out-of-repo config with `context.config` (for apps that update to 9.3.0+).

[2019-08-05 22:09] gr2m commented on #619
The Welcome app is still running on Probot 7, the source code is here:
https://github.com/behaviorbot/welcome/

It'd be great to update it and the other apps it depends on to the latest Probot. Once we have that working, we can setup continuous deployment. Bex added me as admin to the @behaviorbot org so I merge PRs

[2019-08-08 06:30] greenkeeper[bot] opened #978 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.0` to `12.7.1`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fnode-12.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDependenc

[2019-08-08 06:36] greenkeeper[bot] opened #979 "An in-range update of @types/jsonwebtoken is breaking the build 🚨"
## The devDependency [@types/jsonwebtoken](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `8.3.2` to `8.3.3`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fjsonwebtoken-8.3.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jsonwebto

[2019-08-08 15:55] gr2m commented on #979
false positive, trouble @ travis

[2019-08-08 15:55] #979 closed

[2019-08-08 15:55] gr2m commented on #978
false positive, trouble @ travis

[2019-08-08 15:55] #978 closed

[2019-08-08 21:10] chrisdothtml commented on #869
I'm still getting this on probot **v9.2.20**.

[code]

Looks like it's traced to the bunyan logging lib at [lib/bunyan.js#L1139-L1150](https://github.com/trentm/node-bunyan/blob/fe31b83e42d9c7f784e83fdcc528a7c76e0dacae/lib/bunyan.js#L1139-L1150)

[2019-08-08 22:10] shyamkrishnan-b opened #981 "Error trying to request PR review from a team within GHE"
## Bug Report

**Current Behavior**
I am trying to request review from a team on all my PRs. The team slugs are passed into the following method as an array

[code]

**Expected behavior/code**
Expected behavior is for the team slugs to be added as reviewers on the PR

**Environment**
- Probot version(s): 7.4.0
- Node/npm version: 10.14.1
- OS: RHEL and Windows 10
- GHE : 2.17.5

**Possible Solutio

[2019-08-10 03:02] KhSa2030 opened #983 "GreatSA-2030"
![4AAB12A4-755A-4BB5-B900-AD2B7D20352B](https://user-images.githubusercontent.com/53959571/62816731-4c0b1900-bb34-11e9-9869-dcd5f0922481.jpeg)
سارعي للمجد والعلياء

[2019-08-10 03:31] #983 closed

[2019-08-11 16:39] gr2m commented on #981
`reviewers` and `team_reviewers` should be arrays of the logins, see example: https://developer.github.com/enterprise/2.17/v3/pulls/review_requests/#example

are you passing `node_id`s instead?

[2019-08-12 13:36] shyamkrishnan-b commented on #981
@gr2m We are sending in array of user logins for ```reviewers``` and array of team slugs for ```team_reviewers```.
The method call works correctly when for user logins but gives the above error specifically for team slugs.

[2019-08-13 00:21] gr2m commented on #981
Could you please try to send the request using `curl`? There might be an API bug, if you can reproduce the problem with `curl`, send a message to support@github.com to let them know, together with the curl command (with redacted credentials) and response. You can reference this issue

[2019-08-13 13:38] shyamkrishnan-b commented on #981
@gr2m I tried the API call with a Postman request (with same Github team slug) and it was successful.

[2019-08-14 01:23] gr2m commented on #981
Can you log out error.request and paste it here?

[2019-08-14 02:34] #933 closed

[2019-08-14 03:51] Schachte opened #984 "Retrieving status check values from a pull request off the context?"
Looking at the payload for a pull request, I'm wondering how to grab the associated list of status checks from this context. For example, a Jenkins build being successful, OWasp being successful, etc.

[2019-08-14 04:34] gr2m commented on #984
If I recall correctly, you have get the last commit ref of the pull request, and then get all statuses & check runs for that commit.

[2019-08-14 13:14] Schachte commented on #984
Do you have any code snippets by chance?

[2019-08-14 14:13] Schachte commented on #984
Looks like I'm hitting a 403 `GitHub request: GET /repos/:owner/:repo/commits/:ref/check-runs - 403 undefined`

[code]

[2019-08-14 15:32] gr2m commented on #984
"not accessible by integration" means the app does not have the required permissions. You need read access to

1. Commit Statuses
2. Checks

These two things look the same in the UI, but you need two different requests to retrieve them.

I've implemented this in the past but I can't remember where it was, so I don't have a snippet for you, I'm sorry

[2019-08-14 15:38] Schachte commented on #984
@gr2m That was it, thanks! I found an old snippet from you actually on another thread and that's exactly what I need. Appreciate the quick response.

[2019-08-14 15:38] #984 closed

[2019-08-14 19:57] shyamkrishnan-b commented on #981
@gr2m I have been trying to log the request being made but have not been able to. I changed the log-level to debug and get the below log snippet which gives info around the probot request.

[code]

[2019-08-14 20:01] shyamkrishnan-b commented on #981
I can take the exact request ,run it via github api on the same endpoint and it works. We have tried changing permissions on the Github app and have not helped.

[2019-08-14 20:40] ezyang opened #985 "Zeit Now instructions don't appear to work"
## Bug Report

**Current Behavior**

Setup the tutorial application using https://probot.github.io/docs/hello-world/

Follow the https://probot.github.io/docs/deployment/#now instructions to deploy

It fails with:

[code]

**Expected behavior/code**
It works

**Environment**
- Probot version(s): 7.2.0
- Node/npm version: [e.g. Node 8/npm 5]
[code]
- OS: OS X Mojave

[2019-08-14 20:57] ezyang commented on #985
After reading some more Zeit docs, it seems that you have to put index.js in the api/ folder

[2019-08-14 22:17] gr2m commented on #981
Hmm do you use the latest version of probot? It should include the latest version of `@octokit/rest`. The `response` you shared should have a `request` key which shows the request.

Could you try to reproduce the same problem on api.github.com? If yes, we could create a small demo that we could collaborate on. When I can reproduce it myself, I'm sure I can find out what the problem is

[2019-08-14 22:21] gr2m commented on #985
I don't think Probot will work with now v2, but it does with v1. The instructions would ideally reflect that. I think the creation of a `now.json` file is required. We would appreciate a pull requests if you get it to work

[2019-08-15 14:18] ibakshay commented on #985
@ezyang  I did a small POC by using Zeit Version 2 serverless deployment and It seems to be working fine for me. https://github.com/ibakshay/zeit-serverless-deployment-poc

My Reference and credits : https://github.com/tibdex/probot-serverless-now

[2019-08-15 18:15] gr2m commented on #985
Maybe we could document both approaches? We definitely want to make it easier to deploy Probot to a serverless deployment target, having the current process documented will help us understand the current pain points

[2019-08-15 18:52] ezyang commented on #985
Up to y'all; in the end I deployed probot to AWS Lambda instead XD

[2019-08-16 15:07] johlju opened #987 "Using context.config return error 'Cannot read property 'getContents' of undefined'"
## Bug Report
**Current Behavior**
When running the below code (start it through a run a jest test)

[code]

I get the following error

[code]

It looks like it is having problem with this line.

https://github.com/probot/probot/blob/b656ef668e95ca6903584f5be33c178370799ddf/src/context.ts#L230

Am I missing something for this to work?

**Expected behavior/code**
Should return the default configrat

[2019-08-16 15:29] johlju commented on #987
When running the code to reproduce the error I get another error than in the actual GitHub App, in the GitHub app I get the error

[code]
From on of the tests.

[code]

[2019-08-16 16:50] ezyang commented on #337
This issue helped me, thank you!

[2019-08-16 17:35] ezyang opened #988 "Team mentions don't work, even with organization member read permissions"
This is not really a probot bug, but it is likely to affect probot users so I want to report it here.

In #337 it was documented that team mentions requires Read access to Organization members. I have tested this recently and it does not seem to work anymore.

Testing strategy:
1. Install https://github.com/pytorch/pytorch-probot on your repo
2. Make a team
3. Add the team as a CC on some label ht

[2019-08-16 17:51] gr2m commented on #987
Did you mock `context.github` in your tests?

[2019-08-16 18:24] johlju commented on #987
When you say that I'm not certain. 🤔 Is there an example somewhere that shoes how to mock that?

I tried to follow the examples, actually had this working in a prior Probot version (without the config part) ~a year ago. Trying to move it to newest Probot, and tried follow examples (as it has changed a lot since then). Please note that I'm learning as I go here, so I could have missed something.

H

[2019-08-16 18:39] gr2m commented on #987
No worries, I ran into the same problems :) Here is where the `context.github` methods are currently mocked

https://github.com/johlju/relabeler/blob/ab08c84b9f1d4963d821031ac009429a125690bf/test/index.test.js#L81-L100

You have to update the mocked methods the same way you do in your code. See https://github.com/probot/probot/releases/tag/v9.0.0 for migration instruction.

Ideally we would not mo

[2019-08-16 19:12] johlju commented on #987
@gr2m Thank you so much! I was on the totally wrong track trying to figure out why this didn't work! Just one more letter in the name in that location you referenced, and I had even made comments to remind me what the section did! I have sat with this for several hours 😞😆 Test passing now! Finally back to a clean state so I can continue. 😄
For reference for others: https://github.com/johlju/relabe

[2019-08-16 19:22] gr2m commented on #987
Ideally we would have a test where we could test an entire lifecycle, from a mocked webhook to mocked requests that are sent in the handlers. It's definitely high on my priority list for Probot, but am currently busy working on underlying Octokit libraries.

[2019-08-16 19:23] #987 closed

[2019-08-20 16:38] shyamkrishnan-b commented on #981
@gr2m We were able to resolve it by tweaking the app permissions. I think adding "Repository Metadata" permissions to read-only did the trick. In the process we upgraded to use the latest version of probot and it helps a lot with the additional logging.

[2019-08-21 12:01] BennX commented on #955
Any news or information how to inject a proxy into the probot?

[2019-08-23 10:27] devmchakan opened #991 "dev"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I have an issue when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2019-08-23 10:29] devmchakan commented on #991
like

[2019-08-23 17:13] #991 closed

[2019-08-23 18:08] rtsao opened #992 "Cloudflare workers deployments"
It would be awesome to have documentation on how to deploy probot apps to https://workers.cloudflare.com

Cloudflare workers has very generous free tier that could be a good option for folks.

I assume an equivalent https://github.com/probot/serverless-lambda for Cloudlfare workers would need to be created though.

[2019-08-23 18:12] gr2m commented on #992
I very, very much agree. I fear it will be complicated :tm: with the current probot, but would love to make this part of Probot v10.

I'm not as familiar with either lambda or workers, but want to understand them better. Would appreciate any help for making lambda/Cloudflare workers a prime target for probot apps.

If you would be interested, I could setup a separate repository in which we can exp

[2019-08-23 20:20] #948 closed

[2019-08-23 20:26] gr2m commented on #955
I don't think this is possible today by configuring an environment variable alone.

`@octokit/rest` accepts a `request.agent` option which is an http/https agent:

Here is a proxy test that showcases how it works:
https://github.com/octokit/rest.js/blob/6b4a5d77d8f960fa727c65f2e91a01f38b3aa3fc/test/integration/agent-proxy/agent-proxy-test.js#L44

There is a workaround where you can pass your own O

[2019-08-24 18:18] BennX commented on #955
@gr2m I'd really appreciate that since it would enable it for all bots build with probot, as long as they update the probot dependency.

[2019-08-25 15:20] #945 closed

[2019-08-26 01:49] rtsao commented on #992
That sounds good! I'd be interested in experimenting with getting probot working on CF workers.

[2019-08-26 03:20] #949 closed

[2019-08-27 21:43] getshravan opened #995 "The same Webhook events sometimes not getting forwarded to smee proxy"
## Bug Report

**Current Behavior**
The webhook events are not getting sent to smee proxy. I could see the events under `Recent Deliveries`, but the same payload is not getting sent to smee.io eventually to my probot app when I `redeliver`

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Environment**
- Probot version(s): [e.g. v7.2.0

[2019-08-28 23:11] gr2m commented on #204
I'm looking into OAuth authentication for GitHub Apps for the Octokit libraries that Probot is using internally. Probot might likely add support for OAuth in a future version as a result of that. But right now I'm looking for use cases, I'm currently not sure if/how people are using the OAuth feature of GitHub Apps?

[2019-08-28 23:21] gr2m commented on #228
I'm looking into OAuth APIs for GitHub Apps right now. Please share your use cases :)

[2019-08-29 04:44] getshravan commented on #995
@gr2m  I am using our companies enterprise GitHub, considering security, Is there a way I can directly configure my IP (probot is running) instead of using Web proxies like smee, Glitch now etc. There is also an answered [question](https://stackoverflow.com/questions/50756295/probot-how-to-use-probot-without-proxy)  in stack overflow on this. It would be really of great help if it get answered. Th

[2019-08-29 11:35] Majidbeg opened #997 "Not getting the pull request(open) payload."
## Bug Report

**Current Behavior**
i am trying to get the payload of opened/closed pull request using pro bot but i am not able  get the payload for opened/closed pull request. I do however get the payload for merging action .

[code]

**Expected behavior/code**
Return a payload response for all the actions of a pull request.

**Environment**
- Pro bot version(s): 7.2.0
- Node/npm version:  Node

[2019-08-29 12:27] Majidbeg commented on #997
i got the payloads,There was an issue with app.yml file.

[2019-08-29 12:27] #997 closed

[2019-08-29 20:23] chainlink opened #998 "Lockdown homepage in production"
## Feature Request

The default homescreen and setup app are great to get going, but I'd like to be able to disable them in prod. What's the best way to do this?

[2019-08-29 20:49] MaximDevoir opened #999 "Incorrect return type for `graphql` method"
## Type Issue

The specified type for the [`.graphql`](https://github.com/probot/probot/blob/ade14ae1dc047fa20934cdbd5ff8a589cff22329/src/github/index.ts#L70) method under [`GitHub API`](https://github.com/probot/probot/blob/ade14ae1dc047fa20934cdbd5ff8a589cff22329/src/github/index.ts#L72) seems to be incorrect.

It's currently set to `Promise<`[`GraphQlQueryResponse`](https://github.com/probot/pr

[2019-08-29 22:24] gr2m commented on #999
Hi @MaximDevoir thank you for the pull request!

We recently migrated https://github.com/octokit/graphql.js to Typescript, so I think we should be able to remove the Typescript definitions altogether from this repository. Could you try that please?

[2019-08-30 01:03] gr2m commented on #998
I _think_ the setup screen is only shown if no env variables are set, so that should be no problem.

Why would you want to disable the default homescreen?

[2019-08-30 01:04] gr2m commented on #995
I think that this would be a better question for support@github.com, I don't really know much about GitHub Enterprise I'm afraid

[2019-08-30 19:09] MaximDevoir commented on #999
I'll try that.

[2019-09-03 18:20] greenkeeper[bot] opened #1002 "An in-range update of @octokit/rest is breaking the build 🚨"
## The dependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.28.8` to `16.28.9`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40octokit%2Frest-16.28.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a direct dependency of t

[2019-09-03 19:04] gr2m commented on #1002
https://github.com/greenkeeperio/greenkeeper/issues/1125#issuecomment-527595031

[2019-09-03 19:04] #1002 closed

[2019-09-03 21:34] jescalan opened #1003 "How to get the installation token?"
I have been banging my head against this for quite a while and I feel like perhaps someone else may know the answer. I need to get an installation token in order to be able to clone down repo code and run static analysis on the files as demonstrated [in this guide](https://developer.github.com/apps/quickstart-guides/creating-ci-tests-with-the-checks-api/#step-22-cloning-the-repository). However, I

[2019-09-03 21:59] gr2m commented on #1003
There is no simple way to do this today, it is however a usecase I want to cover with the next Probot version.

I know others where asking for this before and found some way around it, but I cannot recall exactly how they did :( If you search through past issues then I hope you can find it, or maybe someone else here remembers and can point you to the right place.

For the time being, if you have

[2019-09-03 22:05] JasonEtco commented on #1003
👋 The trick here is to use the _app's_ authentication to get the installation token. `context.github` is authenticated specifically to make requests on behalf of an _installation_, so it doesn't have permission to do things like create new installation tokens.

[code]

[2019-09-03 22:09] gr2m commented on #1003
☝️ Thanks Jason, that was it :) 👆

It's gonna get easier soon! With `@octokit/auth-app.js` the correct authentication header gets set automagically based on the request URL 🙌

[2019-09-03 23:03] jescalan commented on #1003
Amazing, thanks so much! Maybe I'm living in a bubble, but code analysis for PRs feels like a really big use case for probot - do you think it might be worth adding this somewhere in the docs? Would be happy to make a pull request to do so if it would be helpful.

[2019-09-03 23:13] gr2m commented on #1003
I think using the installation access token for git operations is probably not a primary use case for probot, but the questions on how to retrieve token keeps coming up, so if we don't have it in the docs yet, let's add it 👍

[2019-09-05 17:10] singsai commented on #258
I haven't been able to get the organization-wide repository configuration to work with my probot.

Within my target repository, I've tried 3 different things:
1. an empty `.github/config.yml` file
2. `.github/config.yml` file containing `_extends: .github:config.yml`
3. `.github/config.yml` file containing `_extends: .github`

Within my .github repository, I have a `.github/config.yml` file with t

[2019-09-05 21:41] singsai commented on #258
Figured it out:

My probot's `package.json` had `"probot": "^7.2.0"`.
I updated it to `9.3.3` and all is well now in the world.

[2019-09-05 22:00] gr2m commented on #258
This is resolved in latest probot

[2019-09-05 22:00] #258 closed

[2019-09-05 22:10] singsai commented on #258
I think it was an issue with create-probot-app

[2019-09-05 22:52] gr2m commented on #258
How so? I think this issue was mainly about supporting a central configuration in a `.github` repository, which is now supported in Probot by default?

[2019-09-06 19:20] denangelov opened #1007 "HttpError: Validation Failed on trying to update branch protection"
## Bug Report

**Current Behavior**
Trying to update branch protection through context.github fails with validation failed error message.

[code]

[code]

I am using the above preview header in the request

**Expected behavior/code**
Branch protection rule to be updated appropriately

**Environment**
- Probot version(s): 9.3.2
- Node/npm version: Node 10.16.0 npm 6.9.0
- OS: OSX 10.14.5

[2019-09-06 19:22] denang1 commented on #1007
Forgot to add my permissions for the app:
repository metadata: read
repository administration: read/write
repository contents: read

[2019-09-07 04:52] gr2m commented on #1007
Can you paste the full error? Can you make sure you are using the latest probot and @octokit/rest version?

WIth the latest version, you can set preview headers more easily:

[code]

[2019-09-09 00:03] #956 closed

[2019-09-09 15:04] denang1 commented on #1007
@gr2m I tried running my app with latest probot (v9.3.3) and octokit/rest (16.28.9) but it still fails. Here is the error.
<img width="994" alt="Screen Shot 2019-09-09 at 9 58 37 AM" src="https://user-images.githubusercontent.com/20870559/64542488-421e3680-d2e9-11e9-841f-f2a3dcbe413c.png">

[2019-09-09 17:26] gr2m commented on #1007
is there more information on the error? The error has a `.request` property, that's what we need to better understand the cause of your problem

[2019-09-09 17:38] denang1 commented on #1007
@gr2m
[code]

[2019-09-09 18:08] gr2m commented on #1007
Thanks, that might in fact be a bug with https://github.com/octokit/request.js/

For the time being, you should be able to do this

[code]

Could you please check if that works for you?

[2019-09-09 18:46] denang1 commented on #1007
@gr2m Yep that works! Thanks so much for the help!

[2019-09-09 18:46] #999 closed

[2019-09-13 22:39] denang1 commented on #1007
@gr2m I got the create branch protection working but when I do an update I get a 200 response with no changes to the repo. Do you have any suggestions? Thanks!

[2019-09-13 22:45] gr2m commented on #1007
Can you share your code? I had a typo in my code above, I missed the `PUT`

[2019-09-15 21:16] zeke opened #1019 "Receiving webhooks that are not from GitHub"
I am working on a Probot app that receives webhooks from both GitHub and [Crowdin](https://support.crowdin.com/webhooks/). I am getting this error on incoming webhooks from Crowdin:

Crowdin webhooks don't support shared secrets. Is there a way to bypass or configure Probot's webhook requirements?

cc @andrulko

[2019-09-15 21:26] zeke commented on #1019
Note: `WEBHOOK_SECRET` is not defined in my environment.

[2019-09-15 21:29] JasonEtco commented on #1019
@zeke I'd recommend registering a separate route for the Crowdin webhooks. Because Probot is really just a stacked up Express server with middleware, there's no way to by-pass those checks for the default Probot webhook route.

You can do:

[code]

You can also modify the default webhook path:

https://github.com/probot/probot/blob/bf354ffc80835908394f509586407b4cd35570b3/src/index.ts#L45

[2019-09-15 22:21] gr2m commented on #969
Hey Sam did you figure it out? Most likely you did not subscribe to the event or maybe setup smee incorrectly to retrieve events locally?

[2019-09-16 04:22] zeke commented on #1019
Thanks @JasonEtco 👍

[2019-09-16 04:22] #1019 closed

[2019-09-16 16:31] gr2m commented on #966
This was resolved in [`@octokit/app` v3.0.1](https://github.com/octokit/app.js/releases/tag/v3.0.1)

[2019-09-17 14:54] gr2m commented on #970
@wilhelmklopp Any update?

[2019-09-18 10:10] wilhelmklopp commented on #970
@gr2m yep, we ended up upgrading to Probot 9 a few weeks ago after disabling all the throttling we could. There was still an increase in memory usage and GC activity (presumably due to some of the built in throttling we can't disable), but to a level that was acceptable to us 👍

cc @jnraine @jules2689 @srinjoym @zmoazeni for context

[2019-09-18 10:10] #970 closed

[2019-09-18 18:18] gr2m commented on #970
There were also updates to the throttling plugin and the underlying Bottleneck library, make sure to keep Bottleneck up-to-date to the latest

[2019-09-19 03:34] greenkeeper[bot] opened #1021 "An in-range update of @octokit/rest is breaking the build 🚨"
## The dependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.28.9` to `16.29.0`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40octokit%2Frest-16.29.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a direct dependency of t

[2019-09-19 16:41] #1021 closed

[2019-09-20 16:42] gr2m opened #1022 "Follow ups from repository audit"
### TODOs

Apps

- [x] [background-check](https://github.com/probot/background-check) (Type: App (by `@itaditya`)): [Ask `@itaditya`, otherwise archive.](https://github.com/probot/background-check/issues/82)
- [x] [dco](https://github.com/probot/dco) (Type: App): [Ask if someone is interested in owning it](https://github.com/probot/dco/pull/147)
- [x] [reminders](https://github.com/probot/reminder

[2019-09-21 17:04] #957 closed

[2019-09-22 18:12] #972 closed

[2019-09-23 13:11] Logerfo opened #1023 "Property `content` does not exist on type `ReposGetContentsResponse`"
## Bug Report
Full source: https://github.com/Logerfo/close-label

### Current Behavior
Heroku build failed after upgrading from **v9.4.0** to **v9.5.0**:

         Property `content` does not exist on type `ReposGetContentsResponseItem[]`.
[code]

### Environment
- Probot version(s): v9.5.0
- Node/npm version: 12.10.0/6.10.3
- OS: IDK (Heroku)

[2019-09-23 16:28] MikaelSmith commented on #258
If create-probot-app is part of this project and adds a dependency on an older version of probot, that would be a separate issue to file.

[2019-09-23 17:24] qnnguyen17 opened #1024 "In pulls.get, getting error 'mediaType' does not exist in type 'PullsGetParams'"
## Bug Report

**Current Behavior**
When trying to typescript-compile the below code, getting `Argument of type '{ owner: string; repo: string; pull_number: any; mediaType: { format: string; }; }' is not assignable to parameter of type 'PullsGetParams'.`

[code]

**Expected behavior/code**
Should be able to compile and run, according to docs from `@octokit/rest`: https://octokit.github.io/rest.js/

[2019-09-23 19:11] gr2m commented on #1024
The problem might be `pull_number: any`. Can you try this?

[code]

[2019-09-23 19:15] gr2m commented on #1023
The `ReposGetContentsResponse` got better typing definitions with the current version, before it was just `any`. It actually caught a potential bug.

`context.github.repos.getContents` is using this REST API
https://developer.github.com/v3/repos/contents/#get-contents

There are 4 different response types, the only one which has the `"content"` key is https://developer.github.com/v3/repos/contents

[2019-09-23 20:13] qnnguyen17 commented on #1024
Thanks for taking a look! I changed the code to your suggestion:
[code]

And I'm getting the following error:
[code]

[2019-09-23 21:01] gr2m commented on #1024
Thanks for trying, I'll look into it, might be a bug in [`@octokit/rest`](https://github.com/octokit/rest.js/) introduced in https://github.com/octokit/rest.js/releases/tag/v16.29.0

[2019-09-23 21:37] #1024 closed

[2019-09-23 21:48] gr2m commented on #1024
to see the fix, make sure to all sub dependencies are updated. When in doubt, try

[code]

You should see something like this

[code]

[2019-09-23 23:04] lukeahn opened #1025 "How to createComment from http request"
Hi,

I would like to create a comment from HTTP request.

I do not have context. Please provide example code to send createComment from http post request.

For example,

    router.get('/hello', (req, res) => {
        res.send('Hello World')

        let test = {
            owner:'repo',
            repo:'test',
            number:3,
            body: 'testing_creating comment'
        }

[2019-09-24 02:00] gr2m commented on #1025
If you just want to interact with GitHub's API without reacting to webhooks, then [`@octkit/rest`](https://github.com/octokit/rest.js/) might be a better fit for you?

[2019-09-24 15:46] qnnguyen17 opened #1026 "Unexpected type in pulls.get response"
## Bug Report

**Current Behavior**
I have the following code:

[code]
The `console.log` line prints out `string` when I run this code in my probot app. However, it seems like the typechecker sees `diff.data` is of type `Octokit.PullsGetResponse`. Furthermore, when I do: `console.log(diff.data.body)`, I get undefined (which seems consistent with `diff.data` being seen as a string at runtime. When

[2019-09-24 15:46] qnnguyen17 commented on #1024
Thank you so much for the quick response and fix!

[2019-09-24 20:47] Logerfo commented on #1023
My typescript knowledge is not vast, but since the type is anonymous, I don't know if it's possible to type-check it. Solved it with logerfo/close-label@d1c20b83ed9eeed80eefcc9cc6178601e3565d09, but I'm not sure if this is the best that I can do.

[2019-09-24 22:47] gr2m commented on #1023
The change in https://github.com/Logerfo/close-label/commit/d1c20b83ed9eeed80eefcc9cc6178601e3565d09 looks good 👍

Note that https://github.com/probot/probot-config is now included in probot itself, so you don't need to implement reading the config file yourself

[2019-09-24 22:47] #1023 closed

[2019-09-26 06:37] #971 closed

[2019-09-26 19:55] ajschmidt8 commented on #686
are there any updates on this?

[2019-09-28 15:12] cchantep opened #1028 "Deployment documentation as GitHub action is not up-to-date"
Documentation https://probot.github.io/docs/deployment/#github-actions is mentioning `main.workflow` instead of `main.yml` with current Action syntax, and not working anyway for typescript bot.

[2019-09-28 20:57] gr2m commented on #1028
I would suggest we remove the `GitHub Actions` section for now. Pull request welcome :)

[2019-09-29 19:09] cchantep commented on #1028
Working bot:

- Workflow config in [README](https://github.com/zengularity/probot-pr-milestone)
- [Dockerfile](https://github.com/zengularity/probot-pr-milestone/blob/ghaction-1.0.x/Dockerfile)

[2019-10-01 09:26] AlFalahTaieb opened #1029 "context.config('config.yml) always return null"
## Bug Report

**Current Behavior**

When trying to go through the yaml file, i always get null,

[code]
[code]

**Expected behavior/code**

Retrieve config.yml data

**Environment**
- Probot version(s): 7.2
- Node/npm version: 10.16
- OS: W10

[2019-10-01 19:02] gr2m commented on #1029
Please update to the latest probot version, and make sure your app has either access to the `config.yml` file, or access to the repository code

[2019-10-02 14:03] parzi7al opened #1030 "Validation Failed on projects.createCard"
## Bug Report

**Current Behavior**

Creation of a project card with using `content_id` raises an error.

[code]

[code]

**Expected behavior/code**

A new card associated with the pull request will be created.

**Environment**
- Probot version(s): 9.5.0
- Node/npm version: Node 10.16.3 / npm 6.9.0
- OS: ubuntu 16.04

**Additional context/Screenshots**

[code]

works correct.

[2019-10-02 16:39] AlFalahTaieb commented on #1029
Unfortunately even with probot updated i couldn't retrieve data it's always null

[2019-10-02 18:31] gr2m commented on #1030
If that's a bug it will be with `@octokit/rest`. I tried to reproduce it but no luck, the request goes through, there is no validation error: https://runkit.com/gr2m/probot-probot-1030

Can you make sure you use the latest `@octokit/rest`? You can find out with `npm ls @octokit/rest`, it should be `16.30.1` or later

[2019-10-02 18:32] gr2m commented on #1029
Where is the `config.yml` file located in the repository? It should be `.github/config.yml`

[2019-10-02 19:09] AlFalahTaieb commented on #1029
Yes, sir it's on the .github/config.yml

always null, it's driving me crazy.

[2019-10-02 19:36] gr2m commented on #1029
Can you create a minimal probot app to reproduce the problem and install it on a public repository so we can test?

You can build it directly in https://glitch.com/, that makes it easy to invite others to directly collaborate on the code

[2019-10-02 19:55] AlFalahTaieb commented on #1029
@gr2m  Thank you for your patience, Here's my repo https://github.com/AlFalahTaieb/MonkBot

[2019-10-03 10:25] parzi7al commented on #1030
[code]

I'm not sure, but can it be related with Github Enterprise v2.17.7?

[2019-10-03 18:36] gr2m commented on #1030
Hm I don't think so, the `Validation failed` error is occurring on the client, before a request is event sent. The validation rules are logged (`error.request.validate`):

[code]

But your request fulfills al requirements

[code]

The `column_id` is part of the URL and is set to `6412`, so I don't understand how the validation could fail ...

Could you please try this instead:

[code]

This will b

[2019-10-04 06:10] parzi7al commented on #1030
Now I have different `HttpError`:

[code]

[2019-10-04 16:46] styfle commented on #985
@ibakshay Regarding [this repo](https://github.com/ibakshay/zeit-serverless-deployment-poc): if you move `/app.js` to `/api/index.js`, then you can remove both the `builds` key and the `routes` key in now.json 👍

[2019-10-04 17:21] achandlerwhite opened #1031 "config opt out not working"
## Bug Report

**Current Behavior**
As I understand it this project absorbed the probot-config functionality. The documentation on that project says that the lack of a file such as `repo1:.github/stale.yml` should result in the file `.github:.github/stale.yml` being substituted in-- i.e. it is opt out if you do not want this behavior.

See [this issue](https://github.com/probot/stale/issues/220) a

[2019-10-04 19:14] gr2m commented on #1030
Apologies, I missed that a preview header has to be set for that endpoint, as pointed out by the error message. Try this:

[code]

[2019-10-04 19:16] gr2m commented on #1031
Yes that should work out of the box, it does in fact work for my WIP app: https://github.com/wip/app

Not sure where the problem lies 🤷‍♂

[2019-10-05 09:23] ibakshay commented on #985
Hi @styfle, Thank you very much for letting me know. I will do it 😄

[2019-10-06 15:54] gr2m commented on #1029
I tested it by running your app on Glitch: https://glitch.com/edit/#!/alfalahtaieb-monkbot on my test repository: https://github.com/gr2m/sandbox/issues/92

And it just worked:

<img width="350" alt="image" src="https://user-images.githubusercontent.com/39992/66271733-95b36f80-e816-11e9-8bb4-cef0360d09eb.png">

I tried it with both:

1. only read-access to Contents:  <img width="791" alt="image" s

[2019-10-06 15:55] gr2m commented on #1029
I also tried it with the exact same config you had, and it just worked, too

<img width="404" alt="image" src="https://user-images.githubusercontent.com/39992/66271762-0064ab00-e817-11e9-822e-cce1ac315c9f.png">

I'm out of ideas, I'm sorry, there is something wrong on your side I'm afraid. I can recommend Glitch for debugging, it's great for that

[2019-10-06 18:10] gr2m commented on #1007
I tried to reproduce the problem here: https://runkit.com/gr2m/probot-probot-1007

I indeed got an error, but I had to log `error.errors` to understand what the problem was:

Is it possible that you run into the same restriction yourself?

Something I'll definitely look into is to set `error.message` to something more helpful than just `Validation Failed` 👍

[2019-10-07 01:18] dimi-nk opened #1032 "LOG_LEVEL is not picked up from .env"
## Bug Report

**Current Behavior**
It seems that `probot` doesn't pick up the `LOG_LEVEL` environment value from `.env` for some reason. If I pass it via the CLI, it seems to work fine, e.g. `LOG_LEVEL=trace yarn dev`. Other variables also work fine.

[code]

**Expected behavior/code**
I would expect `.env` values to be respected

**Environment**
- Probot version(s): [9.5.0]
- Node/yarn version:

[2019-10-07 01:41] dimi-nk opened #1033 "When searching for issues, I'm receiving issues from orgs/repos the app is not installed"
I'm writing a small bot `forgetful` to send a slack notification at pre-defined times for PRs which have not been reviewed. I'm taking a lot of inspiration (copying madly) from both https://github.com/probot/stale and https://github.com/probot/scheduler. However, the main difference is that my solution is based on cron expressions using `node-cron` rather than intervals.

I'll try to explain my cu

[2019-10-07 04:10] gr2m commented on #1033
The app has installed to all public repositories, just like people without an account. The search will not return results from private repositories that the app is not installed on.

So I'd say this is expected behavior

[2019-10-07 07:09] parzi7al commented on #1030
Unfortunately validation failed again. Please, see a full log down below:

[code]

[2019-10-07 10:48] dimi-nk commented on #1033
@gr2m thanks for the response. When you say "installed to all public repositories" is that implicit? Because I don't see the app being installed in any of them.

[2019-10-07 16:53] gr2m commented on #1033
I'm sorry, it was late yesterday. What I meant to say is:

[2019-10-07 20:43] dhuang612 commented on #893
Hi,

Can I work on this?

Thanks

[2019-10-07 21:06] dimi-nk commented on #1033
@gr2m hm, that's weird. I'm confused by the apps' permission model. I assumed the whole point of the app model was to give restricted permissions to repositories which have installed the app explicitly. Given that my repo is currently private since I'm just testing my bot, am I able to search into it? Can I use github's search or would I need to approach this differently?

If this question is goin

[2019-10-07 21:41] dimi-nk commented on #1033
One of my mistakes was to use `context.repo`. The two params provided by `#repo` are not used in `issuesAndPullRequests`. I now used:

[code]

I get both `issues` and `pull requests` for now, but I think I just need to figure out the search query. Thanks :)

[2019-10-07 21:41] #1033 closed

[2019-10-07 21:41] gr2m commented on #1033
I don't know, that would be a question better asked in https://github.community/t5/GitHub-API-Development-and/bd-p/api or via an email to support@github.com.

I'd like to know myself!

[2019-10-07 21:43] gr2m commented on #893
Sure, all yours 👍

[2019-10-07 21:48] dimi-nk commented on #1033
@gr2m reading https://github.com/octokit/octokit.net/blob/master/docs/github-apps.md and https://developer.github.com/v3/apps/permissions/#metadata-permissions I'm assuming search has access to anything public inside the domain 🤔 Thanks for your time 😃

[2019-10-08 09:07] parzi7al commented on #1030
@gr2m, I tried

[code]

and response was a next:

[code]

So, that is not a bug of probot.

[2019-10-08 09:07] #1030 closed

[2019-10-08 21:23] FlavianoFlavio opened #1035 "Bot não altera a Previsão corretamente"
Estou desenvolvendo um bot na plataforma e apresentamos o mesmo erro abaixo:

O bot eu programei para:

Toda vez que o "Último Dígito" para 5 "Alterar Previsão" para o número 5 e Acionar ou o botão "Difere"
Toda vez que o "Último Dígito" para 3 "Alterar Previsão" para o número 3 e Acionar o botão "Difere"
Toda vez que "Último Dígito" para 9 "Alterar Previsão" para o número 9 e Acionar ou botão "Di

[2019-10-08 21:50] gr2m commented on #1035
Hello, this is the bug tracker for Probot: https://probot.github.io/.

I don't know what binary.com is, but we can't help you here, sorry

[2019-10-08 21:50] #1035 closed

[2019-10-09 21:56] MaximDevoir commented on #1032
Probot is not processing the `.env` file before the [internal logger is created](https://github.com/probot/probot/blob/fd6d6febf113d9be846785efceb2de812870b4fe/src/logger.ts#L61).

#1036 will fix this issue.

In the meantime, users can set `LOG_LEVEL` and `LOG_FORMAT` through the CLI, e.g. `LOG_LEVEL=debug LOG_FORMAT=long node app.js`

[2019-10-09 22:22] #1032 closed

[2019-10-09 22:24] sccorby commented on #847
I am running into the same exact error while trying to deploy to gcf

[2019-10-10 11:21] johnsonsamuel commented on #976
Any update on this issue? I am facing the same issue. I am unable to receive any logs.

[2019-10-10 16:27] johnsonsamuel commented on #976
Thanks @MaximDevoir for your reply. The events were emitted once I gave the permission to read my code base. Is this how it is supposed to work ? Just curious..

[2019-10-10 17:24] MaximDevoir commented on #976
If you have `read` access on the `contents` permission, you will be able to read a user's codebase/repository file contents. If you have the `push` event enabled and `no access` on `contents`, you will receive a [meta information](https://developer.github.com/v3/activity/events/types/#pushevent) each time someone pushes to the repo, but you will not have access to the code contents.

Take a look a

[2019-10-10 19:31] JasonEtco commented on #976
Thanks for jumping in to help here @MaximDevoir. @johnsonsamuel, it sounds like you hadn't installed the app on the repository - GitHub Apps work by being installed on a repo to get the access and subscriptions it needs for that given repo. You can learn more about that here: https://developer.github.com/apps/differences-between-apps/#who-can-install-github-apps-and-authorize-oauth-apps

I'll clos

[2019-10-10 19:31] #976 closed

[2019-10-10 19:52] MaximDevoir commented on #1022
@JasonEtco @gr2m  I'd love to join the [Create Probot App](https://github.com/probot/create-probot-app) team and maintain CPA. I've got a few PRs that solve all the active issues on the repo. Additionaly, I've setup a [todo list](https://github.com/probot/create-probot-app/issues/83) of features and maintenance goals for the application.

I see a lot of people using older `probot` versions. I thin

[2019-10-12 21:59] #1028 closed

[2019-10-12 22:31] MaximDevoir commented on #674
Development docs have since been updated to reflect Create Probot App's template cases in 5443ce03c8fac0a1c180a36f4a78ab4981829e92.

The final 2 tasks can be checks off and this issue closed. Additionally, this [card](https://github.com/orgs/probot/projects/2#card-12767715) moved to `done` (although it appears to have been a while since the project was last updated).

[2019-10-13 05:37] #674 closed

[2019-10-13 05:37] gr2m commented on #674
Thanks Maxim!

[2019-10-14 11:07] Majidbeg opened #1039 "Probot: unable to verify the first certificate"
## Bug Report

**Current Behavior**
I have a probot app up made with create-probot-app. I need to make requests from the bot to my server so that on receiving webhooks it needs to a certain action on the server. Earlier it was throwing an error on self-signed certificate, so I used `mkcert` to generate a new signed certificate and probot still can't post to the node server and throws the error: `U

[2019-10-16 09:44] parzi7al commented on #1030
@gr2m, sorry, I was mistaken. I should use `pull_request.id` instead of `pull_request.number`.

[2019-10-16 21:28] gr2m commented on #1030
Oh, I missed that, too! Glad you got it working now, thanks for letting us know

[2019-10-17 07:19] frextrite opened #1041 "Probot doesn't search for Pull Requests"
## Bug Report

**Current Behavior**
Using `context.github.search.issuesAndPullRequests` with `query` as `repo:${repo} author:${author}` only returns issues without any pull requests. According to [Octokit docs](https://octokit.github.io/rest.js/) it should by default search for both issues and pull requests.

[code]

Is it something that I'm doing wrong?
EDIT: I think I was making a mistake in gen

[2019-10-17 13:44] frextrite commented on #1041
I was missing `Read-Write` permissions for `Pull Requests`. Changing that manually finally worked. The GitHub API instead of returnings `issues` when `type:pr` and `is:pr` qualifiers are defined and not having the required permissions, should technically return nothing.

[2019-10-17 13:44] #1041 closed

[2019-10-17 15:11] jmfulgham commented on #745
Also facing the same issue. Any update?

[2019-10-20 15:10] #981 closed

[2019-10-20 18:13] MaximDevoir opened #1042 "Warn developer when using un-registered hook"
## Feature Request

Warn developers when they are attempting to hook onto an event that the app/installation is not subscribed to.

I don't remember where I saw this, but I believe there is an endpoint that returns all the events an installation (app) is subscribed to.

**Is your feature request related to a problem? Please describe.**

This would warn users in situations like #969 #933 #857 and a

[2019-10-20 22:46] gr2m commented on #1042
Yeah I wish that existed, but I don't know how it would work (efficiently). It will require an extra request, maybe we could add a `--debug` flag to add additional checks?

[2019-10-20 22:53] MaximDevoir commented on #1042
At best, this requires one additional request as the application starts up. I think it should be on by default.

And of course this feature should be disabled in production mode or with the passing of an environment variable (similar to `DISABLE_STATS`).

[2019-10-21 00:22] gr2m commented on #1042
ok, I think if you or someone else wants to start a PR to discuss over code, that'd be great

[2019-10-21 21:22] MaximDevoir commented on #1042
The [integrations API](https://developer.github.com/changes/2016-09-14-Integrations-Early-Access/) includes endpoints to view the events/permissions of an installation.

Sadly, there are no "free" or guaranteed endpoints that Probot could access to get the current installations' permissions & events.

[2019-10-21 21:30] gr2m commented on #1042
Shouldn't that one work?

https://developer.github.com/v3/apps/#response-1

`GET /app` responds with an array of `events` the app is subscribed to

[2019-10-22 05:40] divramod opened #1043 "Is it possible to set the timezone for probot?"
As written in the title probot logging with bunyan assumes to be in timezone utc.
I am in a different timezone, so i like to have the bunyan logs to match my one.
Is that somehow possible?

timedatectl prints out:
[code]

I'd like to use my local time, but am getting Universal time in the logs:

[code]

[2019-10-22 18:00] gr2m commented on #1043
Just to make sure, you ask to set the timezone for the logs only, not for Probot's API interactions, right? Because the latter is a thing, too: https://developer.github.com/v3/#timezones

I don't think setting a timezone for logs is something I would recommend doing, it should rather be the job of a log analyzer to display the time in different ways. The UTC timestamp format is universal

[2019-10-23 00:41] Firehed opened #1044 "Issue an error if NODE_ENV=production and you would reach the setup app"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When trying to deploy a Probot app to a production environment, I had an issue with my env vars that prevented it from actually reaching my routes (specifically, I had a typo in `PRIVATE_KEY_PATH`). As such, I spent several hours blindly guessing what the problem was since all of the logs indicated that it was s

[2019-10-23 02:16] MaximDevoir commented on #1044
The latest version should [warn](https://github.com/probot/probot/blob/c5f7a32e12e3c42575b09e06d5a7b474a3f8cd1d/src/index.ts#L155) in the console when the PEM file contents are bad. If the file path does not exist, Node will exit and throw a standard `Error: ENOENT: no such file or directory, open './bad/path.pem'`.

__________

It might be a good to warn users when app id is set but their certifi

[2019-10-23 02:21] gr2m commented on #1044
@Firehed I agree, do you want to start a pull request?

@MaximDevoir I think your suggestion would be worth discussing separately? We could also do it altogether, but I wouldn't want one change get blocked by the other

[2019-10-23 02:31] MaximDevoir commented on #1044
If the [suggestion](#issuecomment-545232960) is a solution to @Firehed's issue, then I'll leave it for him.

[2019-10-23 17:45] Firehed commented on #1044
@MaximDevoir's suggestion may have indeed caught the issue I encountered, but I don't think it's an optimal solution to indicate a production misconfiguration. It does look like a check also worth adding.

@gr2m Sure, I can look into putting something together.

[2019-10-23 18:49] ericis opened #1045 "GitHub Enterprise authentication on exposed route"
## Bug Report

**Current Behavior**
In a custom route, authentication fails with a `http: Not Found` exception (on GHE, this is usually a permissions issue). Unable to perform the same operation in a custom route as from an event context, despite using the `auth(id)` syntax and the same request parameters.

In the example code below, the event properly reads the file's contents, but the custom rou

[2019-10-23 18:53] gr2m commented on #1045
It's the same with github.com.

Problem here is that you pass in the app ID, but you have to pass in the installation ID. See https://probot.github.io/api/latest/classes/application.html#auth

[2019-10-23 19:02] ericis commented on #1045
Well, that would be an easy fix! I am testing that now @gr2m .

I'll report back and close if it's fixed.

[2019-10-23 19:20] ericis commented on #1045
That did the trick @gr2m ! Thank you.

![bitmoji](https://render.bitstrips.com/v2/cpanel/585b164a-2a8f-4a01-87a6-2186e9ad7eb1-c32c7035-3a6a-4cd1-ab80-cfa38de54e24-v1.png?transparent=1&palette=1&width=246)

[2019-10-23 19:20] #1045 closed

[2019-10-23 19:21] #1044 closed

[2019-10-27 06:40] divramod commented on #1043
ah, ok. thx for the input!

[2019-10-29 03:08] divramod opened #1049 "[Question] Is is possible to redeliver events with probot programatically?"
Hey,

we are using probot pretty heavliy.
Currently we deploy our app on kubernetes and the app isn't very stable until now (our fault).
Because of the lacking stability, the app goes down sometimes.
Events delivered while the app is down are lost.
I know, that i can redeliver events from the github web interface.

Now i wanted to ask, if this is possible to redeliver the lost events programatical

[2019-10-29 03:30] JasonEtco commented on #1049
Hey @divramod 👋 There's no built-in way to redeliver webhooks - but, since you're storing them in a database, you can certainly redeliver them yourself. Smee.io has some functionality to redeliver a JSON payload for example; it's effectively the same thing. You'd need to `POST` to the webhook path of your Probot app, with the same headers as GitHub. As long as the webhook secret is available to th

[2019-10-29 08:22] divramod commented on #1049
hey @JasonEtco, thx for your fast reply.

i think i wasn't clear enough.
my goal is to redeliver events which haven't been catched by my probot app (because it was down).

By the fact, that my probot app was down, i wasn't able to write them to the database too (writing the events to the database currently happens in the probot app).

But thx for your input. Maybe i could bring up something more s

[2019-10-29 18:13] JasonEtco commented on #1049
Ah I see what you mean - in that case, its out of the scope of Probot. You can look into a queuing service like [Apache Kafka](https://kafka.apache.org/) or [RabbitMQ](https://www.rabbitmq.com/) to put in front of your Probot app - the service would receive webhooks and send them to Probot.

I'm going to close this because the solutions are out of scope for this library, but feel free to reopen if

[2019-10-29 18:13] #1049 closed

[2019-10-29 19:20] ezyang opened #1050 "Integration with GitHub Actions"
I see that recently you deleted the GitHub Actions deployment documentation from master. What are the plans for integrating probot with GitHub Actions v2? I think probot still brings significant value, in the form of its ability to let you test on live GitHub repository without having to actually deploy the action, and in the form of having an actual existing testing strategy (the GitHub Actions s

[2019-10-29 19:22] gr2m commented on #1050
We are looking to make Probot in general compatible with traditional node servers, serverless environments and actions. For the time being, check out @swinton's https://github.com/probot/actions-adapter

[2019-10-29 20:11] bcoe opened #1051 "context.config() looking in wrong default path"
## Bug Report

Sometime between `v9.4.0` and `v9.6.0`, using `context.config` to fetch configuration seems to be looking under the wrong path:

[code]

Note that the path is:

[code]

My expectation would be that the path is:

[code]

I have confirmed that the value we are passing to `context.config` is `blunderbuss.yml`, here:

[code]

see: https://github.com/googleapis/repo-automation-bots/pull/

[2019-10-29 21:54] gr2m commented on #1051
Hmm I agree that this looks like bug. Maybe it was introduced when the features from https://github.com/probot/probot-config have been merged into probot core. I do not have time too look into it right now I'm afraid. It would be great if you could start out by creating a pull request with a failing test

[2019-10-30 15:25] ezyang commented on #1050
Thank you, the adapter is working like a charm.

[2019-10-30 15:27] ezyang commented on #988
Yes, it's still failing for me; here's an example issue where it failed to ping: https://github.com/pytorch/pytorch/issues/28771

[2019-10-30 15:28] ezyang commented on #988
Actually, it seems like the issue repros on your repo too. Look at https://github.com/tmp-988/testing-988/issues/9#issuecomment-539937543 : the mention is not linkified (indicating no ping occurred.)

[2019-10-30 15:32] ezyang opened #1052 "Modular probot without creating separate packages"
In https://probot.github.io/docs/deployment/#combining-apps it's described how to combine multiple probot apps into a single probot for ease of deployment. That's cool, but it requires you to create a separate package per each probot. I have a different use case in mind: I'd like to split up my probot event handlers into separate applications so I can test them separately (test only one event hand

[2019-10-30 15:39] MaximDevoir commented on #988
That's strange. At the time, it was highlighted.

[2019-10-30 15:42] ezyang commented on #1052
Oh, I guess I can manually chain up calls to `app => { ... }` closures to do this.

[2019-10-30 17:51] greenkeeper[bot] opened #1053 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.1` to `12.12.2`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fnode-12.12.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepend

[2019-10-30 22:20] #1050 closed

[2019-10-30 22:23] gr2m commented on #1053
false positive

[2019-10-30 22:23] #1053 closed

[2019-10-30 22:28] probotbot opened #1056 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-10-30 22:30] #1056 closed

[2019-10-31 22:43] bcoe commented on #1051
@gr2m okay, I did a bit more digging, I'm looking at @MikaelSmith's [unit tests here](https://github.com/probot/probot/commit/3f0491f63b854de5372e8bed0017b87c8762297e).

It looks like it's intentional that it's attempting to load from a `.github` repository in an organization:

[code]

I believe the intent of this, based the documentation, is that it would allow global configuration to be provided

[2019-10-31 22:50] gr2m commented on #1051
Ahhh I remember now. The problem is the single-file permission for GitHub Apps. Lots of apps have a single file read permission for the path `.github/<app name>.yml`. If `<app name>.yml` would be in the root of the `.github` repository, the app could not accept it. So it is actually working as it should. We should probably document that behavior and the reasoning behind it better

[2019-10-31 23:03] bcoe commented on #1051
@gr2m yeah, we can probably close this, one question is there a way to turn this off? might make it easier for me to update my tests.

[2019-10-31 23:10] gr2m commented on #1051
I'm not sure what you want to turn off? Would you like an option that would change the path of the config file if the repository name is `.github`? I don't think it'd be a good idea to add that, it would only cause more confusion, I think I'd rather implement your own config-retrieval function, it's fairly simple

[2019-11-01 18:05] greenkeeper[bot] opened #1058 "An in-range update of @types/express is breaking the build 🚨"
## The devDependency [@types/express](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.17.1` to `4.17.2`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fexpress-4.17.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/express is a dev

[2019-11-01 18:27] gr2m opened #1059 "TypeScript Error: Interface 'SSEResponse' incorrectly extends interface 'Response'."
## Bug Report

**Current Behavior**

Our builds started to fail, and I'm not sure why:
https://travis-ci.org/probot/probot/jobs/606128221#L244-L255

**Environment**
- Probot version(s): master
- Node/npm version: 8, 10
- OS: Travis CI (Ubuntu)

**Possible Solution**

I think `@types/node` was recently updated, maybe it's related to that?

**Additional context/Screenshots**

[code]

[2019-11-01 18:36] #955 closed

[2019-11-02 02:27] #1058 closed

[2019-11-02 02:27] #1059 closed

[2019-11-02 10:41] robvanderleek opened #1061 "Tests stall when calling `context.config`"
## Bug Report

**Current Behavior**
I'm trying to upgrade from Probot 7 to 9 but my jest tests stall when the app calls `context.config`, for example:

[code]

I have different tests that check if the app works with and without configs in the target repo. For example, to check if the app works without configuration I mock the network call like this:

[code]

With Probot 7 this works fine but after

[2019-11-02 17:23] gr2m commented on #1061
If probot does not find the config in the current repository, it tries to find it in a central `.github` repository. You should see a nock error for an unmatched request.

Try this

[code]

[2019-11-03 09:09] robvanderleek commented on #1061
Hi @gr2m, thanks for the quick reply.
Adding the extra network mock fixes the stall :-)

I still find it strange that removing that second network mock does not show an error for an unmatched request (like you mentioned) but stalls the app instead. This behaviour is easy to reproduce by creating a new Probot app with `npx create-probot-app my-app`, adding `const config = await context.config('issu

[2019-11-03 16:35] JamesMGreene commented on #1003
Not stale.

[2019-11-03 18:26] gr2m commented on #1061
could you check with the latest `nock` version, too? The problem might lie with nock, and we released some great updates to nock in the past year or so

[2019-11-03 20:17] robvanderleek commented on #1061
I've checked with 11.7.0 but the issue remains.

I've created a very simple repo that shows the problem: https://github.com/robvanderleek/my-first-app
This is basically a default `npx create-probot-app my-first-app` repo with 1 extra line in `index.js`: `const config = await context.config('issue-branch.yml', {})`, and the network mocks in `index.test.js`.
Uncommenting the code at lines 39 and 40

[2019-11-03 20:25] gr2m commented on #1061
Thanks for taking the time to setup the test repository! I'm heads down with other work right now but will get back to it, I'm curious what exactly is happening. Sounds to me like an error is swallowed silently somewhere

[2019-11-05 03:46] #998 closed

[2019-11-05 03:46] #995 closed

[2019-11-05 05:21] greenkeeper[bot] opened #1063 "An in-range update of @octokit/plugin-enterprise-compatibility is breaking the build 🚨"
## The dependency [@octokit/plugin-enterprise-compatibility](https://github.com/octokit/plugin-enterprise-compatibility.js) was updated from `1.1.1` to `1.2.0`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40octokit%2Fplugin-enterprise-compatibility-1.2.0).

This version is **covered** by your **current version range** and after updating it in yo

[2019-11-05 06:00] #1063 closed

[2019-11-05 17:40] bcoe commented on #1051
@gr2m what's odd to me, is prior to this writing `nock` mocks for all the HTTP requests, it would just try to access:

[code]

Now, regardless of whether configuration exists in `github.com/my-repo`, it seems to try to hit a `github.com/my-org/.github`.

I have so far been unable to figure out a set of endpoints to mock that get our tests passing again for repos using `.config()`, I will hopefully

[2019-11-05 19:54] bcoe commented on #1051
I did a bit more digging, the main difference between the old approach to loading config and the new approach appears to actually be in the format of the response that's parsed:

In `probot@9.4.0`,  this approach worked for mocking a config response with nock:

[code]

as of `9.6.0`, I needed to update all of our tests to this approach:

[code]

[2019-11-06 00:40] gr2m commented on #1051
That behavior is coming from the merge of https://github.com/probot/probot-config. We did not consider it a breaking change, but we probably should at least log better error messages.

Someone else reported that their tests would just get stuck without any helpful message, I've yet to look into that one.

[2019-11-06 03:02] bcoe commented on #1051
I can understand your decision to not make this a breaking change, given that the final response form `context.config()` remains the same.

Please feel free to close this issue as wontfix; alternatively please feel free to leave open (perhaps with an updated title, provide better error message if `Buffer` type returned in `content`.

[2019-11-06 05:36] johnsonsamuel opened #1065 "probot: Invalid app_id `ID number`"
## Bug Report

**Current Behavior**
Everytime I do check run update, I get `probot: Invalid app_id `ID`

[code]

**Expected behavior/code**
I am able to create a check run without any problem.

Is there something I am missing here ?

**Environment**
- Probot version(s): [e.g. v6.0.0]
- Node/npm version: [e.g. Node 8/npm 5]
- OS: [e.g. OSX 10.13.4, Windows 10]

**Possible Solution**

**Additional c

[2019-11-06 06:35] johnsonsamuel commented on #777
Any update on this ?

[2019-11-06 06:35] johnsonsamuel commented on #777
Any luck on this issue ?

[2019-11-06 13:21] akthecoders commented on #1065
@johnsonsamuel Hey can you share your code so that we can start working on it on the same test cases you have faced.

[2019-11-06 14:34] johnsonsamuel commented on #1065
##Below code is for authentication:

const octokit = new Octokit({ async auth() { return token ${installationAccessToken} } });

##This is code for updating a check run
octokit.checks.update({ owner: owner, repo: repo, check_run_id: checkRunId, conclusion: 'failure' })

But I get the following error,

HttpError: {"message":"Invalid app_id APPID","documentation_url":"https://developer.github.com/v3

[2019-11-06 16:34] gr2m commented on #1065
how did you calculate `installationAccessToken`

[2019-11-06 16:36] johnsonsamuel commented on #1065
`const installationAccessToken = await octokitApp.getInstallationAccessToken({
    installationId: installationId
  })`

The installationId is obtained from the following code

`const APP_ID = process.env.APP_ID
  const PRIVATE_KEY = process.env.PRIVATE_KEY;
  const appCredentials = new App({ id: APP_ID, privateKey: PRIVATE_KEY })
  const jwt = appCredentials.getSignedJsonWebToken()

  // Example

[2019-11-06 16:45] gr2m commented on #1065
Hmm that all looks good to me ... Can you share the full code of your app? If not, can you create a separate repository with only the code that reproduces the problem?

[2019-11-06 16:47] gr2m commented on #777
I fear not, but would worth investigating

[2019-11-06 16:51] johnsonsamuel commented on #1065
The rest of the code :)

`const octokit = new Octokit({
        async auth() {
            return `token ${installationAccessToken}`
        }
    });

    app.on('check_run.completed', async context => {
        // Code was pushed to the repo, what should we do with it?
        context.log({ event: context.event, action: context.payload.action });

        octokit.checks.update({
            owne

[2019-11-06 17:03] gr2m commented on #1065
I assume `LOGIN`/`REPO` is a different repository than the one the `check_run` event was triggered on?

What are you trying to achieve exactly?

The problem with this approach is that installation access tokens expire

[code]

If the app that retrieves the event is the same that you want to update the check run on, you can do this to retrieve an authenticated `ocotkit` instance

[code]

[2019-11-06 17:11] johnsonsamuel commented on #1065
LOGIN => username and REPO is the repository name the check run is initiated on.

What are you trying to achieve exactly?

Github checks api doesnt support unit test failures annotations. So I am trying to build my own parser and construct the annotations.

I want to update the check run status once the check run is complete.

[2019-11-06 17:16] johnsonsamuel commented on #1065
Also I get the following error `TypeError: app is not a function` for the below code.

`const octokit = await app({ id: INSTALLATION_ID })`

Is this correct syntax ? : )

[2019-11-06 17:24] gr2m commented on #1065
sorry it's `app.auth()`, not `app()`.

If you want to update the same check run in the same repository, then you can do this

[code]

[2019-11-06 17:39] johnsonsamuel commented on #1065
I get the following error, any thoughts ? I did look into the probot's `application.ts` file and found that the auth method does look for id with the number. I am also passing the id as number which is retrieved from `context.payload.installation.id`

`HttpError: Invalid value for parameter 'installation_id': {"id":4020208} is NaN`

[2019-11-06 18:12] gr2m commented on #1065
looks like you are setting `installation_id` to an object `{"id":4020208}` instead of just the number `4020208`

[2019-11-07 00:53] johnsonsamuel commented on #1065
My bad, I was passing the installation_id from the context payload as `const octokit = await app.auth({ id: context.payload.installation.id })`

`
app.on('check_run.completed', async context => {
    // Code was pushed to the repo, what should we do with it?
    context.log({ event: context.event, action: context.payload.action });
    app.log('CHECKRUN', context.payload.check_run);

    console.l

[2019-11-07 15:11] johnsonsamuel commented on #1065
@gr2m any thoughts on the above mentioned error? Or can you point to some checkrun update sample ?

[2019-11-08 04:57] gr2m commented on #1065
unrelated, but you can improve the syntax highlighting of your JavaScript code by doing this

[code]

instead of this

[code]

I don't have a check run update, but I do use the check run create:
https://github.com/wip/app/blob/03bca7a8d0559a3b710762a405a29b530e488821/lib/pro/set-status.js#L97

[2019-11-08 05:05] johnsonsamuel commented on #1065
Sure thing about the code formatting. I have check run create working in my local as well :). Thanks though.

[2019-11-08 05:10] gr2m commented on #1065
Hmm I'm sorry I can't help better, maybe there is a bug somewhere in Octokit, Probot or even GitHub's API.

I think what I would do next is to send a `curl` request directly from the terminal which updates a check run the way you want. If that returns the same error, then send the curl request to support@github.com, they will be able to help.

If it works with curl, then the next thing I would do

[2019-11-08 05:21] johnsonsamuel commented on #1065
Sure thing @gr2m . Thank you again for your tips. I will check them :)

[2019-11-08 20:12] Logerfo commented on #1051
I don't understand how is this not breaking. `await context.config('.github/myapp.yml')` used to work just fine and now it just doesn't. There is no `.github` repository and the app repository is hosted in an user account, not an organization one.

[2019-11-08 20:14] gr2m commented on #1051
It should not affect production code. If it breaks your tests because additional mocking is required, that is not a breaking change. You don't need a `.github` repository for the config to work

[2019-11-08 20:21] Logerfo commented on #1051
I'm afraid it is affecting production code. My app does not have tests. In case you're curious, you can check out at https://github.com/Logerfo/close-label/blob/master/src/index.ts#L46.
It started failing like that:

      at C:\Git\close-label\node_modules@octokit\request\dist-node\index.js:66:23
      at processTicksAndRejections (internal/process/task_queues.js:93:5)
      at async Job.doExecut

[2019-11-08 20:56] Logerfo commented on #1051
Tried to rollback the probot version, but...
<details><blockquote>
TypeError: pluginFunction is not a function
    at C:\Git\close-label\node_modules\@octokit\rest\lib\constructor.js:26:37
    at Array.forEach (<anonymous>)
    at new Octokit (C:\Git\close-label\node_modules\@octokit\rest\lib\constructor.js:26:11)
    at Object.GitHubAPI (C:\Git\close-label\node_modules\probot\lib\github\index.js:

[2019-11-08 21:19] gr2m commented on #1051
@Logerfo can you open a separate issue please, I'm not sure if it's directly related

[2019-11-08 23:03] fearphage opened #1068 "Question: Possible to remove /ping requests from logs?"
`/ping` requests happen quite often and they don't provide any value to me. I'd like to stop sending them to my logging service. Is that possible?

[2019-11-10 19:17] gr2m commented on #1068
I don't think it is. I wonder if the way you setup forwarding your logs to your logging service could filter these out?

[2019-11-11 12:29] Logerfo commented on #1051
@gr2m you mean for the config issue itself or the `pluginFunction` one?

[2019-11-11 16:53] johnsonsamuel commented on #1065
UPDATE: I did try to do the check run update using
[code]
but I get the same error.

[code]

[2019-11-13 17:47] gmarcos87 opened #1069 "Error in HTTP routes or wrong documentation"
## Bug Report

**Current Behavior**
I'm having trouble running my AplicationFunction with ```npm run start``` or ```probot run lib/index.js```
I uploaded an example of the code I use and uploaded it to https://github.com/gmarcos87/test-bot
It is basically a copy of what is written in the documentation. When I run it and try to enter http://localhost:3000/my-app/hello-world I get ```Cannot GET /my-

[2019-11-14 16:09] gmarcos87 commented on #1069
I found the problem. If I don't explicit the environment variables the applications are not loaded but this is not reported at any time.

[2019-11-15 21:51] juanchaur1 commented on #929
@zeke could you share your code?

[2019-11-16 00:31] greenkeeper[bot] opened #1070 "An in-range update of @types/bunyan-format is breaking the build 🚨"
## The devDependency [@types/bunyan-format](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `0.2.0` to `0.2.1`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fbunyan-format-0.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/bunyan-

[2019-11-17 05:20] gr2m commented on #1051
I _think_ in your case the problem is that you do

[code]

try this instead

[code]

See https://probot.github.io/api/latest/classes/context.html#config.

If the problem persists, make a new issue for the problem with your close-label app and we take it from there

[2019-11-17 05:20] #1051 closed

[2019-11-17 05:24] gr2m commented on #1065
Could you send the curl request to support@github.com then? It might be a problem with the API itself. I was not able to reproduce the problem.

My last guess would be that the `process.env.APP_ID` environment variable is set to the string `appId` instead of the ID number of the app. Could you double check that?

[2019-11-17 05:27] gr2m commented on #1069
You mean that you didn't set the `APP_ID` and `PRIVATE_KEY` environment variables and it started in the setup mode?

[2019-11-17 05:27] #969 closed

[2019-11-17 05:30] gr2m commented on #1070
The update is failing due to TypeScript errors with the new version
https://travis-ci.org/probot/probot/jobs/612649845#L227

[2019-11-17 07:46] johnsonsamuel commented on #1065
@gr2m here is the curl request which I sent to the github team but no response yet.

[code]
I also checked APP_ID and it is number.

FYI, the check run I am updating is the one which is initiated automatically. The one I create manually works without any problem. Is there any restriction to update a check run which is picked up automatically when I push the code?

[2019-11-17 16:32] gr2m commented on #1065
There is no restriction other then the permissions the installation has. But if the permissions were insufficient, the error message would be different.

GitHub had their yearly conference last week so everyone was very busy, I'm sure they will get back to you soon

[2019-11-18 00:27] #1070 closed

[2019-11-18 04:38] johnsonsamuel commented on #1065
Hoping for the same :)

[2019-11-18 09:31] AndreiJirohHaliliDev2006 opened #1072 "Bot doesn't respond for Recap Time Probot App"
## Bug Report

**Current Behavior**
The bot doesn't respond to any command I give in [the testing issue](https://github.com/MadeByThePinsHub/RecapTime-ProbotApp/issues/3).

[code]

The latest code can be found [here in GitHub](https://github.com/MadeByThePinsHub/RecapTime-ProbotApp) or [in GitLab](https://gitlab.com/MadeByThePinsTeam-DevLabs/recaptime-probotapp)

**Expected behavior/code**
The com

[2019-11-18 10:53] #1069 closed

[2019-11-18 13:13] Logerfo commented on #1051
@gr2m your suggestion worked, thanks! But please note this was indeed a breaking change.

[2019-11-18 18:13] gr2m commented on #1072
Can you please create a minimal test case that reproduces your problem. It's all volunteers who maintain Probot, we don't have the time to debug your entire app I'm afraid.

[2019-11-18 23:27] robvanderleek commented on #1061
Hey @gr2m,
Gentle reminder of this issue 😄(but I understand if it has a low priority for you)
I managed to upgrade my Probot app to the latest version by running all unit-tests with `DEBUG=nock.*` in the environment to check what network calls I forgot to mock. Somehow nock is swallowing those errors (at least in my case, maybe I'm doing something terribly wrong).

[2019-11-19 08:59] AndreiJirohHaliliDev2006 commented on #1072
Okay. Hold on...

[2019-11-19 11:59] AndreiJirohHaliliDev2006 commented on #1072
As seen in the issue our service account (manually triggered by myself), when I tried to use `/addlabel` and `/rmlabel` commands, the bot doesn't work as expected. This might be relating to the messy source code. Any fixes about this?

![image](https://user-images.githubusercontent.com/34998342/69144748-fb2d9800-0b06-11ea-90a9-fb96b66911b3.png)

[2019-11-19 16:53] zeke commented on #1022
✅  I moved https://github.com/zeke/semantic-pull-requests and moved it to the Done list (and sorted the Done list alphabetically)

[2019-11-20 22:41] gr2m commented on #1061
I looked into it for a bit, I can't figure out why the request is hanging :(

Next steps would be to further reduce the test case. I'd make a repository which does not use Probot, but instead use @octokit/rest and nock, doing the same requests, and seeing if it still hangs.

I'm not sure when I'll have time to do that myself. Feel free to give it a try yourself. I'll eventually get back to this bu

[2019-11-23 22:34] gr2m commented on #1026
Sorry that nobody got back to you! We don't currently have the right response types if you use the media type format. It's hard to make that work with all possible configurations, but not impossible.

If you want to help out, the right place do do is is in the `@octokit/rest` repository at https://github.com/octokit/rest.js/blob/master/scripts/update-endpoints/typescript.js. Pull requests welcome

[2019-11-24 10:39] AndreiJirohHaliliDev2006 commented on #1072
Question: Can I use plugins while using my own code at the same time?

[2019-11-26 19:45] robvanderleek commented on #1061
Hi @gr2m 😄

I created a minimal repo using only @octokit/rest and nock but could not reproduce the behaviour.

It appears to be a combination of nock and probot, so I've also added a minimal probot configuration to reproduce the behaviour.

The repo is [here](https://github.com/robvanderleek/nock-miminal) and the three self-contained [unit-tests](https://github.com/robvanderleek/nock-miminal/blob/

[2019-11-26 21:15] gr2m commented on #1061
I already tried to figure out what's going on within probot but to no avail so far. The relevant bits to debug are here: https://github.com/probot/probot/blob/bf5275d41fe8572b8909af780821155549960af8/src/context.ts#L146-L220

I was trying to understand why the `this.github.repos.getContents` call hangs when requesting the `.github/<app name>.yml` file in the `.github` repository if that request is

[2019-11-26 23:31] kevo1ution opened #1074 "Having a context.isThisBot()"
## Feature Request

**Is your feature request related to a problem? Please describe.**
It isn't very clear how to tell if the actor on an event is the same as the bot listening to these events. For example, if my bot 'octobot' created a comment on a Pull Request and the bot is listening to issue_comment.created it will receive an event for that action. Ideally, I want to ignore the event if it was

[2019-11-27 00:09] JamesMGreene commented on #1074
The only way I've encountered to do this is to use the GraphQL API, e.g.:

[code]

[2019-11-29 19:07] pawamoy commented on #966
I still encounter this error with probot 9.6.6 and @octokit/app 4.1.0 :confused: The reboot didn't work.

[2019-11-29 19:11] pawamoy commented on #967
I still encounter this error with probot 9.6.6 and @octokit/app 4.1.0 :confused: The reboot didn't work.

[2019-11-29 19:19] gr2m commented on #967
Can you open a new issue? I think we addressed the original issue, yours might likely be a different one

[2019-11-30 03:11] #1025 closed

[2019-11-30 18:40] pawamoy opened #1075 "'Issued at' claim ('iat') must be an Integer representing the time that the assertion was issued"
## Bug Report
As [asked by @gr2m](https://github.com/probot/probot/issues/967#issuecomment-559867502).

**Current Behavior**

[code]

[code]

**Expected behavior/code**
No "issued at" errors :smile:

**Environment**
- Probot version(s): v9.6.6
- Node/npm version: v13.2.0
- OS: Linux corsair 5.3.12-arch1-1 #1 SMP PREEMPT Wed, 20 Nov 2019 19:45:16 +0000 x86_64 GNU/Linux (ArchLabs)

[2019-12-01 17:41] gr2m commented on #1075
I've setup a new probot app using your code and installed it on my sandbox repo. It left the comment, but I did not see the error with `iat`: https://github.com/gr2m/sandbox/issues/93

My guess is that it has something todo with the way it's calculated and your operation system.

Can you check what version you have of `@octokit/app`?

[code]

If it's version 4.1.0, can you git clone that package,

[2019-12-02 10:40] Mike-EEE opened #1079 "Following Instructions in Documentation Results in Security Vulnerabilities 😞"
## Bug Report

**Current Behavior**
Greetings.  Installing Node and Probot both for the first time here.  Following the directions at the following location:

https://probot.github.io/docs/development/

Running the following command and filling out its prompts:

[code]

This seems to differ vastly from the output found within the documentation page.

In particular:

[code]

running `npm audit fix`

[2019-12-02 10:53] Mike-EEE commented on #1079
hey worth taking the trouble to post here since now I know about `issue-label-bot` and have installed it on our repo, as well. 😁 👍

[2019-12-02 18:04] gr2m commented on #1079
The vulnerabilities might be likely caused by a module maintained by npm itself. It's a dependency of semantic-release and there is not much I can can do about it, although I'm one of the maintainers of semantic-release, too. We are waiting for npm to fix their modules

[2019-12-02 18:35] Mike-EEE commented on #1079
Ah ok thank you for the additional context, @gr2m.  As I mentioned, it was my first install and experience with npm.  I've heard the horror stories too with `event-stream` so I guess I am hyper-vigilant here as well due to that.

The frustrating aspect, of course, is that running the command that says should fix it (`npm audit fix`) doesn't really fix it.  It would seem that it should be easy to g

[2019-12-02 19:20] MaximDevoir commented on #1079
The 4 security vulnerabilities that could not be fixed by `npm audit fix` stem from the latest version of the dependency [`hbs`](https://www.npmjs.com/package/hbs) - which is depending on an outdated version of [`handlebars`](https://www.npmjs.com/package/handlebars) package. An issue has already been created over there - pillarjs/hbs#185 - and a PR created to solve the security vulnerabilities in

[2019-12-02 19:46] Mike-EEE commented on #1079
OK... that works for me, @MaximDevoir.  Maybe if someone runs into this same issue we've a little more contextual keywords to help let them know that this is a known issue that is unfortunately outside of Probot's control ATM and should be fixed "[soon](https://youtu.be/5drjr9PmTMA)." 😏

Closing this on my side.  Please feel free to re-open if I have something fundamentally misunderstood here.  Th

[2019-12-03 18:22] pawamoy commented on #1075
[code]

Tests in repo clone seem to pass:

[code]

[2019-12-03 18:31] gr2m commented on #1075
Do you have a chance to run your tests on a different OS? I'm trying to narrow down what's the problem might be here

[2019-12-03 18:44] pawamoy commented on #1075
Only other system I could try on right now is Termux, and the result is the same :stuck_out_tongue:

I just pushed my code to https://github.com/pawamoy/we-are-on-gitlab if you want to try again. The text I return is not the same actually. Sorry, I cheated :sweat_smile: Thing is, even with the code I wrote in this issue description, it fails, so it does not seem to be of importance.

[2019-12-03 20:18] pawamoy commented on #1075
I tried to update all the credentials of the app and in my .env file: webhook secret and proxy url, private key, client secret, etc., still the same error. Then I deleted the whole app, and re-registered it. Still the same error :cry:

I have the same OS installed on an older laptop, and the time is not correctly set on it. I was not able to sync the time correctly. Maybe it's a similar problem.

[2019-12-03 20:36] pawamoy commented on #1075
Ha! So on Termux the test is failing (`npm test`, bad credentials), but `npm run dev` works fine. The bot was able to post a comment to a new issue. Tried again from my main OS and sure enough got the `issued at` error.

So it seems my main OS (ArchLabs, based on ArchLinux) is causing the issue.

[2019-12-03 20:42] pawamoy commented on #1075
Alright, fixed :male_detective: :hammer_and_wrench: :star: :microphone: https://bbs.archlinux.org/viewtopic.php?id=182600

[code]

Don't forget to `enable` them instead of just `restart`ing them to make this persistent across reboots.

[2019-12-03 20:42] #1075 closed

[2019-12-04 20:27] gr2m commented on #1075
Yay, I'm very glad you got it working!

[2019-12-05 14:38] styfle commented on #985
To address the original post:

It is recommended to add a `build` script to emit html files in a `public` directory. These will be served as static files from ZEIT Now. If you want an blank home page, you could change your `package.json` to something like:

[code]

Install the serverless adapter:

[code]

Then create a file `/api/index.js` with the following:

[code]

Deploy with `now` and then vi

[2019-12-06 22:29] #1074 closed

[2019-12-06 22:33] kevo1ution commented on #1068
I do something like this with a custom logger:
[code]

[2019-12-10 20:17] #1031 closed

[2019-12-12 05:01] KaranErry commented on #309
Hey Greg @gr2m, is there any update on this?  I have a use-case for which this would be a fantastic feature to have, and I'm happy to contribute to push it through.

**Use case?**
My use case is that I am designing a bot that keeps track of open PRs, and merges them based on priority. This means that a PR, upon being opened/edited, may send an event at one time, but the bot may want to merge it at

[2019-12-12 17:05] #1029 closed

[2019-12-12 19:05] #1007 closed

[2019-12-13 19:39] JasonEtco commented on #1072
Hello 👋 I'm not sure I understand your latest question there @AndreiJirohHaliliDev2006.

According to the error logs in your original post, there's an error coming from `probot-scheduler`:

<img width="446" alt="image" src="https://user-images.githubusercontent.com/10660468/70826991-48272600-1db6-11ea-8681-d7329e0f4c81.png">

Would you mind closing this issue and opening a new one in `probot-sched

[2019-12-13 19:41] JasonEtco commented on #228
I'm going to close this issue because enough additional tooling exists ([`@octokit/app`](https://github.com/octokit/app.js), [`@octokit/auth.js`](https://github.com/octokit/auth.js)) that adding OAuth identification functionality to Probot is already very straightforward. Huge shoutout to @gr2m for his hard work on all those modules ❤️

Feel free to reopen if you think there's more that Probot sho

[2019-12-13 19:41] #228 closed

[2019-12-13 19:47] JasonEtco commented on #204
👋 I'm going to close this long-standing issue for the same reason as #228 - there is enough tooling out there thanks to @gr2m's work on `@octokit/*` modules that this is fairly straightforward to accomplish. If you feel like Probot can/should do more, please reopen!

[2019-12-13 19:47] #204 closed

[2019-12-13 19:51] JasonEtco commented on #780
I did a quick test to see if this works correctly now; using @tcbyrd's code example but with a newer version of Probot, I was able to see errors in actual Probot code:

<img width="1001" alt="image" src="https://user-images.githubusercontent.com/10660468/70827721-cd5f0a80-1db7-11ea-893a-0281d542ff66.png">

This is great - it means that now Probot code is being run, it tries to start up but is miss

[2019-12-13 19:51] #780 closed

[2019-12-13 20:11] JasonEtco commented on #1039
Hey there 👋 I'm not sure that this is something that Probot can/should resolve. Are you able to verify that you can make requests in the same way but with a Node.js server that isn't Probot?

[2019-12-13 20:12] JasonEtco commented on #1043
I'll close this out, looks like y'all have figured this one out. I'll go ahead and close this, feel free to reopen if there's something I'm missing!

[2019-12-13 20:12] #1043 closed

[2019-12-13 20:13] JasonEtco commented on #1052
I think that @MaximDevoir's solution here is spot-on; I'd actually recommend it over our `combining-apps` docs, it seems easier to control and you can always `require/import` them yourself.

I'll close this out, feel free to reopen if I've missed something!

[2019-12-13 20:13] #1052 closed

[2019-12-13 20:50] JasonEtco commented on #297
I think its safe to say that our solution to this is now [Smee.io](https://github.com/probot/smee.io) - you can inspect, redeliver, copy and save payloads, and we heavily recommend only using it in development. There's still area for improvement (things like persistence) but I'm going to close this issue - further ideas on this topic should go to [probot/smee.io](https://github.com/probot/smee.io)

[2019-12-13 20:50] #297 closed

[2019-12-13 20:54] jbjonesjr commented on #204
With GitHub Apps being more common, i'm 👍. thanks for housekeeping @JasonEtco

[2019-12-15 00:36] mfix22 opened #1084 ""Signature does not match event payload and secret" error"
## Bug Report

**Current Behavior**
I don't think this is a bug within Probot necessarily (maybe the GitHub API itself), but I began getting numerous "Signature does not match event payload and secret" errors, always when my GitHub app received a payload sent from another bot (e.g. `renovate` as shown in the payload below).

##### Example payload (let me know if you need the full thing)
[code]

I

[2019-12-16 14:52] ashukum-msft commented on #766
Do we have solution for this. I have the similar the requirement too. Any help will be highly appreciated.

[2019-12-17 14:08] moltenice commented on #1065
Yup I'm getting this too! Do update us @johnsonsamuel if you hear back from them.

[2019-12-18 17:50] droidpl commented on #917
Still happening on ```"probot": "^9.6.6"```

[2019-12-19 00:28] nuwanbando commented on #931
I too am stuck with the same issue. how can I get the database id ? I get the same error as `Could not resolve to a node with the global id of 'MDU6aXNzdWUxMQ=='`

my api call is
[code]

[2019-12-19 01:40] Sancti418 commented on #776
#931 #917

[2019-12-19 13:59] gr2m commented on #309
GitHub's client is already reauthenticating automatically. Just allways use the the `app.auth(installationId)` API to retrieve the authenticated GitHub client. The installation access tokens are cached in memory for 59minutes.

[2019-12-19 14:01] gr2m commented on #1084
Thanks for opening the issue! If you could add a test case to https://github.com/octokit/auth-app.js to reproduce the problem, that'd be great. You can also add it to probot, might be easier and less likely that work on `octokit/auth-app.js` already resolved the underlying problem

[2019-12-19 14:05] gr2m commented on #917
It cannot be fixed without a breaking change, so we hold back until v10

[2019-12-19 14:52] Mike-EEE opened #1086 "Consider More Descriptive Error Messages for Unsupported Endpoints"
## Feature Request

**Is your feature request related to a problem? Please describe.**

If a user encounters an unsupported endpoint on GitHub's API, they are confronted with an obscure error message:

[code]

Here is a full error for reference:

[code]

I encountered an error while attempting to access an endpoint via Octokit.  [I submitted the scenario to Octokit](https://github.com/octokit/rest

[2019-12-19 16:04] v13aer14ls opened #1087 "Is it possible to collect data from commits via probot"
I want that everytime an specific branch is updated via a commit , the bot collect data about the commiter and the date so i can send it throught REST api .

thanks in advance.

[2019-12-19 16:15] MaximDevoir commented on #1087
Your app can listen to the `[push](https://developer.github.com/v3/activity/events/types/#pushevent)` event, check the payload `ref` key to filter out payload for the branch you want, and the rest of the webhook payload will include author commit data and more (see an [example push payload](https://developer.github.com/v3/activity/events/types/#webhook-payload-example-31)).

For example:

[code]

[2019-12-19 16:23] JamesMGreene commented on #1087
The payload example is only a little useful because the `commits` array is empty but you can get a pretty good idea of what to expect from the [payload properties description](https://developer.github.com/v3/activity/events/types/#events-api-payload-34), or just log out a real event payload like @MaximDevoir suggested in his snippet. 👍

[2019-12-19 16:34] #1042 closed

[2019-12-20 05:18] AndreiJirohHaliliDev2006 commented on #1072
Okay. I'll close this one and creating a new issue in `probot-scheduler`. Thank you!

[2019-12-20 05:18] #1072 closed

[2019-12-21 01:14] DavidGOrtega opened #1088 "Http routes are not accesible from smee.io"
## Bug Report

**Current Behavior**
Exposed endpoints are accesible at localhost:3000 but not from the smee.io tunnelling.

https://smee.io/my-code/api/status
Cannot GET /my-code/api/status

localhost:3000/api/status
ok ;)

[code]

**Expected behavior/code**
The endpoint should be accesible from smee.io too

**Environment**
- Probot version(s): 9.5.3
- Node/npm version: node 13.2.0
- OS: OSX 10.15

[2019-12-21 13:33] JasonEtco commented on #1088
👋 This is a limitation of Smee, not really a bug. Smee is a webhook proxy service, not a full-featured "expose your local machine as a server". You can disable Smee by removing the `WEBHOOK_PROXY_URL` environment variable, and use an alternative like [localtunnel](https://localtunnel.github.io/www/) or [ngrok](https://ngrok.com/) instead!

[2019-12-21 13:33] #1088 closed

[2019-12-21 21:48] MaximDevoir opened #1089 "Probot `postpublish` is not executed as expected"
## Bug Report

**Current Behavior**

semantic-release publishes a module to NPM, but after, the `postpublish` script to update `probot.github.io` is not called. ( see the most recent [release logs](https://travis-ci.org/probot/probot/jobs/627316173?utm_medium=notification&utm_source=github_status))

**Expected behavior/code**

Expected `probot.github.io` to be updated.

[2019-12-22 18:48] ferreiratiago opened #1091 "ERROR probot for installation events"
## Bug Report

**Current Behavior**
With the new version of probot 9.7.0 I'm getting an error message with the following message, on every run:

![image](https://user-images.githubusercontent.com/3806676/71325801-fa16ce80-24e9-11ea-9f9f-74a7cc56127c.png)

I'm not sure what subscription needs to be done on github in order to solve this problem. I have subscribe them all but the error continues.

Al

[2019-12-22 20:47] MaximDevoir commented on #1091
Thank you for reporting this. Your application is configured correctly and you may safely ignore the warning. This is an oversight by me, as part of the recent internal webhook-event-check feature did not take into account events that may never show appear in the `/meta` response.

A fix has been created at #1091 and will be merged soon. In the meantime, you may ignore these messages until #1091 i

[2019-12-23 09:29] kerry-Cho opened #1093 "Error: self signed certificate in certificate chain"
hi
I need help. How to turn off ssl check??
I try Use with my company local enrterprise sever
Have a problem self siged error
What is the solution?
thanks all

[2019-12-23 11:50] ferreiratiago commented on #1091
Thanks for the feedback @MaximDevoir 🙏

[2019-12-25 03:15] jamesgeorge007 opened #1096 "No warning shows up if an unknown command is passed in"
## Bug Report

**Current Behavior**
Nothing shows up if the user fires in an unknown command with `probot`

`probot junkcmd`

**Expected behavior/code**
[code]

**Possible Solution**
Make use of the `commander.js` API to catch unknown commands and warn appropriately.

**Additional context/Screenshots**
N/A

[2019-12-25 09:36] #1096 closed

[2019-12-25 09:37] #1091 closed

[2019-12-27 08:50] arikkfir opened #1098 "Receiving "Invalid command run" when running "probot run""
## Bug Report

**Current Behavior**
When running `probot run` the `probot` command prints _"Invalid command run"_ message, yet runs the bot anyway. Seems like the message is printed by mistake.

**Expected behavior/code**
Probot should simply run, when issuing `probot run`.

**Environment**
- Probot version(s): v9.8.0
- Node/npm version: Node 12/npm 6.13.4
- OS: OSX 10.15.2

**Additional context/S

[2019-12-27 20:15] MaximDevoir commented on #1098
This looks like a bug introduced with #1097. For the time being, you can ignore the messages or pin your Probot dependency to [v9.6.6](https://www.npmjs.com/package/probot/v/9.6.6).

Pinging @jamesgeorge007, could you take a look at this?

[2019-12-28 22:28] MeFisto94 commented on #1079
I was about to open a duplicate of this. Having an issue open to track an open vulnerability would've certainly helped. Especially this Issue can then be used to follow up and update the hbs dependency in this repo once they have been fixed.

On topic: What is hbs used for here? Is it possible to run probot _without_ hbs support? And does the input stem from user code or is it passed from e.g. git

[2019-12-29 10:10] Mike-EEE commented on #1079
Yeah, good point @MeFisto94 ... I was trying to be a good citizen in keeping issue count low but if others are expressing the same concerns it's probably better to let the maintainers decide when to close it.

[2019-12-31 23:47] MaximDevoir commented on #1089
Closing in favor of probot/probot.github.io#321.

[2019-12-31 23:47] #1089 closed

[2020-01-01 06:01] MaximDevoir commented on #1079
Probot uses [hbs](https://github.com/pillarjs/hbs) to render templates with Express. The built-in templates with Probot are used for [registering your GitHub App](https://user-images.githubusercontent.com/13410355/46052950-a19e2900-c10e-11e8-9e7e-0c803b8ca35c.png) while in the development environment - these templates are not affected by the vulnerabilities in hbs.

Probot apps may be susceptible

[2020-01-02 14:56] #1098 closed

[2020-01-02 17:44] gr2m commented on #1003
It would still be nice to add that information to the documentation

[2020-01-02 23:59] AndrewNyaisonga commented on #727
I faced this issue as well. I had something like
``Bot to track Andrew's repos``
As the description and it broke. I was able to fix it by removing `'` but I thought I should share here.

[2020-01-03 11:47] jamesgeorge007 opened #1102 "[CLI]: Notify users if they're using an older version"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Users may not be aware about any newer releases being made and would end up using the older versions.

**Describe the solution you'd like**
[update-notifier](https://www.npmjs.com/package/update-notifier) serves the purpose here. As from the tagline, `Inform users of your package of updates in a non-intrusive wa

[2020-01-03 11:48] jamesgeorge007 commented on #1102
@gr2m I would be happy to shoot a PR :+1:

[2020-01-03 15:05] gr2m commented on #727
This was resolved via https://github.com/probot/template/pull/86

[2020-01-03 15:05] #727 closed

[2020-01-03 15:08] gr2m commented on #1102
Sure why nto

[2020-01-06 18:10] #1102 closed

[2020-01-08 17:06] #988 closed

[2020-01-16 18:35] MaximDevoir commented on #1079
These security warnings have been resolved in the latest version of Probot ([9.9.1](https://github.com/probot/probot/releases/tag/v9.9.1)), which includes changes from #1109.

[2020-01-17 02:48] marcgspc commented on #1065
Hi there, has there been any news about this issue bug yet? I am facing the same situation today @johnsonsamuel

[2020-01-17 18:31] gr2m commented on #1065
@marcgspc can you please create a minimal test case with either Probot or `@octokit/rest`, if you see the same problem with the later, too?

[2020-01-19 21:46] marcgspc commented on #1065
[code]

This returns the following
[code]

Hope this is enough...

[2020-01-19 22:26] gr2m commented on #1065
What request is failing for you? I've tried to reproduce the problem at https://runkit.com/gr2m/probot-probot-1065, but it all behaves as expected

[2020-01-19 22:31] marcgspc commented on #1065
@gr2m Hi, thanks for the answer, the request that fails is the PATCH on /repos/:owner/:repo/check-runs/:checkrunid, so yeah not sure what you are asking me there. Do you see anything wrond in my script?

[2020-01-19 22:34] gr2m commented on #1065
Not in relation to an `Invalid app_id` error, no.

[2020-01-19 22:35] gr2m commented on #1065
Let me try to do the check run update, too

[2020-01-19 22:39] gr2m commented on #1065
Oh sweet, I was able to reproduce the problem in https://runkit.com/gr2m/probot-probot-1065/2.0.0

[2020-01-19 23:00] gr2m commented on #1065
The problem is, that a check run can only be updated by the same app that created it in the first place. Can you confirm that this is the case for you?

Here is my reproducing test case:
https://runkit.com/gr2m/probot-probot-1065/3.0.0

I'll contact support to ask that they update the docs at https://developer.github.com/v3/checks/runs/#update-a-check-run and ideally improve the error message, too

[2020-01-19 23:12] marcgspc commented on #1065
Ok great, I created the checkrun manually, so I cannot really tell you if the app created the checkrun... And how can I make the app create it for me?

Thanks for your help though

[2020-01-19 23:30] gr2m commented on #1065
Creating a check run works similar to updating it: https://developer.github.com/v3/checks/runs/#create-a-check-run.

A simple check run would be created like this

[code]

[2020-01-20 18:57] bvaughn commented on #727
FYI I just ran into this same issue with probot@9.9.1 (released 4 days ago, so presumably this includes the fix referenced above). In my case, it turned out to be a single quote in my package description (the word "don't"). Removing that word fixed things.

[2020-01-20 19:07] AndrewNyaisonga commented on #727
Yeah I also faced the same problem today: I wanted to write `Andrew’s bot` on description and it crashed with the same error. Making it `Andrew bot` Fixed it

[2020-01-20 19:20] gr2m commented on #727
Could you please create a new issue for it and we take it from there?

[2020-01-20 22:07] marcgspc commented on #1065
@gr2m Ok thanks for all your answers, that helped a lot! For those who won't read everything except the last post, a GitHub App has rights on the checkrun that it owns, so the ones it created... The checksuites that are automatically created (on pull_request for example) are "owned" by the App `github-actions`, as which you cannot authenticate, so no possibility to update a checksuite/checkrun thi

[2020-01-20 22:55] gr2m commented on #1065
Interesting insight, thanks Marc! GitHub Actions are infact implemented internally as a GitHub App, the `GITHUB_TOKEN` provided to it as an installation authentication token scoped to the single repository, so that all makes sense. It would also imply that one github action could update check runs from other github actions, as long as they all use the `secret.GITHUB_TOKEN`. I'll add that informati

[2020-01-22 00:42] jarodwilliam commented on #815
@jleach could I see an example of this? I'm using Probot, but can't seem to get a proper response. I'm trying to access the github API, searching for all issues.

Here's my index.js file for my app

`
/**
 * This is the main entrypoint to your Probot app
 * @param {import('probot').Application} app
 */

module.exports = (app) => {
  app.on('issues.opened', async (context) => {
    const owner = co

[2020-01-22 01:51] AndrewNyaisonga opened #1115 "Quotation marks breaks manifest on creating bot"
## Bug Report

**Current Behavior**
If you use single or double quotation marks in creating probot, you get a manifest error on GitHub App creation. This error is caused by Github not being able to understand the given manifest from probot. For example if you have  `This is a bot to comment on pull requests on this user’s repositories` as description of the prompt (when creating it from npm) the m

[2020-01-22 04:06] gr2m commented on #1115
Would you like to try to work on this issue?

[2020-01-22 18:07] tcbyrd commented on #815
@jarodwilliam `app.auth()` needs the Installation ID, not the App ID. The installation ID is related to the specific repo you're trying to authenticate against. The App ID is used to authenticate the app globally. If you don't know the installation ID you're looking for, there's are a couple of endpoints that can help:

- Get the installation for a specific repository: https://developer.github.com

[2020-01-22 18:39] jleach commented on #815
@jarodwilliam Hey, I wrapped all my calls in [this file](https://github.com/bcgov/repo-mountie/blob/master/src/libs/utils.ts) so I could easily mock them for testing.

[2020-01-22 20:43] caravinci opened #1149 "[Setup wizzard] support setup for an already registered GitHub App"
Feature request / idea:
User flow: as a brand new Probot user, with some experience developing github apps, I've created/registered the app before starting the creation of the (Probot) app itself.

When starting the app for the first time (using npm run dev), the resulting page while fetching localhost:3000 offers a button to register the app.
Here, the user could be offered an alternate path to i

[2020-01-24 20:52] luishdz1010 commented on #759
Any workarounds?

[2020-01-28 20:37] #1026 closed

[2020-01-28 20:53] greenkeeper[bot] opened #1120 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `13.5.0` to `13.5.1`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fnode-13.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDependenc

[2020-01-28 21:03] greenkeeper[bot] opened #1121 "An in-range update of @types/uuid is breaking the build 🚨"
## The devDependency [@types/uuid](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `3.4.6` to `3.4.7`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fuuid-3.4.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/uuid is a devDependency o

[2020-01-28 21:27] greenkeeper[bot] opened #1122 "An in-range update of @types/ioredis is breaking the build 🚨"
## The devDependency [@types/ioredis](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.14.5` to `4.14.6`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fioredis-4.14.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/ioredis is a dev

[2020-01-30 07:27] #1120 closed

[2020-01-31 10:10] MaximDevoir commented on #759
I was able to reproduce this issue when using Probot@v7 but was unable to reproduce the issue with the latest version of Probot (currently v9).

Thanks to @wolfy1339 and his [many contributions](https://github.com/probot/probot/pulls?q=is%3Apr+sort%3Aupdated-desc+author%3Awolfy1339+is%3Aclosed), Probot now has much better type information than when this issue was created.

@luishdz1010 I don't thi

[2020-02-01 22:58] #1061 closed

[2020-02-03 00:54] greenkeeper[bot] opened #1127 "An in-range update of @octokit/rest is breaking the build 🚨"
## The dependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.41.2` to `16.42.0`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40octokit%2Frest-16.42.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a direct dependency of t

[2020-02-03 02:01] #1127 closed

[2020-02-03 17:29] gr2m commented on #985
Thanks @styfle! Could you send a pull request to update the instructions?

[2020-02-03 19:06] styfle commented on #985
I created #1130 but this is untested so it would be good to have someone try it out.

[2020-02-03 22:17] greenkeeper[bot] opened #1131 "An in-range update of @octokit/rest is breaking the build 🚨"
## The dependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.43.0` to `16.43.1`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40octokit%2Frest-16.43.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a direct dependency of t

[2020-02-03 22:44] #1131 closed

[2020-02-07 00:14] #1122 closed

[2020-02-07 00:14] #1121 closed

[2020-02-10 01:22] #985 closed

[2020-02-10 10:41] sricharanchavali-tfs opened #1135 "Probot to enable security alerts"
I was trying to turn on the security alerts using my bot and it is throwing "Empty value for parameter 'value': undefined"

Is ocotkit deprecated or is this some  other issue?

I have used octokit login configuration and the below code to turn on the alerts

[code]

**Expected behavior/code**
Turning on the vulnerability alerts for the repository

**Environment**
- Probot version(s): [e.g. v6.0.0]

[2020-02-10 16:20] gr2m commented on #1135
Can you try

[code]

[2020-02-11 04:39] sricharanchavali-tfs commented on #1135
@gr2m : Thankyou so much buddy. I feel terrible missing it by that much. It works :)

[2020-02-11 04:39] #1135 closed

[2020-02-11 04:40] gr2m commented on #1135
No worries at all, glad you got it working now 👍

[2020-02-11 20:37] JasonEtco commented on #1039
Closing due to lack of information - feel free to reopen if you'd like ❤️

[2020-02-11 20:37] #1039 closed

[2020-02-11 23:22] #1068 closed

[2020-02-14 06:32] JacksonKearl opened #1136 "Document `Active` flag in GitHub bot config"
![image](https://user-images.githubusercontent.com/8586769/74507168-786f6b80-4eb0-11ea-839e-4d92a913a93c.png)

For me, this was unset at initialization and this caused no webhooks to be fired whatsoever. I don't see the need to check this documented on https://probot.github.io/docs/development/ or https://probot.github.io/docs/webhooks/, and I spent quite a bit more time than I'd care to admit ban

[2020-02-14 17:13] gr2m commented on #1136
I cannot remember to have seen this checkbox. Where is it coming from?

[2020-02-14 18:07] JacksonKearl commented on #1136
![image](https://user-images.githubusercontent.com/8586769/74555983-c072aa80-4f11-11ea-9322-0ce88bf8e995.png)
For me it shows up at the bottom of the bot configuration page.

[2020-02-14 19:29] gr2m commented on #1136
Huh, interesting. I love that they added that feature, something I was looking for :)

Anyway, I agree, we should set this checkbox by default, if possible.

Is it just me or is the description of the checkbox confusing? Shouldn't it say something like

[2020-02-14 20:09] JacksonKearl commented on #1136
Its not just you, I read the box, didn't check it because I didn't understand it would basically disable the bot entirely, and spent quite a long time trying to figure out why my bot wasn't working.

[2020-02-14 21:13] gr2m commented on #1136
I’ll let support know :)

[2020-02-14 21:31] kjc17710 opened #1137 "Probot throwing HttpError when trying to add member to a team"
## Bug Report

**Current Behavior**
When attempting to use the below function, an error is throw that says

[code]

[code]

**Expected behavior/code**
The member should be added to the team

**Environment**
- Probot version(s): 9.9.1
- @octokit/rest version: 16.40.1
- Node/npm version: Node 12.10.0 / npm 6.10.3
- OS: Windows 10

**Possible Solution**
I'm not entirely sure if this is an issue with

[2020-02-14 21:43] gr2m commented on #1137
The error sounds like the app installation has no permission to add a member to the given team. Can you try to send the same request authenticated with a personal access token?

[2020-02-14 21:55] kjc17710 commented on #1137
Wouldn't it use that same permission to remove someone from a team? I also forgot to mention that the endpoint used by that request, I can use successfully through Postman with my credentials. So it seems to be the Probot/Octokit wrapper around the endpoint that's throwing up.

I'm not sure how to use a personal access token instead. Would I generate a token for myself and replace the .pem file th

[2020-02-14 22:11] gr2m commented on #1137
If it works with Postman and your credentials, then you covered that already

Can you generate an installation access token and use that in your Postman request?

You can generate the access token using [`@octokit/auth-app`](https://github.com/octokit/auth-app.js/) and [`@octokit/request`](https://github.com/octokit/request.js/)

[code]

[2020-02-15 22:54] bodinsamuel commented on #1084
Not sure which one because I did both at the same time:
https://stackoverflow.com/questions/49473606/github-probot-error-probot-bad-request
https://stackoverflow.com/questions/49547841/github-probot-error-probot-signature-does-not-match-event-payload-and-secret

I have done both solutions (putting any callback and reputting the webhook secret I have in my .env) and it works now 🤷🏻‍♂️

[2020-02-17 13:20] lpellegr opened #1139 "Setting the "new Octokit({ auth })" option to an object without also setting the "authStrategy" option is deprecated and will be removed in v17"
Creating a new app following the documentation and using npx (with the basic Typescript template option):

[code]

Once I run the app, I get a deprecation warning:

[2020-02-17 16:36] kjc17710 commented on #1137
I was finally able to generate the installation access token and when I tried to use it in Postman, it seems to give the same error as using probot.

![image](https://user-images.githubusercontent.com/58891753/74671646-42acda00-5171-11ea-910d-c2d142ac2015.png)

[2020-02-17 18:00] gr2m commented on #1137
In that case it's not an error with Probot or Octokit, but the installation does in fact not have the permission. I'm not entirely sure which permission is required for that particular endpoint. I think it's the "Members" permission:

<img width="812" alt="image" src="https://user-images.githubusercontent.com/39992/74677030-396d3e80-516c-11ea-8c4f-5305aea321e6.png">

Note that once you add a permi