[2018-02-20 20:52] JasonEtco commented on #419
I'm definitely a +1 to using one SDK for both vanilla GCF and Firebase. My only concern is that some folks will say "But I just want functions, I don't want the other Firebase overhead"; are there any disadvantages to a Firebase function vs GCF? Or literally just more opt-in features (which is what I think is the case)?

@tcbyrd, do you think this will mean pulling in those SDKs into `probot/probo

[2018-02-20 21:02] samtstern commented on #419
@JasonEtco The only "disadvantage" I can think of is you need to have imported your GCP project into the Firebase console (or created it there originally).  This means a few more APIs will be auto-enabled and some free resources may be provisioned on your behalf (like an empty Firebase database) but none of this will cost the developer any extra money nor will it affect the speed/efficiency of the

[2018-02-20 21:04] JasonEtco commented on #419
Awesome, that's what I was hoping for! In that case, I see no reason why we would need to build two severless paths for GCF and Firebase individually.

[2018-02-20 23:19] tcbyrd commented on #419
@JasonEtco What I'm hoping we can accomplish with any cloud SDKs is to use inherent knowledge of what's available in the execution environment to avoid bringing in any dependencies that are already available.

A few examples:
- A Firebase developer will deploy functions from a Firebase project, which means they probably already have the firebase package as a dependency.
- A Lambda function's execu

[2018-02-21 20:44] greenkeeper[bot] opened #437 "An in-range update of nock is breaking the build 🚨"
## Version **9.1.7** of [nock](https://github.com/node-nock/nock) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/probot/probot/compare/greenkeeper%2Fnock-9.1.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nock
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2018-02-22 00:12] greenkeeper opened #438 "An in-range update of bottleneck is breaking the build 🚨"
## Version **2.1.0** of [bottleneck](https://github.com/SGrondin/bottleneck) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/probot/probot/compare/greenkeeper%2Fbottleneck-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      bottleneck
    </td>
  </tr>
  <tr>
    <th align=left>

[2018-02-22 03:15] JasonEtco opened #439 "Smee connection errors are unclear"
I had the following set in my `.env`:

[code]

It'll take you a minute to find the problem (took me 2 days) but there's only one `/` in `https://`. This resulted in a stream of errors from Probot, spamming my terminal as it tried to reconnect:

[code]

![image](https://user-images.githubusercontent.com/10660468/36518475-8b1b1eea-1754-11e8-9c57-ca7192e21c54.png)

I would love to add a better error

[2018-02-22 04:37] laughedelic opened #440 "Several files with private keys"
I have created two Github apps: one to test my bot locally and another for (production) deployment. So I got two `.pem` files in my repo and it took me quite some time to figure out why my local bot cannot authorize.

The reason is this:

https://github.com/probot/probot/blob/18a665c6c6fe0f38eb551d548c9d96ed3ebda00c/lib/private-key.js#L25

It takes whichever `.pem` file it encounters first.

So I

[2018-02-22 04:52] JasonEtco commented on #440
Thanks for opening this @laughedelic! Its an edge-case, but definitely worth handling. I'm cool with either change (or ideally both). Up to opening a PR?

[2018-02-22 04:57] laughedelic commented on #440
Sure. I was doubting whether I should open a PR right away here because of the big rewrite in #372...

[2018-02-22 04:58] JasonEtco commented on #440
@laughedelic I wouldn't worry about that. Your change won't touch enough code for it to be a problem.

[2018-02-22 05:40] JasonEtco commented on #120
It looks like **stale** isn't respecting the `pinned` label since I added emojis to it 😦 Will remove those emojis 👍

[2018-02-22 11:59] harsha4444 commented on #440
* Order of precedence:
  * 1. Explicit path (CLI option)
  * 2. `PRIVATE_KEY` env var
  * 3. `PRIVATE_KEY_PATH` env var
  * 4. Any file w/ `.pem` extension in current working dir

[2018-02-23 11:04] anshumanv commented on #174
Tried regenerating, can anyone help?

[code]

[2018-02-23 12:39] laughedelic commented on #174
@anshumanv check that you don't have several private keys in the project directory: #440.

[2018-02-26 23:30] greenkeeper[bot] opened #442 "An in-range update of dotenv is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **5.0.1** of [dotenv](https://github.com/motdotla/dotenv) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/probot/probot/compare/greenkeeper%2Fdotenv-5.0.1">Build failing 🚨</a>

[2018-02-27 10:43] greenkeeper[bot] opened #443 "An in-range update of raven is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.4.2** of [raven](https://github.com/getsentry/raven-node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/probot/probot/compare/greenkeeper%2Fraven-2.4.2">Build failing 🚨</a>

[2018-03-01 04:51] AshanthaLahiru commented on #439
@JasonEtco , It seems this error is generating from the smee-client. Isn't it better if we could do a url validation at the first place? In the probot itself.

[2018-03-01 05:04] JasonEtco commented on #439
`smee-client` should return a useful error, which would ideally bubble up to Probot's error handler.

[2018-03-01 05:54] AshanthaLahiru commented on #439
That makes sense. Thank you for the clarification.

[2018-03-01 18:20] JasonEtco opened #446 "Add a "Summer of Code" header to the README"
Add a section about Summer of Code to the bottom of the README, that links out to our section on the website for it:

https://probot.github.io/docs/summer-of-code/

cc @lee-dohm ✨

[2018-03-02 03:37] tanhengyeow commented on #446
Hi, I'm new to probot. Do you think I can work on this issue? :)

Thank you!

[2018-03-02 03:45] JasonEtco commented on #382
This still needs to be addressed <3

[2018-03-03 11:27] Ayushverma8 opened #447 "Adding "Search " option at Featured Apps Section"
Adding a "Search" button to search for a specific App at this  [URL](https://probot.github.io/apps/) will be really helpful.

- Search by  **Application for Organisations**
- Search by Tags , like CI/CD Application.

We can build a *probot* which could help new users on board with specific and **exhaustive search**

[2018-03-03 11:40] #447 closed

[2018-03-03 17:59] JasonEtco commented on #446
@tanhengyeow hi! Thanks for volunteering, but I've already got it covered 💖

[2018-03-03 18:43] #446 closed

[2018-03-06 19:42] #308 closed

[2018-03-07 14:23] aryannarora commented on #439
@JasonEtco Can i work on this issue?

[2018-03-07 15:11] JasonEtco commented on #439
@aryannarora go for it! I'm not sure where the best place to start is - either reproducing the error in a Probot app and trying to dig up where the error comes from in the code, or trying to resolve it in [probot/smee](https://github.com/probot/smee). Let me know if you have any questions!

[2018-03-07 15:17] aryannarora commented on #439
It appears that the error is in "node_modules/lib/probot/webhook-proxy.js" .
I added a url checker in that and it works just fine. Should i open a PR?

[2018-03-07 15:18] JasonEtco commented on #439
What kind of error was being output? We can figure that out in the PR, but I'd like to make sure that a malformed URL is followed by a descriptive error message.

Absolutely 👌

[2018-03-07 15:22] aryannarora commented on #439
![error1](https://user-images.githubusercontent.com/30005173/37100583-5b9de65c-2249-11e8-9754-cf99c752e9de.PNG)
Something like this?

Opening a PR.

[2018-03-07 17:57] gr2m commented on #309
I’ll follow up on this with an issue / fix in `@octokit/rest`, but can’t give an ETA yet

[2018-03-07 18:46] aryannarora commented on #382
@JasonEtco, Does this mean that every time an app is uninstalled, an error like this will be logged?
I tried uninstalling an app and i received 3 web hooks but no errors. Also i'd like to work on this issue. :)

[2018-03-07 18:53] JasonEtco commented on #382
@aryannarora some pseudo code to illustrate what I meant:

[code]

Within `robot.auth`, which `robot.on` uses under the hood, the part where it authenticates the `context.github` client as the installation throws an error.

[2018-03-07 20:26] aryannarora commented on #382
@JasonEtco, I tried to return robot.log("Some Text") in "installation.delete" and that worked just fine. But if i return something like context.github.issues.createComment(...), it throws an error, well obviously the context of installation.delete won't have the required data to create a comment but i got the idea. The return statement would work with the context available for it. Else it'll just

[2018-03-07 20:59] JasonEtco commented on #382
@aryannarora The error occurs when the app tries to authenticate the GitHub API client as an installation - an installation being specific to a user or a repository, it comes with an `installation id` number (found in `context.payload.installation.id` - but can't, because that installation has just been deleted. You can try it out by setting up a fake app, listening for `robot.on('installation.del

[2018-03-07 21:34] aryannarora commented on #382
@JasonEtco Yes, this is what i meant that it tries to perform the action but the data is not available in context so it throws the error. This type of issues are in other event driven frameworks also, like socket.io,
A workaround here might be binding some other event, say installation.deleting, to uninstall action which will complete the required actions and then call for  installation.deleted.

[2018-03-07 21:36] aryannarora commented on #382
It'll be something like this.

`robot.on('installation.deleting', async context => { // robot.on will throw
  // This will never be run
  return context.github.issues.createComment(...)
// call installation.deleted
})`

[2018-03-07 22:29] aryannarora commented on #288
@bkeepers @JasonEtco Can you please guide me to what's left in this issue to solve. I would love to work on this. 😃

[2018-03-07 22:34] JasonEtco commented on #288
It looks like the only one remaining is `metrics` - I know that @anshumanv was having some trouble over in https://github.com/probot/metrics/issues/18. @aryannarora you're welcome to try to dig into it 😄

[2018-03-08 00:52] aryannarora commented on #288
@JasonEtco I'll surely do. :)

[2018-03-09 00:11] bkeepers commented on #288
I'm going to close this out since everything else is done.

Thanks everyone for the help here!

[2018-03-09 00:11] #288 closed

[2018-03-09 02:33] #440 closed

[2018-03-09 14:02] Raul6469 commented on #407
This issue can be closed, as the documentation was updated in #411, thanks!

[2018-03-09 14:02] #407 closed

[2018-03-09 19:35] aryannarora commented on #382
@JasonEtco Review please. 😅

[2018-03-09 20:01] JasonEtco commented on #382
@aryannarora what are you looking for a review on?

[2018-03-09 20:30] aryannarora commented on #382
@JasonEtco Hey. 😄 I was talking about the above `installion.deleting` event i suggested above. I wanted to know if that can be a workaround here. 😃

[2018-03-10 23:43] tcbyrd commented on #149
Working on it! @JasonEtco and I have been going back and forth on an API for this. Anyone that's reading this, how does this feel for a minimal API?

[code]

The idea is to create a serverless method in Probot that calls the appropriate function signature for each provider. We haven't built this yet, but conceptually it would look something like this:

[code]

There are some other differences betw

[2018-03-11 05:37] #354 closed

[2018-03-14 03:41] #330 closed

[2018-03-14 23:12] bkeepers commented on #120
Can you open an issue on probot/stale too if this is something that could be affecting other people?

[2018-03-15 04:14] bkeepers commented on #442
I think this was caused by #444

[2018-03-15 04:14] #442 closed

[2018-03-15 04:19] #438 closed, assigned to nobody

[2018-03-15 04:20] #443 closed

[2018-03-15 04:26] bkeepers commented on #428
Fixed in #455

[2018-03-15 04:26] #428 closed

[2018-03-15 04:26] #437 closed

[2018-03-15 04:31] #402 closed

[2018-03-15 13:49] bkeepers commented on #401
This has been a great discussion. Thanks @Seluj78 for starting it, and thanks everyone else for the enthusiasm! It sounds like the conclusion here is:

- Poeple would love to see something like probot in Python
- or at least an octokit.py that supports GitHub Apps
- Probot maintainers are focused on building the JavaScript implementation and ecosystem around it, so there isn't time/expertise to ma

[2018-03-15 13:49] #401 closed

[2018-03-16 00:04] zeke opened #466 "Disabling "Webhook received" messages"
Is there a way to disable log message such as this one?

[code]

[2018-03-16 00:07] JasonEtco commented on #439
Moved this over to https://github.com/probot/smee/issues/43

[2018-03-16 00:07] #439 closed

[2018-03-16 00:27] bkeepers commented on #466
We could change the log level to `debug` for those messages, would that help?

[2018-03-16 02:07] zeke commented on #466
Yeah that sounds good to me, but I wonder if others find this output useful...

[2018-03-17 08:12] itaditya commented on #466
I find this useful.

[2018-03-17 12:04] bkeepers commented on #466
I think it’s really helpful for people getting started. Arguable it’s less helpful now that we have smee and people can inspect the webhooks and payloads there. So it’s maybe with st least pairing this down so it’s less obtrusive?

[2018-03-17 15:25] aps120797 commented on #466
`webhook received` messages is useful. It only doesn't look good as it takes too much space in terminal. Possibly, as @bkeepers suggests, pairing messages together will be a good idea.

[2018-03-17 16:35] bkeepers opened #469 "$ probot console"
I used to use [script/console](https://github.com/probot/probot/blob/19a06c898dadce31712704ed68cdad5132e4abef/script/console) a lot to experiment with GitHub API calls. I stoped using it over time, primarily because Probot switched away from using a bot token to use GitHub Apps and there were often APIs that would work with a token and then not work for GitHub Apps.

It'd be cool to add `$ probot

[2018-03-17 19:20] itaditya commented on #466
Was looking at #469 . It would look cool if we have an interactive console where we can expand a line and see more data just like in this case. I'll also take a look at Chrome dev tools for Node. Maybe that can be a good tooling for Probot.

[2018-03-18 06:05] JasonEtco commented on #469
This is a great idea - in my [todo app](https://github.com/jasonetco/todo), I have [a CLI script](https://github.com/JasonEtco/todo/blob/master/bin/todo.js) that calls the app code with a fake event (but on potentially real data), and stubs out the relevant GitHub client methods to write to `stdout` instead of actually making requests. It's obviously very tailored to what I need in an event, so I'

[2018-03-19 15:19] JasonEtco commented on #419
Hey folks! Just want to update you all: @tcbyrd and I are working on a `probot.serverless()` method over in #473. It isn't there right this second, but Firebase functions are on our list of APIs to support out of the box. It'd work sort of like this:

[code]

We still have some things to do over in that PR so feel free to jump in and give feedback on the GCF/Firebase side of things 🙌

[2018-03-19 16:31] samtstern commented on #419
@JasonEtco thanks for the update, that proposed integration looks perfect!  I'll comment if I see anything/

[2018-03-19 17:11] tcbyrd commented on #419
On that note, does it feel acceptable here to leave the provider argument as `gcf`? It feels ok to me for the firebase `onRequest` method to wrap a `gcf` function handler.

[2018-03-19 18:02] samtstern commented on #419
@tcbyrd yeah that seems ok to me.  In the end they're the same product.  However:

  * Many Firebase customers have no idea they're using GCF, so maybe to reduce cognitive load we could add a `firebase` argument that is just an alias for `gcf`.
  * While right now those two platforms handle HTTP functions basically the same, there's no guarantee this will remain the case.  In fact I'd bet that the

[2018-03-22 02:23] bkeepers opened #476 "Feedback on GraphQL support"
#472 introduced GraphQL support through `context.github.query`. It'll likely take a while to figure out patterns for efficiently building Probot apps with GraphQL. Your feedback is an important part of that. Feel free to comment here with ideas, friction, or suggestions on how we can make building Probot apps with GraphQL an amazing experience.

[2018-03-22 03:54] bkeepers commented on #476
One thing that is awkward is that the node id is needed for mutations in GraphQL, but webhooks don't include them…yet. This could change within the next week as [this change to the REST API to include `node_id` in all payloads](https://developer.github.com/changes/2017-12-19-graphql-node-id/) is about to be taken out of preview. Webhooks use the same serializers as the REST API, so payloads will i

[2018-03-22 16:35] Mte90 commented on #258
no please again, don't close it!

[2018-03-22 22:51] bkeepers opened #480 "Documented and supported low-level API"
Currently, the only documented API is `probot run ./app.js` and the methods on `robot` and `context` objects. There are a lot of good reasons for publishing and documenting low-level APIs (building extensions, embedding probot in other apps, and testing–to name a few). I'd like to see us get to a point where we have a documented low-level API that is semantically-versioned.

TODO:

- [ ] Expose me

[2018-03-22 23:01] #466 closed

[2018-03-23 04:12] olstenlarck commented on #258
Yea, still trying to find time to read it and join :D

[2018-03-23 10:13] j-f1 commented on #258
Can someone with write access add the `pinned` label so the issue doesn’t get marked as stale?

[2018-03-23 23:18] bkeepers opened #484 "Show beautiful GraphQL error messages"
GraphQL returns great error messages:

[code]

We should take advantage of that and make them B-E-A-utiful!

[code]

We need to get a full spec on what all the GraphQL errors will include, but here's some thoughts:

- If `locations` is included, then show the original query with a pointer to exactly where the error occurred
- Colorize the output so the error message is in red, and the context is i

[2018-03-24 15:11] cjoudrey commented on #484
The [GraphQL spec](http://facebook.github.io/graphql/October2016/#sec-Errors) says that all errors part of the `"errors"` key must have a `message`.

The `locations` key is optional as per the spec, but I believe in most cases will be present when using the GitHub API. I would still handle the case where `locations` isn't present just in case.

The spec allows GraphQL servers to provide extra keys

[2018-03-26 07:26] itaditya opened #486 "Use git hooks"
New contributors may not remember to format and lint their code. They may not even test the code before making a PR. (I have done this mistake in the past numerous times :sweat_smile: ). We can maximize their
 productivity and also avoid the cases where the only thing for review is the style guide. I have used husky to setup git hooks, should I make a PR to add this ?

[2018-03-26 20:58] #433 closed

[2018-03-27 20:59] Bartozzz commented on #382
After some more digging into this issue, I've found some very strange behaviours concerning `installation` and `installation.deleted` events. I've created a **private** repository with **no** other GitHub applications installed on it. Tested on Probot v6.1.0 (clean install).

---

The code below creates an issue on my test repository, even when the application is getting **uninstalled** and **cred

[2018-03-29 22:11] Bartozzz commented on #382
I'll try later, but I guess it will throw the same error. That's because `payload.repository` is `undefined` [here](https://github.com/probot/probot/blob/master/lib/context.js#L31-L57) on `installation.*`.

[2018-03-30 00:32] aryannarora commented on #486
@itaditya I think this would make a great PR. :)

[2018-03-30 13:15] ocombe commented on #476
2 ideas:
- add an helper function to paginate graphql queries
- add some "defaults" for graphQL queries (eg: issues, PRs, ...), because it's just annoying to always have to wrap my queries in repository > pullRequest (or issues), it is just boilerplate that I don't really want to add everytime. Example:

[code]

[2018-03-30 22:24] Nischay-Pro opened #488 "probot projects throw Unauthorized (401) errors"
My probot applications throw the following error on running.

I have done the following already

- Updating my packages
- Reinstalling my packages
- Regenerating my GitHub App Secret Key
- Recreating my GitHub Application

**Screenshot**

![image](https://user-images.githubusercontent.com/15060256/38155778-2aeb03c2-3497-11e8-9ff5-490efdd97068.png)

[2018-03-31 11:09] itaditya commented on #486
@aryannarora thanks for the +1. @bkeepers should I go ahead with the PR?

[2018-03-31 11:50] knrt10 commented on #488
What is your probot's version?

[2018-04-02 02:53] tcbyrd commented on #488
@Nischay-Pro I've seen this when your webhook secret is not the same as what's defined in the GitHub App settings. If you've double checked all your env variables and the webhook secret, the other possibility is the time on your server is not in sync.

[2018-04-02 15:44] Nischay-Pro commented on #488
@tcbyrd Yep. My system time was out of sync with server time by 1 minute. Resyncing fixed it.

[2018-04-02 15:44] #488 closed

[2018-04-06 20:10] fpapado opened #491 "Error in loading release event fixture with robot.receive"
Greetings!

I am running into a problem when trying to load a `release` event payload fixture.

## The error
[code]

## Repository
The repository is little past `create-probot-app`. The tests and fixtures are under `test/`
https://github.com/fpapado/org-release-announcer
https://github.com/fpapado/org-release-announcer/tree/master/test

The fixture in question:
https://github.com/fpapado/org-relea

[2018-04-07 21:58] fpapado commented on #491
I dug a little deeper and figured it out! It wasn't about the fixture per se, but whether the Github API was being mocked in the test.

I am not using the Github API to create any responses, so I originally saw no reason to mock it. Turns out that receiving an event might trigger an authentication call to `robot.auth`.

Adding this part to the test fixed it:
[code]
Apps that do not interact with r

[2018-04-07 21:58] #491 closed

[2018-04-10 08:35] itaditya opened #496 "Refactor createApp function into a class"
As per @JasonEtco on PR #493 after createProbot is refactored, the next task is refactoring createApp function into a class.
I would like to work on this.

[2018-04-10 13:04] sandfox commented on #149
Just incase this passed anyone by, [AWS Lambda now supports nodejs 8.10](https://aws.amazon.com/blogs/compute/node-js-8-10-runtime-now-available-in-aws-lambda/)
and aside from the implicit changes that brings, you can now have your lambda handler be an `await`-able `async` function (or return a promise) instead of using the `callback` arg:

[code]

[2018-04-11 10:56] aryannarora commented on #281
Anybody working on this?
If not, i'd like to create a PR for this.

[2018-04-11 11:16] ocombe commented on #281
there's another PR for that, and also v7 is released as the `@next` tag on npm using typescript!

[2018-04-11 14:12] tcbyrd commented on #149
@sandfox Yep we saw this! We're working on a serverless extension that handles the new function signature here: https://github.com/probot/serverless-lambda

It's not published on npm yet, but I've been working with it for a few days and it's working great so far.

[2018-04-11 14:34] sandfox commented on #149
@tcbyrd oohhh, awesome 😍 ! I must have missed that whilst poking about on GH org here as I was about to embark on building the same thing. I'll try to find some time to give that extension a spin with a production-ey probot.

[2018-04-11 20:43] JasonEtco opened #499 "Typo in a template repo's commit message"
![image](https://user-images.githubusercontent.com/10660468/38642204-64895ff2-3da7-11e8-9b58-a4c23c371ec9.png)

@hectorsector is this something we can fix semi-easily? This is in the **Communicating with Markdown** course, so [githubtraining/github-pages-with-jekyll-template](https://github.com/githubtraining/github-pages-with-jekyll-template).

[2018-04-12 23:58] #499 closed

[2018-04-13 09:34] itaditya commented on #408
@bkeepers @gr2m this looks interesting, can I work on this ?

[2018-04-13 21:21] ShafiqAhmed opened #500 "How do we use this app in organization github"
How do I use this app in organization github.
example for github.mycompany.com

[2018-04-13 21:33] aryannarora commented on #500
@ShafiqAhmed We need to install these apps onto our account and according to the needs give access to all or specific repositories. You can browse them here https://probot.github.io/apps/ .

[2018-04-13 21:35] JasonEtco commented on #500
For clarity: this question is about using an already-deployed app, designed to work on GitHub.com, on GitHub Enterprise, a special kind of GitHub for large businesses.

To use a GitHub App (or a Probot App) on GitHub Enterprise, you'll need to have your own deployment. You can follow the [deployment docs](https://probot.github.io/docs/deployment) to get started.

[2018-04-13 21:35] #500 closed

[2018-04-14 04:41] itaditya commented on #500
@JasonEtco I think the title of the issue is incorrect. This question may help many people in the future, so it would be better if you edit the title.

[2018-04-14 14:09] itaditya opened #501 "Add docs on how to create a probot helper/plugin/extension like scheduler"
Implementing common use cases as plugins like `scheduler` and `commands` for probot is really beneficial. If you provide docs on how to make one ourselves, the community can make more of these plugins. If there are some resources we can follow please provide them for now.

[2018-04-14 15:12] itaditya commented on #501
@bkeepers your thoughts ?

[2018-04-14 16:46] raulriera opened #503 "Remove configure extension"
It seems to already be in the probot code itself. Should this app be removed from the extensions list in https://probot.github.io/docs/extensions/ ?

[2018-04-14 16:49] hiimbex commented on #503
Can you clarify where in the probot code you think this exists? To my knowledge, this was a unique extension for probot.

[2018-04-14 16:52] hiimbex commented on #501
I think https://probot.github.io/docs/extensions/ is sufficient for now. Each one is rather drastically different implementation wise, so I'm not sure there is a good way to explain how to make one yourself. If one had a specific idea for something or saw something used throughout existing probot apps, I think one could open an issue and we could work through it.

[2018-04-14 16:52] #501 closed

[2018-04-14 16:54] itaditya commented on #501
hey could you just explain how you trigger synthetic events like 'schedule.repository'. I guess that is the most important thing I need to know.

[2018-04-14 16:58] bkeepers commented on #501
Here is where the event is defined:
https://github.com/probot/scheduler/blob/master/index.js#L57-L60

And here is where it is triggered:
https://github.com/probot/scheduler/blob/master/index.js#L65-L66

Note that this is not currently a supported/documented API and could change at any time.

[2018-04-14 16:58] AshanthaLahiru commented on #503
I think this is reference to probot's in-build config.

`let config = await context.config('sert.yml', defaults)`

Is there any difference between those two?

[2018-04-14 17:02] itaditya commented on #501
Thanks @bkeepers this will be enough for now. I'll update this thread with my findings

[2018-04-14 17:31] hiimbex commented on #503
Yes! So to clarify `context.config` is a built in probot functionality to get a configuration file for a repository, such as a `sert.yml` file.

[Probot-config](https://probot.github.io/docs/extensions/#config) on the other hand allows repositories within an org to share these settings from the same original file. So if that file is updated, all the other repo's "inheriting" it's settings will be

[2018-04-14 17:31] #503 closed

[2018-04-14 17:37] AshanthaLahiru commented on #503
Cool, thanks @hiimbex for the clarification.

[2018-04-16 12:56] itaditya opened #506 "context.repo() raises exception when used with installation events"
Consider these code snippets
A.
[code]

B.
[code]

A will work fine as it is deals with repo specific event, so `context.repo()` has appropriate repo details.
However in B, it will fail, because we are dealing with installation level event. which is not bound to specific repo.

`context.repo` should handle this edge case, and inform the user that `context.repo()` is not available for `installation

[2018-04-16 13:04] abhijeetps opened #507 "Ping event throws error"
[Ping event](https://developer.github.com/webhooks/#ping-event) throws ERROR when it's redelivered.

I know that ping event is only used to know that one has set up webhook properly.

But when I try to redeliver my Probot application, it throws this error, and crashes the app. I think it's something that could be improved.

[code]

[2018-04-16 13:53] knrt10 commented on #506
@itaditya Yes you are right hope this PR helps.

[2018-04-16 13:58] itaditya commented on #506
Hmm, I think if we are throwing errors for some cases we should document that too.

[2018-04-16 14:59] ShafiqAhmed commented on #500
Can someone take a look at this, it duplicated : https://github.com/probot/stale/issues/115

[2018-04-16 14:59] ShafiqAhmed commented on #500
@JasonEtco

[2018-04-16 20:46] Bartozzz commented on #506
It doesn't seem like the right solution. It will just move the problem somewhere else. In my opinion, a better implementation would be to make `context.repo()` by returning an array of repositories based on `payload.repositories_added`.

If we manage to somehow add support for _arrays-of-objects_ in `context.github.*`, it would fix issue #382 (already partially resolved with my pull-request #475).

[2018-04-16 20:50] JasonEtco commented on #506
I'm not in favor of making `context.repo()` work in different ways - it should always return the same thing, otherwise the usage can be confusing.

A better pattern would be to throw an error in `context.repo` if the requisite information isn't found.

[2018-04-16 20:55] Bartozzz commented on #506
So maybe `context.repos()` and raise a warning when accessing `context.repo()` instead of an actual exception. There's still plenty of use-cases of this, as describes today on Slack by @itaditya, for example:

[code]

---

[code]

[code]

[2018-04-16 20:58] knrt10 commented on #506
@JasonEtco that's what I did in #508 .

[2018-04-17 04:39] patcon commented on #299
What about suggesting an unofficial pattern of using a gitter api key (perhaps even a shared one) to log messages to a public gitter chat room: `probot/errors` or something? I kinda hate myself for suggesting, but it would avoid the need for write access on GH issues :)

[2018-04-17 06:15] itaditya commented on #506
@Bartozzz if we try to maintain this consistency ourselves for all the webhooks such that, `context.repo()` remains the same for all events than I guess it would lead to large maintenance overhead. We'll have to keep track of API changes etc. How about we delegate this part to the developer himself ?

[2018-04-17 06:18] knrt10 commented on #506
Totally agree with you on that. Was about to say the same. @itaditya. 👍

[2018-04-17 08:33] Bartozzz commented on #506
I guess that the API will not change that much since GitHub is a big and serious company, used by a lot of businesses. Even if it will, GitHub will inform you about the change and throw a warning on deprecated endpoints to give you some time to adapt your code. They cannot make breaking-changes from one day to another.

And the maintenance is already be a huge concern because Probot relies hard on

[2018-04-17 14:26] itaditya commented on #506
Good point @Bartozzz

[2018-04-20 21:12] JasonEtco commented on #336
This has in fact been resolved, and this endpoint is now enabled for GitHub Apps. Thanks everyone!

[2018-04-20 21:12] #336 closed

[2018-04-20 21:39] denysdovhan opened #511 "Is it possible to commit changes with probot?"
Let's assume that I want to perform and commit some changes in repo after every commit. Is it possible with probot? If so, then how?

P.S: This might be useful for things like linters and formaters.

[2018-04-20 21:43] JasonEtco commented on #511
It is possible! You'll want to take a look at [the GitData API](https://octokit.github.io/rest.js/#api-Gitdata), or the [updateFile](https://octokit.github.io/rest.js/#api-Repos-updateFile) endpoint for repositories.

If you have any more questions, feel free to [join our Slack channel](https://probot.github.io/community/)!

[2018-04-20 21:43] #511 closed

[2018-04-22 20:36] #506 closed

[2018-04-23 00:47] bkeepers opened #512 "Feedback on TypeScript support"
https://github.com/probot/probot/pull/372 has been a huge effort by @tcbyrd, @ocombe, and several others to rewrite Probot in TypeScript. If you'd like to help us test out TypeScript support, please install the pre-release and report any issues you run in to:

[code]

TODO:

- [x] Remove `no-var-requires` from `tslint.json`
- [x] Remove `OctokitWithPagination` in favor of [declaration merging](htt

[2018-04-24 01:39] #426 closed

[2018-04-24 13:09] ocombe commented on #512
I've already updated to that version and added comments on the PR when it made sense.
You can see the commit to update to this new version here: https://github.com/angular/github-robot/commit/051022791040d0023246a7418df2c1d86ce43005
I had to overwrite some typings for Context and the Logger to make things work.

[2018-04-25 15:21] pepibumur opened #516 "Enable/disable external probots from each repository"
In my organization we have a probot that uses some other external probots. The probot is enabled at the organization level so that all repositories can use it.

The problem with such setup is that repositories cannot enable/disable an specific probot unless the probot has support for that. I'm wondering if that's something probot could support. The idea that I had in mind was that repositories cou

[2018-04-25 17:57] JasonEtco commented on #516
I'm interested to hear what the other maintainers have to say about this, but my opinion is that this is not within the scope of Probot. GitHub Apps are installable on a per-repo or per-organization basis; that whole paradigm is designed for your situation. Enabling/disabling them will still give those apps access to the repos; if its installed on the org it has access regardless of whether or not

[2018-04-26 10:26] pepibumur commented on #516
Hi Jason! I'm also interested to hear other maintainers. Let me give you a bit of context on how we are using probots.
- It's a large organization and security when adding external dependencies is important for us. We can't just use third party probots that have GitHub access to the organization and are deployed on servers we don't control. They could do something with that data and we wouldn't be

[2018-04-26 18:01] JasonEtco commented on #516
@pepibumur thanks for that detailed answer - I think I understand a little more what you're getting at. I misunderstood and though you were installing multiple apps, when what it sounds like is that you've combined Probot apps into one deployment (per [these docs](https://probot.github.io/docs/deployment/#combining-apps) I'm guessing).

I'm not sure that we should be building that into Probot core

[2018-04-27 00:58] tcbyrd commented on #516
@JasonEtco What you wrote there was the same idea I was having about how this might work before I even read it, so 👍from me (caveat that I haven't tested it either). The general theme is you have one "master" Probot that has a way to conditionally emit events. It's basically a feature flag each repo owner can opt into by defining what features they want in `probot.yml`.

Since security is one of t

[2018-04-29 12:11] lidortal commented on #318
I followed the instruction above and solved the PEM_read_bio issue I had.
Now I get:
[code]
I use GHE 2.12, any idea?

[2018-05-04 02:12] JPWKU opened #518 "DCO check is hung in a weird state"
We are using DCO probot as a requirement on branch protections to ensure signoff.  We have a check that seems to be hung and not responding.  The PR in question is here at https://github.com/edgexfoundry/developer-scripts/pull/52
I'm not sure how to proceed as I wasn't able to trigger a reset on it.

[2018-05-04 13:53] bkeepers commented on #518
Hey @JPWKU, thanks for reporting the error.  It looks like this is a duplicate of https://github.com/probot/dco/issues/69.

[2018-05-04 13:53] #518 closed

[2018-05-04 16:12] JPWKU commented on #518
Thanks @bkeepers I'll follow along there.  I'll take a look to see if I can help out, I have some time I can dedicate to this.

[2018-05-07 12:45] JasonEtco commented on #516
No worries @pepibumur, glad I could be helpful 🙌 - yeah, `context.event` is an undocumented property, which is an oversight on our part. If you need to tweak the above code I'm happy to give it a look if that'd help, just [reach out on Slack](https://probot.github.io/community/)!

I'm going to close this because it sounds like there's a solution - feel free to reopen if that doesn't work for you,

[2018-05-07 12:45] #516 closed

[2018-05-07 16:07] pepibumur commented on #516
Awesome! I'm currently implementing it but it seems like it's going to work. I'll join your Slack channel :).

[2018-05-08 19:59] ThatNerdyPikachu opened #521 "Add Checks API Support"
Also posted to octokit/rest.js, maybe that should just be posted there? Don't know.

[2018-05-08 20:07] RichardLitt opened #522 "Developer experience repository audit from @mntnr!"
:wave: Hey there! This is the developer experience audit from @mntnr for this repository. I've added in my thoughts below, in the form of a checklist. Looking forward to seeing what you think; let's see if we can resolve all of the open issues and make this repository shine ✨ 💖 ✨

# Repository Review: probot/probot

_For notes on anything crossed out, look below. Note: I use `[~]` to mean that I h

[2018-05-08 23:11] gr2m commented on #522
Changes are in release notes: https://github.com/probot/probot/releases. Which I  prefer to a file committed to the repository because we can edit it after the fact.

[2018-05-08 23:31] gr2m commented on #522
I’ve heard people saying that `up-for-grabs` might sound odd, especially to some non-native English speaking people. I prefer `available`. The label is configurable if we want to add the project to  http://up-for-grabs.net

[2018-05-08 23:32] RichardLitt commented on #522
Those are both very good points. I'll work those into the template in the future. Glad this is open source, now - walking through it today with a friend I realized it should be, so I'm going to start sourcing edits to the template and make it so other people can do them too. :)

[2018-05-09 14:02] hiimbex commented on #522
Woo! Love this conversation and the feedback so far! 💖

We do have this link under the [community](https://probot.github.io/community) section of the website and in the https://github.com/probot/probot#contributing section of the readme. Do you think it belongs somewhere else or somewhere more visible?

Pinned is a label that is exempt from stale bot, which is why we use it to prevent older issues

[2018-05-09 15:13] RichardLitt commented on #522
No, I don't. I make mistakes sometimes, and I may have overlooked that. I think it's pretty clear in the README. I would definitely add it to the Contribute file, however. Let me know if you want me to add this note.

That makes more sense. I would keep using pinned, as it's a convention in your community and it makes sense when combined with Probot. What I would do is add a note about what the `p

[2018-05-14 13:12] RichardLitt commented on #522
This makes sense to me, and this is clear. Can you clarify what the code in this repository is doing, for me? When would I ever use the `probot` package?

[2018-05-14 22:26] gr2m commented on #522
You require `probot` as a high-level GitHub App framework for Node.js. You don’t require it in your code but instead use the `probot` binary to require your code, see https://github.com/gr2m/wip-bot/blob/04c8e8307fe0d6fda30e5cbc4b5bcdd5777f25c0/package.json#L12 for example. Then your entry `.js` file exports a function that receives a `robot` instance with which you can then listen to events comin

[2018-05-16 10:45] rmccue opened #531 "Add ability to use own Octokit version"
It would be fantastic if I could easily use my own version of the Octokit library while reusing the configuration provided by Probot.

[code]

If this is already possible, it would be great to document it somewhere.

(I'd like to use the new Checks API without updating Probot.)

[2018-05-16 16:10] hiimbex commented on #531
Hi @rmccue! Totally agree with you that probot should be able to use the Checks API! In the past I think we've been pretty consistent about updating octokit rest. You can see in https://github.com/probot/probot/pull/529 we are doing exactly that! In the meantime you can either pin the branch from that PR as your probot [dependency in your package.json](https://docs.npmjs.com/files/package.json#rep

[2018-05-16 16:13] rmccue commented on #531
While in this specific case I wanted to use the Checks API, I think the bigger point is about uncoupling the two. Updating probot can be a reasonably large undertaking compared to just Octokit, and it would be great if we didn’t have to tie the two together.

(In this specific case for the Checks API, Octokit is unusable anyway, so I managed to get away without it.)

[2018-05-16 16:49] gr2m commented on #531
The two projects are tight together closely, we will do better keeping `@octokit/rest` updated to the latest version, I’ll take care of it myself.

I’ll also unpin the version and make sure not to break probot with an feature/fix update of `@octokit/rest`, so you’ll get the new versions automatically with a fresh npm install

[2018-05-16 18:07] cco3 commented on #258
Additional con for solution 2 (at least the way it is presented here), requires the [administration permission](https://developer.github.com/v3/apps/permissions/#permission-on-administration), which is fairly heavy duty.  Of course, the automated creation of an org-level settings repository could be optional.

Regardless, I very much like solution 2 since it doesn't require adding configurations i

[2018-05-17 17:50] zeke commented on #469
Wait a minute, @stale. I like this idea.

[2018-05-18 20:34] bkeepers opened #534 "Document `IGNORED_ACCOUNTS` configuration"
https://github.com/probot/probot/pull/513 adds an `IGNORED_ACCOUNTS` environment variable, which is already supported by [probot/scheduler](https://github.com/probot/scheduler). It would be great to include this in the documentation.

There's not currently a great place for it [on the docs website](https://probot.github.io/docs/), but here are a few ideas:

1. Add a "Configuration" page under the

[2018-05-19 04:31] tcbyrd commented on #512
I published `7.0.0-typescript.4` with several of the fixes and made `context.payload` more permissive while we work on getting all the payload types defined.

See https://github.com/probot/probot/pull/372#issuecomment-390377456 for more details.

After talking with @gr2m and @ocombe about Octokit types, it sounds like there's a consensus that we push all of the GitHub API types to their own packag

[2018-05-19 14:27] bkeepers opened #537 "Error on startup with 6.2.0"
**Current Behavior**

App throws an error on startup after upgrading to 6.2.0:

[code]

The app appears to continue to function, but the `/stats` endpoint doesn't work, and anything using `probot-scheduler` is broken.

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Environment**
- Probot version(s): v6.2.0

**Possible Solution**

This looks

[2018-05-19 14:34] bkeepers commented on #537
https://github.com/octokit/rest.js/pull/870 appears to be the culprit. Some APIs that require the `machine-man-preview` header use an installation token and not a jwt `Bearer` token.

[2018-05-19 23:42] gr2m commented on #537
When you do a fresh `npm install` then it should get `@octokit/rest@15.6.1` or higher which should resolve the problem. You can check with `npm ls @octokit/rest`.

[2018-05-20 00:13] gr2m commented on #512
Maybe it would make sense to do `@types/octokit-rest` and `@types/octokit-webhooks` separately?

Otherwise sounds good to me

[2018-05-21 13:30] bkeepers commented on #537
Confirmed this is fixed with https://github.com/octokit/rest.js/pull/878

[2018-05-21 13:30] #537 closed

[2018-05-21 16:40] bkeepers commented on #512
My preference would be to see the types shipped with each of the Octokit.js libraries and officially supported. If someone wants to get the rules started in an external package, we can pull them into octokit once they’re solid.

I’m in the process of finding someone to help @gr2m with TypeScript support in octokit.

[2018-05-23 18:57] hiimbex commented on #534
Option 3: Adding a section about how /stats works for the website under https://probot.github.io/docs/deployment/#share-the-app, although that makes that page pretty long.

[2018-05-25 19:21] #419 closed

[2018-05-28 02:46] platinumazure commented on #101
One challenge I'm running into is how to properly mock the `context.github.paginate` method. Is there an easy way to do that such that the mock matches its contracts, without having to basically copy the source? (Or, if the `addPagination` is exposed on the external API somehow, I wouldn't mind using that either.)

[2018-05-28 21:29] wei commented on #246
Just spent hours trying to get private key to work on now and it turns out a base64 hack is necessary. I would suggest this hack to be mentioned on the deployment page : )

[2018-05-28 21:33] gr2m commented on #246
Sorry for the frustrating experience :( could you start a PR to add information on it and we discuss it there?

[2018-05-28 23:39] wei commented on #246
@gr2m there you go.

[2018-05-29 09:36] ocombe commented on #512
The property `event` is missing on `Context`: https://github.com/probot/probot/blob/master/src/context.ts#L19
I feel like `event: any` should be `public event: any` so that we can reference it in our code (even if it is in fact a string).
I feel like using `Object.assign(this, event)` is a bad idea for many reasons, but it could be patched like this for now

[2018-05-29 16:50] olstenlarck commented on #246
that would be great because this issue is aways useful

[2018-05-30 01:44] tcbyrd commented on #484
[As discussed in Slack](https://probot-talk.slack.com/archives/C6Z70SRGD/p1527605168000406)

And also looking back at the [spec](http://facebook.github.io/graphql/October2016/#sec-Errors) that was linked above:

So per the spec, errors can still be present even when partial data is returned. On the client side (Apollo, Relay), they recommend looking at error types and only presenting ones in the U

[2018-05-30 01:49] gr2m commented on #484
I agree

[2018-05-30 10:05] wilhelmklopp commented on #484
Given the constraints we're working with it feels like `const { data, errors } = awai...` isn't that bad a solution. I'm 👍 for that

[2018-05-30 13:56] JasonEtco commented on #382
This was fixed by #475.

[2018-05-30 13:56] #382 closed

[2018-05-30 16:19] gr2m commented on #486
Personally I’ve seen scripts that run on git hooks create more problems than being helpful. Especially to new contributors, if there is any kind of error in their git setup, the scripts running with the git hooks might fail with cryptic messages and they will blame themselves and not end up submitting a PR.

I’d rather take advantage of CI and teach contributors over time to run tests locally.

I’

[2018-05-30 16:19] #486 closed

[2018-05-31 13:39] gabrielmancini commented on #507
+1

[2018-05-31 17:15] szeck87 commented on #512
Note:  If you get TS compile errors due to `promise-events` not being found, add `"skipLibCheck"
: true` to your `tsconfig.json`.

[2018-06-01 14:29] itaditya opened #551 "Heroku logs not displayed properly"
## Bug Report

**Current Behavior**
The logs on heroku are not displayed properly.

Example
![image](https://user-images.githubusercontent.com/15871340/40845956-d1fa32f4-65d5-11e8-8eb1-cf65cd2ee9a1.png)

**Possible Solution**
Set `LOG_FORMAT=json` in heroku config vars as mentioned by @tcbyrd .

Probot v6.0.0

[2018-06-01 14:44] JasonEtco commented on #551
As we discussed in Slack, setting the `LOG_FORMAT` environment variable works fine but it'd be great if Probot did this by default in production environments. However, I know that some services (Now.sh for example) actually render the formatting, so I'm not sure how to balance that.

[2018-06-01 15:11] itaditya commented on #551
If we figure out a way to detect if the deployment is heroku environment then maybe we can use [`heroku-logger`](https://github.com/ianstormtaylor/heroku-logger) in that case and `bunyan` in other cases. Also `heroku-logger` internally uses [`logfmt`](https://brandur.org/logfmt) so we can use that too

[2018-06-03 23:06] laughedelic opened #558 "Extract logic from bin/probot-run into a reusable module"
See https://github.com/probot/probot/issues/480. It got closed as stale, but I think it's still relevant:

## Feature Request

I'm working on the [Scala.js facades](https://www.scala-js.org/doc/interoperability/facade-types.html) for the Probot framework. It covers the most useful parts of the API. Initial workflow was to compile Scala code (of a bot application) with sbt (build tool for Scala) to

[2018-06-04 21:34] #521 closed

[2018-06-06 01:17] BPScott opened #560 "Allow handlebars to be referenced easily"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I am creating a probot application that requires a few http routes. I as they're not totally trivial I'd like to write them using a templating language and I've noticed probot already uses handlebars to render the default /probot route.

The documentation at https://probot.github.io/docs/http/ shows how to rende

[2018-06-06 20:59] szeck87 commented on #512
Talking with @JasonEtco on Slack should options in the constructor for Application be optional?  https://github.com/probot/probot/blob/master/src/application.ts#L27

[2018-06-08 12:11] rmccue opened #561 "context.config reads from primary branch, not current commit"
## Bug Report

**Current Behavior**
`context.config()` reads the configuration from the primary branch (i.e. master) rather than the current commit.

1. Create branch in current repo
2. Add a `.github/testconfig.yml` with some non-default configuration
3. Commit it to the new branch, and push
4. Open a pull request

[code]

**Expected behavior/code**
The changes made in the pull request should app

[2018-06-08 12:16] rmccue commented on #531
I think the broader point has been missed a bit here, let me clarify. We want to continue to develop and iterate the bot code we have without necessarily updating Probot as a dependency. We need the flexibility to roll out new features and bug fixes without also needing to update the rest of the code just to bump Probot.

I'm not suggesting that Probot and Octokit necessarily be decoupled, as Prob

[2018-06-08 12:16] rmccue commented on #531
(Also, apologies if I was unclear in the previous comments!)

[2018-06-08 13:45] laughedelic commented on #531
Isn't `application.auth` what you want?

https://github.com/probot/probot/blob/702e40dc88ccc03ad773805440630bfbcaf5f67e/src/application.ts#L134-L160

[2018-06-08 15:53] rmccue commented on #531
@laughedelic This is _almost_ what I want, but I just want the object(s) passed to Octokit, not the instance itself.

[2018-06-08 17:31] JasonEtco commented on #561
This is great, thanks for the report @rmccue. In my opinion, the default behavior should be the branch from that the webhook payload relates to, if its available "easily" within the payload. So, if its a `push` event, it'll be accessible (within `Context`) as `this.payload.ref`. I'd love to do something like:

[code]

If you're up for opening a PR that'd be great!

[2018-06-10 02:43] bkeepers commented on #476
It looks like there's not a lot of feedback on the GraphQL support. #552 simplified this a bit, and #484 documents the only other thing I think immediately needs improvement, so I'm going to close this out.

[2018-06-10 02:43] #476 closed

[2018-06-10 03:09] bkeepers commented on #561
I think the current behavior was intentional. We'll need to be careful of apps that change behavior based on branch.

For example, let's say you have an app installed called `merge-when-green` that will merge any PR as soon as the tests pass as long as the user is defined in `.github/merge-when-green.yml`. I could fork the repo, make a bunch of changes that include adding myself to `.github/merge-

[2018-06-10 03:12] bkeepers commented on #531
Could you clarify this? You want the JWT passed to `octokit.authenticate`? Or the extensions added to octokit (rate limiting, graphql, logging)?

[2018-06-10 03:16] JasonEtco commented on #561
Agreed. I know that Stale behaves differently if the default branch does or does not have the config file.

That's a great example.

Now I'm torn, because I think the experience of using the "relevant" branch (relevancy defined by a ref existing in the payload) is better than having to define it. _But_, your example shows a clear security concern that is safer as an opt-in. Maybe something like:

[2018-06-10 03:27] JasonEtco commented on #561
Course' it does 😭 Good to know.

[2018-06-10 04:18] bkeepers commented on #512
Probably

[2018-06-10 04:30] bkeepers commented on #560
I think that'd be great. Ideally Probot would just default to including your local `views` directory in the path. Any idea how to do that with express and/or handlebars?

[2018-06-10 16:51] rmccue commented on #531
Specifically, the JWT.

[2018-06-11 20:29] szeck87 commented on #512
What would the default values be for https://github.com/probot/probot/blob/master/src/application.ts#L31-L33?

[2018-06-12 13:38] bkeepers commented on #531
Cool, you can currently call the horribly named `robot.app()` and it'll return the JWT. This is not a public/documented API, so expect it to change soon. See https://github.com/probot/probot/pull/563

[2018-06-12 20:01] hiimbex commented on #534
Closed via #544

[2018-06-12 20:01] #534 closed

[2018-06-12 20:04] hiimbex commented on #561
I agree. I think that reading from a branch could be very dangerous if the branch alters something and that alteration is the reason an app doesn't comment.

Perfect example of how scary this is!! If you truly need to test out your branch's changes, I think that should be done in a test repo, not in the PR containing the changes.

[2018-06-13 13:02] rmccue commented on #531
Brilliant, thanks. Sounds like this can either be closed now or when #563 is merged then.

[2018-06-13 13:14] rmccue commented on #561
I think it makes sense for the default to be master, but it entirely depends on what sort of bot you're writing. A lot of the probot-based bots I see are related to meta-level things in the repository, and those make sense to use the default branch. However, the bot that I'm primarily working on is for build tools. For things like this, you want to use the config for the specific branch, allowing

[2018-06-15 20:42] andymckay opened #568 "Webhook secret is required"
## Bug Report

I updated my external app to use probot to listen to events which was awesome. However it then stopped working, returning 400's on every webhook. It turns out that I hadn't set the **Webhook secret (optional)" field in my GitHub app.

There wasn't any indication why I was getting a 400. So I started spelunking.

I eventually found that setting `DEBUG=webhooks:receiver` prints out so

[2018-06-15 21:14] hiimbex commented on #568
Hi @andymckay! Thanks for the feedback!

We thought about this too super recently and I opened https://github.com/probot/probot/pull/544 to address that and those docs now exist here: https://github.com/probot/probot/blob/master/docs/configuration.md. It won't be on the website until the next release is cut though, but any PRs to improve the clarity of that doc are welcome!

  provide a URL to the

[2018-06-15 21:47] andymckay opened #569 "Throw an error on GHE_HOST containing a protocol"
## Bug Report

**Current Behavior**

Set GHE_HOST to something like http://github.localhost.

See a URL like https://http//github.localhost/api/v3/installation and note it doesn't work.

**Expected behavior/code**

We shouldn't be supporting http:// anyway, its the worst and https:// is the right way to do things. So let's throw an error if GHE_HOST contains a protocol and just keep pre-pending ht

[2018-06-15 23:29] andymckay commented on #569
Thanks Jason, but it turns out you can't actually run github/github through a tunnel because the http:// domain names seem to be hardcoded into github/github.

For example: https://github.com/github/github/blob/master/app/controllers/application_controller/security_headers_dependency.rb#L146

I seem to be the only person who runs local probot apps against github.localhost, making me think the prob

[2018-06-15 23:39] JasonEtco commented on #569
That is true - none of us Hubbers do this (as far as I know) and of course non-Hubbers can't. _But_ this error is still unclear and hard to find if someone makes a similar mistake so I'll fix it anyway 😄

[2018-06-16 09:19] #496 closed

[2018-06-17 14:48] #149 closed

[2018-06-18 18:32] #569 closed

[2018-06-19 11:22] #408 closed

[2018-06-20 05:29] mwebler commented on #568
Thanks for documenting all of that Andy! I had this very same issue while playing around with probot this weekend.
I did some debugging and I think this might be (a little) related to octokit as well, so I opened octokit/webhooks.js#29. Or maybe I just didn't get right where are the messages coming from...

@hiimbex, regarding the docs, may I suggest to change `WEBHOOK_SECRET` to **Required**? Bec

[2018-06-20 11:06] laughedelic commented on #149
I think this issue should stay open until there are Probot docs on how to run it on AWS Lambda. Or should I open a new one just for the docs?

[2018-06-20 19:12] hiimbex opened #573 "Redirect from Glitch Remix app to our docs"
When folks remix with our glitch quickstart app, they see [this readme](https://glitch.com/edit/#!/grateful-relation?path=README.md:1:0) which is super lacking compared to our docs. Instead of trying to keep this up-to-date I think we should just use the readme to redirect to our [developing an app docs](https://probot.github.io/docs/development/) again.

cc/ @gr2m @ani6gup

[2018-06-21 00:39] tcbyrd opened #576 "7.0 Release checklist"
Now that the TypeScript PR (#372) is merged and a few of us have been running the `-typescript.*` releases in our apps, let's come up with a plan of all the things we want to have in place before we officially release 7.0. @probot/maintainers, feel free to add to this list as necessary.

- [x] 📜 Update Docs to reflect new Application class (💚 - https://github.com/probot/probot/pull/583)
- [x] 🔬 Re

[2018-06-21 17:33] bkeepers commented on #576
Not a blocker, but we just talked about giving the option to use TS with `create-probot-app`

[2018-06-21 19:15] gr2m commented on #573
works for me 👍

[2018-06-22 14:29] tcbyrd commented on #149
@laughedelic Now that Lambda supports Node8, there's a lot less boilerplate needed. We'll work on adding docs to https://github.com/probot/serverless-lambda to show how to use that extension. There are some other changes coming in the next release that will make the API for running in Lambda a little cleaner as well. To wrap up this issue, I'll link to the docs in the extension once we get those m

[2018-06-22 14:32] laughedelic commented on #149
Thanks for the explanation!

[2018-06-26 12:13] bkeepers commented on #576
While there's a lot in there that would be good to fix, I don't think there's any blockers, so I'm going to check this off. Feel free to uncheck and comment if anyone disagrees.

[2018-06-26 12:29] bkeepers opened #582 "Rewrite tests in TypeScript"
Rewriting the tests in TypeScript should help us further identify places where TypeScript support can be improved.

## Steps

1. Rename a single `.test.js` to `.test.ts`
1. Run `npm test` to identify errors
1. Start fixing the errors, making minimal changes to get the tests passing
1. Repeat step 2-3 until there are no more errors, or until you get stuck and want some extra eyes from someone else

[2018-06-26 12:54] bkeepers commented on #576
It also looks like the JSDoc stuff doesn't work the same with TypeScript. I get very different results when running `npm run doc` against master than what is currently on https://probot.github.io/api/latest/Context.html

[2018-06-26 13:31] aps120797 commented on #576
Hi, please review this PR. Thanks. 😄
https://github.com/probot/hello-world/pull/7
cc @gr2m , @JasonEtco  @hiimbex

[2018-06-28 00:29] gr2m opened #592 "context.config doesn’t work with config root is an array"
## Bug Report

A `*.yml` file can return an Array, just like JSON. The problem is that we implement the defaulting of configuration using `Object.assign()` which doesn’t work with arrays too well, it turns an array into an object

https://github.com/probot/probot/blob/dee76d207b0fc35be9ae394d9e0602351d7c9701/src/context.ts#L127-L145

Besides Object.assign does only default on the top level, not de

[2018-06-28 18:40] bkeepers opened #596 "Support loading smee payloads as test fixtures"
Suggested by @johnkpaul & @Gautam, it'd be really awesome if the payloads copied from smee.io could be easily loaded as test fixtures.

**Describe the solution you'd like**

Currently the payload is a JSON object with all the request headers, and then a `body` property that includes the actual payload.

<details>
<summary>Example smee payload</summary>

[code]
</details>

So we'd either want a `ap

[2018-06-28 18:44] bkeepers opened #597 "Stack trace is not preserved when posting to Sentry"
@johnkpaul and @Gautam reported issues with stack traces not being properly reported on Sentry, which @wilhelmklopp and I have noticed in our apps.

We dug into some code and realized that the bunyan-sentry-stream module is creating a new instance of an error. Is this because bunyan is serializing the error before it gets passed to bunyan-sentry-stream?

https://github.com/transcovo/bunyan-sentry-

[2018-06-28 18:50] JasonEtco commented on #596
I feel like this is better solved by changing the copy feature of Smee's UI to better reflect the payload that apps actually receive (via `app.receive()`).

[2018-06-28 18:54] bkeepers opened #598 "Middleware for event listeners"
There have been several requests for middleware on Probot, and at least one pass by @JasonEtco at implementing it in #343.

I'd love to see first-class middleware support (based on [koa-compose](https://github.com/koajs/compose)), that allows adding middleware to all event handlers or on a specific handler.

Something like this:

[code]

cc @johnkpaul @Gautam

[2018-06-28 18:59] JasonEtco commented on #592
Running this gives the expected array (not the object you described):

[code]

Which makes me think that this is being coerced over in this code:

https://github.com/probot/probot/blob/dee76d207b0fc35be9ae394d9e0602351d7c9701/src/context.ts#L133

We should check to see if its array (`Array.isArray()`) and just return it if it is.

[2018-06-28 18:59] bkeepers opened #599 "Documented/supported internal API"
Currently the documented and supported API for probot is very minimial:

- `$ probot run`
- `app.on()`
- `app.route()`
- `app.auth()` (hasn't always been documented)
- `context.payload`
- `context.github`

There's probably a few others, but that's mostly it.

Now that 7.0 is out with the rewrite in TypeScript (#576), I'd love to see a documented and supported internal API. By 8.0, it'd be great if

[2018-06-28 22:28] andymckay commented on #568
https://probot.github.io/docs/configuration/ is ace! Thank you @hiimbex 🥇 👍

[2018-06-29 03:29] JasonEtco commented on #599
Some things I have in mind:

* `app.load()`
* `new Application`
* `context.event`
* `app.getToken()`

We also don't document the "default apps" - would be nice to mention what they are, how they work and how to disable them if necessary (by not loading them, so not using `probot run`).

[2018-06-29 17:58] gimenete commented on #101
I had an idea that I've called `mocktokit` https://github.com/gimenete/mocktokit It is basically an HTTP server that you can run locally that mimics the GitHub API and stores all the information in memory. I'll explain the idea better with an example.

[code]

Having something like this would allow anyone to do unit testing against octokit without having to mock anything theirselves, not even have

[2018-06-29 19:56] bkeepers opened #600 "Screenshot on docs/development out of date"
https://probot.github.io/docs/development/ shows a screenshot of the app settings page showing where to find your app id, but it is out of date because the design of that page has changed.

If someone would like to update it with a new screenshot, it would be an easy first contribution.

[2018-06-29 23:09] gr2m commented on #101
@gimenete sounds quite ambitions, and very cool! Note that for Octokit mocking the requests to GitHub’s API is only half of what’s needed, we need to simulate webhooks sent by GitHub, too.

Also I think it’s a little off-topic in regard of the original issue. Maybe create a new issue if you want to discuss that further? You might also be interested in https://github.com/octokit/rest.js/issues/601#

[2018-06-29 23:55] gr2m commented on #592
yes, it’s the `Object.assign()`

[2018-06-29 23:58] gr2m commented on #596
it would be even nicer if smee.io would also record requests going to GitHub.com and we would get the full fixtures package: sending webhook requests to the app and checking if the requests sent to github match the ones that have been recorded 🎉

[2018-06-30 01:38] JasonEtco commented on #596
@gr2m 💯 that would be amazing. I think this deserves a separate issue in [`probot/smee`](https://github.com/probot/smee). One question I have to start with is related to security and tokens - for Smee to basically pass those requests along, it'd need to have access to the authentication headers. As long as the people using it know whats going on I'm not too worried, but we need to make that explic

[2018-06-30 02:04] tcbyrd commented on #576
Closing this out. Thanks for the amazing teamwork and contributions the last few days to wrap this up!

/cc @aps120797 @JasonEtco @hiimbex

And let's not forget what [Medium taught us today](https://medium.com/probot/probot-7-0-moving-to-typescript-to-help-the-developer-experience-390e96431579)....
![image](https://user-images.githubusercontent.com/13207348/42120371-245e00e8-7be8-11e8-86ff-ed372a4

[2018-06-30 02:04] #576 closed

[2018-06-30 09:58] gimenete commented on #101
@gr2m thanks for your comments! Generating webhooks would be something to do, yes. I put a "TODO" in the code https://github.com/gimenete/mocktokit/blob/master/impl/issues.js#L19 :) and you can see the "webhook" parameter. However it should get the webhook url from the application itself.

I'll open another issue to discuss this idea. Thanks!

[2018-06-30 10:15] gimenete opened #601 "Mock server that mimics the GitHub API and supports webhooks"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Simulating a probot environment is hard. You have to mock many things and create fixtures. Also there are many steps when getting started: create a github API, create a private key, use something like smee.io to receive webhooks,...

**Describe the solution you'd like**
I would like to simulate a whole environm

[2018-06-30 12:07] aps120797 commented on #576
Thanks @tcbyrd ! 😄

[2018-07-01 05:29] gr2m commented on #598
I’d suggest that the middleware could also amend `context` passed to the event handlers. I guess the above example would allow for that when the `ensureMyOrgs` would set a custom property on `context`.

My use case is to set `context.plan` in a middle ware which loads the current marketplace plan for an app. This could be done be a reusable middleware

[2018-07-02 01:39] ewolfe commented on #601
I wonder how hard it would be to automatically generate all the API responses. Their endpoints are pretty well documented, maybe GitHub could export their reference documentation in a way that would be easy to digest (for auto generating the mock server).

[2018-07-02 16:17] RichardLitt commented on #522
@bkeepers I think this can probably be closed. Is there anything here you want me to open a separate issue for?

[2018-07-02 16:25] hiimbex commented on #522
I'm gonna go head and close this out. Feel free to reopen if anyone thinks there's anything left to do here.

[2018-07-02 16:25] #522 closed

[2018-07-02 16:46] gr2m commented on #601
We are working on it. In fact I plan to work today on adding responses from https://developer.github.com/v3/ to https://github.com/octokit/routes/ so we will have at least some of the responses. But we are also working on getting JSON Schemas and ideally examples for every REST endpoint. It’s a pretty big project. Best place to follow is https://github.com/octokit/routes/pull/168

[2018-07-02 17:44] gimenete commented on #601
@gr2m cool, I've just subscribed myself to that issue 👍

Going back to the topic of this issue:

With a bit of React and Primer I've done a _mockup_ of a possible UI that could come with mocktokit. Here it is:

![screen shot 2018-07-02 at 19 36 49](https://user-images.githubusercontent.com/50486/42178123-7b08a058-7e2f-11e8-814f-3d6587dba51f.png)

You could run mocktokit with or without this UI. It

[2018-07-02 18:07] gr2m commented on #601
Hawman this looks really cool! That would be useful way beyond Probot, it would be useful to everyone integrating with the GitHub platform :)

[2018-07-03 10:40] gimenete commented on #601
Just a quick update. I've been able to add the monaco editor and inject the octokit types to it in runtime. Also, I've put a log of events to the right with the idea to inspect all events and be able to travel back in time to one of them. There's also a "copy test to clipboard" which could be a functionality to generate and copy a complete jest/mocha test that re-creates all the events and asserts

[2018-07-03 22:11] hiimbex opened #605 "Error handling for not having a webhook proxy url is bad"
## Bug Report

I just accidentally had my webhook url env variable commented pout and it took me way too long to figure that out.

**Current Behavior**

[code]

**Expected behavior/code**
Some kind of error (or maybe just reminder?)that says I should set a URL if there's no webhook URL forwarding.

[2018-07-04 19:50] wereHamster opened #607 "400 Bad Request – due to missing `x-hub-signature` header"
## Bug Report

**Current Behavior**

I created a probot app following the instructions(*), but when I run it and try to receive a webhook probot fails and prints something along these lines:

[code]

I was able to trace the cause into the octokit/webhooks package where the request is ignored due to missing headers:

[code]

The header that is missing is `x-hub-signature`. This header is only inclu

[2018-07-05 03:11] hiimbex commented on #600
closed by #606

[2018-07-05 03:11] #600 closed

[2018-07-05 17:43] KevinGrandon opened #608 "No mention of what happened to createRobot in 7.0 release notes"
## Bug Report

**Current Behavior**
There is no mention of what happened to createRobot in the 7.0 upgrade. We rely on createRobot for unit testing probots. When we upgrade and run existing test suites we see the following error:

[code]

**Expected behavior/code**
Some deprecation notice or notes in the release about which API to use.

**Environment**
- Probot version(s): v7.0.0
- Node/npm versio

[2018-07-05 17:50] JasonEtco commented on #608
Sorry @KevinGrandon, I meant to go back and fix this. I'll do that now, but for posterity here's the replacement:

[code]

[2018-07-05 17:50] #608 closed

[2018-07-05 17:58] KevinGrandon commented on #608
@JasonEtco Thanks. When trying that example, I get an error, `TypeError: Cannot set property 'events' of undefined`. Let me know if you'd like me to file a new issue.

[2018-07-05 18:00] JasonEtco commented on #608
@KevinGrandon can you share some code? I can't think of where that'd spring up offhand.

[2018-07-05 18:01] KevinGrandon commented on #608
Sorry, got this working. Thanks again!

[2018-07-05 18:02] JasonEtco commented on #608
Great, glad it worked out! If you do encounter issues with Probot 7 feel free to open up a new issue!

[2018-07-05 18:32] gr2m commented on #607
Yes, I think we should design Probot secure by default hence the required signature. I think people don’t set it because they don’t understand the importance of it, and good tooling should enforce best practises.

Better error messages would be good though

[2018-07-05 19:02] tcbyrd commented on #607
Agreed. I think we've established a pretty clear pattern to always include the webhook secret. I've thought it might be good to add an option in `create-probot-app` to generate the webhook secret for you. Currently we just set it to 'development', so I'm only slightly worried there are a bunch of Probot Apps out there using that as their webhook secret in production. 🔒

[2018-07-05 19:04] JasonEtco commented on #607
I'm wondering why anyone would choose _not_ to set a webhook secret on purpose. As in, if the GitHub UI didn't show it as `(optional)` would anyone have a problem with it? Perhaps we should consider suggesting to our Ecosystem friends that it be required.

[2018-07-06 18:22] tommilligan commented on #101
@platinumazure found this thread searching if there was a best-practice way to mock pagination.

I'm just using simple JSON data for API mocks, as described [in the documentation](https://probot.github.io/docs/testing/), and found adding the following to be sufficient for me:
[code]
This just unwraps the `paginate` decoration, effectively ignoring it in the tests.

[2018-07-06 22:48] hiimbex commented on #607
Doubling back a bit on this conversation, a key aspect of this issue is how all those error messages are getting lost here. We should definitely be passing through those error messages.

I wonder where those are getting silenced? I'm guessing somewhere in https://github.com/probot/probot/blob/master/src/index.ts, but not clear where.

[2018-07-07 19:55] fpapado opened #613 "A method to propagate (event, context) to/from another Application"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have a number of "sub-applications" that are run from one app. This is done to lower the barrier to implementing app ideas for our team.

The higher-level process:
- The possible applications are added to the source as a list;
- The repositories that use the bot specify a `plugins` field in their config.yml.

[2018-07-07 21:10] JasonEtco commented on #613
Hey @fpapado - this is a great question. To make sure I understand, let me know if this is right:

You want to be able to pass one event to multiple event handlers, and to have control over when and if those events are passed.

It sounds like you can already achieve that with [`app.receive()`](https://github.com/probot/probot/blob/b32fc2b38d6582a67dda9dfd397301b6b88af8f9/src/application.ts#L52-L58

[2018-07-10 04:47] BPScott commented on #613
I'm doing something similar (in fact the same project as #516).

Leveraging `app.receive()` won't work in TS as it expects an instance of `WebhookEvent`, while within an `.on` call we have an instance of `Context` which is not compatible. I've opened #617 to try and make it so you call `app.recieve()` with data you have within an  `app.on()` event callback

[2018-07-10 07:03] fpapado commented on #613
Thanks, @JasonEtco! The description sounds right; a top-level handler to pull the config, and then pass the event to other event handlers.

I was focusing on `app.load()`, but your answer gave me an idea! Our setup has the `webhooks` and a `respond: (context: Context) => Promise<void>` separate, so delegating to any listening "apps" is a function call away. I rather like the API that emerges.

I a

[2018-07-10 22:32] hiimbex commented on #480
Can this be closed in favor of https://github.com/probot/probot/issues/599 which is more up to date from our ts update?

[2018-07-10 22:57] hiimbex opened #618 "Updating our Docs is painful"
Right now after we release new versions we run [script/publish-docs](https://github.com/probot/probot/blob/master/script/publish-docs) to update our docs folder on the website.

This is not ideal for a few reasons:
- People forget to run scripts all the time
- A typo fix should not require someone to run a script
  - a typo fix should also update instantaneously; not whenever the next release is c

[2018-07-11 00:13] BPScott commented on #613
Yo @fpapado, Here's what I've got.

A repo should have a `probots.yml` file that looks like:

[code]

Save the following as index.ts and make it be the main plugin that probot loads.
- `externalApps` is a list of external apps - that have been installed as node plugins. To enable an external app add the package name to the enabled block of probots.yml
- `internalApps` allows you to create extra pl

[2018-07-12 20:57] hiimbex opened #619 "Porting probot-config into Probot proper"
## Why do we need org wide configuration?
For some history on org wide configuration and why it's needed check out this dinosaur: https://github.com/probot/probot/issues/258

## Current state of things
Right now org wide configuration require installing a separate probot extension, [probot-config](https://github.com/probot/probot-config).

We do, however, have a built-in internal API for getting a

[2018-07-12 21:38] hiimbex opened #620 "Adding Use Case Templates for Workflows"
### Background
When folks start building Probot Apps, often they already know the kind of thing they want to build. I have identified several patterns in these use cases.

We'd therefore like to enhance our [probot/template ](https://github.com/probot/template) repository to allow options for different 'templates' that represent different use cases for Probot.

## Example Usecases

- Base case: ad

[2018-07-12 21:50] bkeepers commented on #620
cc @wilhelmklopp @pifafu you may be interested in this based on current projects

[2018-07-13 00:05] hiimbex commented on #607
Ah okay!! So I was able to reproduce this issue with the silencing of errors locally!

Steps to reproduce:
1. Do not set a webhook secret in GitHub.
2. Try to receive a webhook.
3.
[code]

I still was not sure what's causing the lack of error, but as soon as I debugged it, I stumbled upon https://github.com/octokit/webhooks.js/issues/29 which seems possibly connected. cc/ @gr2m for octokit things

[2018-07-13 10:21] wilhelmklopp commented on #620
⚡️ This is awesome! I love it -- I think this will be huge for folks getting started ‼️
All of these would also make for great Glitch blueprints that folks could remix.

Two additional use cases that I think we should consider:
- creating/updating a file based on the diff of a PR after `pull_request.opened` or `pull_request. synchronized` (I think this has some overlap with your existing Git Data

[2018-07-13 16:34] hiimbex commented on #620
Basically a linter example?

💯

[2018-07-13 19:22] JasonEtco opened #623 "Abstract the "get installation ID for username, then auth" dance"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I'd like to make it easier to authenticate as the installation for a user, repo or org when you don't already have the installation ID. Currently, that looks cumbersome:

[code]

**Describe the solution you'd like**
Let's let `app.auth()` take an object (in addition to just the `id` as a number, or maybe that'd

[2018-07-14 18:05] Sattdr commented on #318
nice the time my

[2018-07-14 18:05] Sattdr commented on #318
Ok

[2018-07-16 10:03] wilhelmklopp commented on #620
Yep, if that linter automatically fixes issues it detects and commits them to the branch. I have been working on turning integrations/snappydoo into a GitHub App and thats when I came across this use case. Hopefully I'll have a demo of that to show soon :)

[2018-07-16 14:44] JasonEtco commented on #620
Slightly related: it'd be great if we could also have a template that _does not_ use `probot run`. Its certainly an "advanced" path, and we haven't documented it well, but its necessary for some specific functionality around the internal Express app. I'm happy to help with that, but we should first document it.

[2018-07-16 16:21] hiimbex commented on #620
Have you seen https://github.com/probot/linter @wilhelmklopp ?

Cool! I know very little about that. Wanna open an issue about that or make a PR to add those docs @JasonEtco ?

[2018-07-17 08:47] wilhelmklopp commented on #620
@hiimbex ah nice, I had not seen that!

[2018-07-17 22:04] BPScott commented on #619
+1 to having a single place to deal with config. I think built-into-core is the place for it given how often config is required (i.e. practically always).

Having probot core depend upon probot-config feels a little odd. I think the code for probot-config is small enough (2 files, ~100 lines for the feature + ~200 lines of tests) to be copied into the probot repo which allows the probot-config ext

[2018-07-18 16:57] gautamarora commented on #596
thanks for taking care of this @JasonEtco!! copy pasting smee payloads as fixtures works smoothly now!!

for future reference, fix was made [here](https://github.com/probot/smee/commit/96f94719702413d8ae55a8ac7cd8d2627470e21a#diff-e669c24dcbbe7383d0ee72707eefa55f)

[2018-07-18 17:02] JasonEtco commented on #596
Awesome, glad its helped @gautamarora! I'll go ahead and close this, since https://github.com/probot/smee/pull/66 has been merged an deployed.

[2018-07-18 17:02] #596 closed

[2018-07-18 18:46] BPScott opened #632 "Naming conflation: App / Plugin / ApplicationFunction"
I've spotted multiple names being used for the same concept. IMO it would be less confusing if probot was consistent about this naming.

What would you call this:

[code]

The codebase is rather divided:

* [The hello world docs](https://probot.github.io/docs/hello-world/), and #210 claim this is an "app".
* [The variable name in the testing docs](https://probot.github.io/docs/testing/) claim this

[2018-07-20 22:03] wolfy1339 opened #634 "Why is smee.io needed?"
We're writing an app for GitHub using this and have run into a snag, the port that smee.io uses is already used by another application. Is there no way of removing that and sending data from GitHub directly to our server?

[2018-07-20 22:08] JasonEtco commented on #634
@wolfy1339 the reason you would use Smee is to allow your local machine to receive webhook payloads. If you've deployed the app, you do not need to use Smee, and can tell GitHub to send webhook payloads to your app directly. Just don't set the `WEBHOOK_PROXY_URL`.

[2018-07-20 22:11] wolfy1339 commented on #634
Thanks, that wasn't exactly clear in the docs.

[2018-07-25 16:40] laisti opened #636 "Don't receive any events from Webhook"
## Bug Report

**Current Behavior**
Receive `ERROR probot: Not Found
  Error: Not Found
      at Request.callback (./node_modules/superagent/lib/node/index.js:706:15)
      at IncomingMessage.parser (./node_modules/superagent/lib/node/index.js:916:18)
      at IncomingMessage.emit (events.js:187:15)
      at IncomingMessage.EventEmitter.emit (domain.js:442:20)
      at endReadableNT (_stream_reada

[2018-07-25 18:29] hiimbex commented on #636
Looks like a duplicate of https://github.com/probot/probot/issues/607#issuecomment-404686974.

@laisti can you make sure you have a webhook secret set?

[2018-07-25 19:40] hiimbex commented on #632
Thanks for opening this up @BPScott! I'm 💯% for being consistent in our naming.

For history: https://github.com/probot/probot/issues/207#issuecomment-323522926 & https://github.com/probot/probot/pull/210, so I think most of the remaining plugin remnants are probably missed from that.

Additionally we have naming for [extensions](https://probot.github.io/docs/extensions/) which are added onto 'app

[2018-07-27 10:58] tommilligan opened #637 "401 Unauthorized errors every hour"
## Bug Report

https://github.com/tommilligan/prowl-github-app/

**Current Behavior**
I have a probot app running full time on AWS. The app
- listens for events
- performs some long-running (~2 min) checks
- responds to the GitHub API

Occasionally, I get `401 Unauthorized` errors back from the API when performing actions:
[code]
These errors always happen at the same point in the hour - e.g. for

[2018-07-27 11:23] tommilligan commented on #637
Having read a bit more through Application construction, the simplest fix for me would be to have the installationToken cache ttl customiseable:
https://github.com/probot/probot/blob/80fc41ad14edbfca12d443db64f231547aaa6717/src/application.ts#L200

I would reduce this to ~ 5 min before expiry and it would fix my issues.

[2018-07-27 13:58] tommilligan opened #639 "`npm test` fails locally and in Travis CI"
## Bug Report

**Current Behavior**
Run `npm test` - error is seen for all tests:
[code]

Reproduced in CI here:
https://travis-ci.org/probot/probot/jobs/408945274

**Expected behavior/code**
Tests to run

**Environment**
Both locally and on Travis CI.

**Possible Solution**
See PR below

**Additional context/Screenshots**

[2018-07-27 22:47] hiimbex commented on #637
I'm definitely not opposed to adding an env option here, but I'm wondering what is happening in your app that takes 2 minutes?

We have some pretty complex apps and we've yet to run into this issue. 🤔 I'll jump into the PR now.

[2018-07-27 23:03] #639 closed

[2018-07-28 01:06] markwatsonatx commented on #636
This is also happening to me, but only locally when using smee. I do have a webhook secrect set. I'm trying to put together reproducible steps. I will post back if I come up with anything definitive.

[2018-07-28 02:35] markwatsonatx commented on #636
I solved my issue. I was running another process on port 3000. Once I killed that process and restarted my probot app everything worked fine. @laisti you might want to see if you have another process running on port 3000 (or whatever port your probot app is running on). I was seeing the exact same error/stacktrace as the one you reported.

[2018-07-28 09:04] tommilligan commented on #637
@hiimbex if you're interested in the actual scenario: one of the things my app does is check whether commit status is `success` after a CI update. I delay for a short amount of time by default (say 5s) to allow other CI systems to have started running and set `pending` statuses.

At work we use [Concourse CI](https://concourse-ci.org/about.html), which takes significantly longer to start. Unless I

[2018-07-30 13:05] FWirtz commented on #149
@tcbyrd any updates on this? Am really looking forward to it! 😊

[2018-07-30 14:40] abhijeetps commented on #507
I think this is still valid. Please remove wontfix label.

[2018-07-31 18:10] jilucev commented on #507
+ 1

[2018-08-01 06:37] JamesMGreene commented on #507
@abhijeetps Could you please provide a minimal reproduction case, e.g. the basic code and a description of how you are triggering the `"ping"` event? Thank you!

[2018-08-01 06:41] JamesMGreene commented on #623
I agree that the current "auth, find, reauth" pattern feels very awkward. It was definitely one of things that stood out most to me when I developed my first probot app.

[2018-08-01 17:01] jilucev commented on #507
I was having the same issue until I realized I had another service running on port 3000 (the same port I was attempting to use for my bot). Try killing all processes on that port.

[2018-08-01 20:48] the6thm0nth commented on #507
@abhijeetps In my case, webhook secret was not set correctly. after I set webhook secret, it worked.

[2018-08-02 03:05] debben opened #641 "Support Beyond Github"
## Feature Request

I really like the simplicity and community behind Probot and the apps built on it. Not all of the organizations I work with use Github or Github Enterprise for source control and pull requests. I started looking for frameworks similar to Probot for tools like GitLab and VSTS but didn't find anything even close to Probot.

**Describe the solution you'd like**
Among all of these

[2018-08-02 19:33] bkeepers commented on #636
Hey @markwatsonatx, if there was already another app running on 3000, did you not get an error from Probot when it started?

[2018-08-02 19:34] #636 closed

[2018-08-02 20:26] bkeepers commented on #632
I'd be up for renaming it to `apps`

[2018-08-02 21:32] jbhoosreddy opened #642 "[bug] Probot throws error trying to squash and merge, when you can do it on Github UI"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).
The bot should merge the PR with 'squash' technique.

What is happening is that the bot is giving this error:
`Failed to merge PR: You're not authorized to push to this branch. Visit https://help.github.co

[2018-08-02 22:39] greenkeeper[bot] opened #643 "An in-range update of ts-jest is breaking the build 🚨"
## Version **23.1.0** of **ts-jest** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/probot/probot/compare/master...probot:greenkeeper%2Fts-jest-23.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/kulshekhar/ts-jest>ts-jes

[2018-08-03 00:51] jbhoosreddy commented on #619
just a note:
I've had some issues trying to figure out how to mock `context.config()` in tests. using `getConfig` allowed me to mock the the config response.

Either way, it'd be nice to document/provide a recommended way to mock the context, in tests.

[2018-08-03 17:02] JamesMGreene commented on #642
@jbhoosreddy Do the App's installation settings request write permissions for Pull Requests?

![image](https://user-images.githubusercontent.com/417751/43655630-066ecc32-9715-11e8-8b13-7f0b10375a00.png)

[2018-08-03 17:31] JamesMGreene commented on #642
@jbhoosreddy Do the App's installation settings request write permissions for **Repository Contents**?

![image](https://user-images.githubusercontent.com/417751/43656496-37a9cbdc-9718-11e8-9886-826b59087d85.png)

[2018-08-03 20:35] jbhoosreddy commented on #642
I'm sorry I should have clarified it.

Yes, the bot has permissions. And it works for most of us. It is not working, afaict, for 1 colleague. I'm working with them to identify which of his settings are different.

But in any case,

they can still merge the PR by pressing the Squash and Merge button on the Github UI. Hence, it is a little confusing to us, why the API would complain.

[2018-08-04 23:30] laughedelic commented on #558
I'm not sure this has been resolved with the recent refactorings, I didn't have time to review it.

[2018-08-07 11:38] greenkeeper[bot] opened #645 "An in-range update of commander is breaking the build 🚨"
## Version **2.17.1** of **commander** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/probot/probot/compare/master...probot:greenkeeper%2Fcommander-2.17.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/tj/commander.js>comma

[2018-08-07 13:03] betopompolo opened #646 "Webhook returning 404"
## Bug Report

**Current Behavior**
Hi guys! I'm setting probot up and, for some reason, when I run the command `npm start` it boots correctly, but after that, it starts to throw this error until I stop probot:
`INFO http: GET /json 404`

It also seems that probot is getting GitHub events properly, despite these errors. Any ideas? Thanks in advance

**Environment**
- Probot version(s): v7.0.1
- No

[2018-08-07 13:09] JasonEtco commented on #646
@betopompolo I think that some other program is making repeated GET requests to your `localhost:3000/json`. This doesn't seem related to Probot as far as I can tell. Can you look around on your computer to see if anything else would be making those requests?

[2018-08-07 13:14] betopompolo commented on #646
@JasonEtco It works! I just changed the localhost port and the errors disappear! Thanks a lot 👍

[2018-08-07 13:46] #646 closed

[2018-08-07 13:53] JasonEtco commented on #646
Great, glad that helped! 🎉

[2018-08-07 15:11] #637 closed

[2018-08-08 15:25] acrewdson commented on #551
Hi @bkeepers – for us it'd be great if we could easily disable the color with an env var (that I assume would determine that `color` option for `bunyan-format`) – without having to switch to json. Would you be open to a PR along these lines?

[2018-08-08 15:39] JasonEtco commented on #551
@acrewdson you can already do that using the `LOG_FORMAT=json` environment variable.

[2018-08-08 16:03] acrewdson commented on #551
@JasonEtco cool, thanks 👍 I'll give that PR a shot.

[2018-08-08 18:27] gr2m commented on #607
I’ve merged https://github.com/octokit/webhooks.js/pull/34 which should resolve the problem. It will release a new breaking version as it’s a breaking change, so we’ll need to update Probot’s package.json and do a new release to get the update. I’d say for Probot this could be considered a fix instead of a breaking change

[2018-08-08 19:07] jbhoosreddy commented on #642
@hiimbex Appreciate you looking into it for us.
I have identified the actual difference and reproduced it for myself also.

1. In the github UI, I can see that I can merge the PR. It passes all checks and it's green.
2. When I trigger the bot, it gives me the error `Failed to merge PR: You're not authorized to push to this branch. Visit https://help.github.com/enterprise/2.12/user/articles/about-p

[2018-08-08 21:56] jbhoosreddy opened #649 "type error in Application.receive"
## Bug Report

**Current Behavior**

[code]

**Expected behavior/code**
It should compile

**Environment**
- Probot version(s): [e.g. v6.0.0] master
- Node/npm version: [e.g. Node 8/npm 5]
- OS: [e.g. OSX 10.13.4, Windows 10]

**Possible Solution**
Make `id` optional.

**Additional context/Screenshots**
Add any other context about the problem here. If applicable, add screenshots to help explain.c

[2018-08-08 21:56] jbhoosreddy commented on #649
https://github.com/probot/probot/blob/master/src/%40types/%40octokit/webhooks/index.d.ts#L19

[2018-08-09 15:50] AditShah commented on #582
Hey, I am new at contributing to open source and development and I want to solve this issue. Can someone guide me what should I do and how to approach this problem?

[2018-08-11 02:20] greenkeeper[bot] opened #651 "An in-range update of @types/node is breaking the build 🚨"
## Version **10.5.8** of **@types/node** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fnode-10.5.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/DefinitelyTyp

[2018-08-11 20:22] bobvanderlinden opened #652 "GraphQL has incorrect typings"
## Bug Report

**Current Behavior**

In TypeScript, the following is typed correctly according to the probot type definitions:

[code]

However, `context.github.request('')` doesn't actually result in a response and also does not have a `status`. In fact it returns the retrieved value from GraphQL.

We can see this is the case here:

https://github.com/probot/probot/blob/59f924e4e690ffb396c26400c9

[2018-08-12 19:55] greenkeeper[bot] opened #653 "An in-range update of bottleneck is breaking the build 🚨"
## Version **2.7.0** of **bottleneck** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/probot/probot/compare/master...probot:greenkeeper%2Fbottleneck-2.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/SGrondin/bottleneck>b

[2018-08-15 00:11] tcbyrd commented on #642
@jbhoosreddy GHE 2.12 was released in December of 2017, before the merge pull request option was officially available to GitHub Apps ([see the changelog from April](https://developer.github.com/changes/2/#--additional-endpoints-available-for-github-apps)). I agree the error message is a bit confusing here, and I would definitely chalk it up to 2.12 being in technical preview and the endpoint not b

[2018-08-16 21:02] jbhoosreddy commented on #642
Thanks for the info. Really appreciate it.

[2018-08-16 21:02] #642 closed

[2018-08-17 04:22] yawningphantom opened #655 "Error: Propery `event` is deprecated, use `name` while running tests"
Hello guys ,
I cloned this repository and ran **npm test** after installing all the node packages. All the test ran fine but there is a warning coming up which shows

● Console
    _console.warn src/application.ts:56
      Error: Propery `event` is deprecated, use `name`_

How to replicate this issue
1. clone this repository
2. run **npm install**
3. run **npm test**
4. here you will see a warning

[2018-08-17 15:15] tcbyrd commented on #149
@FWirtz: Thanks for the ping and sorry for the silence here. I've had some other priorities at work, but expect some updates in the next week. To be clear, you can use the extension now if you install the serverless-lambda extension from GitHub: `npm install probot/serverless-lambda`. I just need to write up some docs about when to use it vs something like [`serverless-http`](https://github.com/do

[2018-08-17 17:54] hiimbex commented on #655
Thanks for opening this issue @yawningphantom. Looking at the code this warning comes from: https://github.com/probot/probot/blob/59f924e4e690ffb396c26400c933f2df7ee9c3f3/src/application.ts#L53-L58

This use of event was actually [deprecated](https://github.com/probot/probot/pull/626), so it looks like the fix here would be to update the tests in [test/application.test.ts](https://github.com/probo

[2018-08-17 18:03] bkeepers commented on #655
This was just added recently. The warning in tests is unfortunate, but the tests are explicitly checking that the deprecated `event` method still works.

https://github.com/probot/probot/blob/master/test/application.test.ts#L269-L283

If someone wants to submit a PR to try to silence the warning in tests that would be great.

I'm going to close this since the warning is intentional and not hurting

[2018-08-17 18:03] #655 closed

[2018-08-17 18:17] #632 closed

[2018-08-17 19:26] #560 closed

[2018-08-17 22:57] #651 closed

[2018-08-18 04:09] hiimbex commented on #623
This feels very similar to some work being done in octokit proper; see https://github.com/octokit/app.js/pull/1 for that proposal. Right now we're still in the design/beginnings of implementations phase, but feedback welcome!

cc/ @gr2m

[2018-08-18 05:39] yawningphantom commented on #655
Thanks, just wanted to point this out.

[2018-08-19 13:40] #561 closed

[2018-08-22 14:40] #653 closed

[2018-08-22 14:42] bkeepers commented on #573
That README is from https://github.com/probot/hello-world, so I think a PR should be made there to update it.

[2018-08-22 14:42] #573 closed

[2018-08-22 14:54] #643 closed

[2018-08-23 16:25] robstoll opened #665 "CLA Bot"
## Feature Request

**Is your feature request related to a problem? Please describe.**
So far there are only CLA-Bots available which store sensitive data somewhere. I have no idea if this data is encrypted etc. and I don't want to force contributors to give away their email address to a company.

**Describe the solution you'd like**
I was thinking about a solution which does not require to give a

[2018-08-23 18:41] hiimbex commented on #665
Hi @robstoll! Glad you're interested in probot and heard the podcast! 🎉

Typically we use issues in the repo to keep track of features or bugs for probot itself. We use [probot/ideas](https://github.com/probot/ideas) for ideas of cool probot apps to build like this one. I'd be very appreciative if you could open up this issue there for further discussion :)

Additionally, you should check out [pro

[2018-08-24 05:52] robstoll commented on #665
Ok, I'll open an issue there.

[2018-08-24 05:52] #665 closed

[2018-08-24 14:36] #607 closed

[2018-08-27 23:06] bkeepers commented on #512
Thanks everyone for all your help with our TypeScript implementation. There's still a lot of work to do, but everything except types for webhook payloads are checked off the list above, so I'm going to close this issue.

Please open an issue if you have any further feedback about typescript.

[2018-08-28 23:22] bsiegel opened #670 "TypeScript definition for `paginate` is incorrect"
## Bug Report

**Current Behavior**
The typings for the paginate function are wrong / out of date. The typings currently look like:

[code]

**Expected behavior/code**
The callback function now takes an optional second parameter, `done`. Additionally, the result of `paginate` should be a `Promise<T>` where `T` is the return type from the callback (which must itself be an array type).

**Environmen

[2018-08-29 04:56] BPScott commented on #592
Would be solved by #619

[2018-08-29 05:01] BPScott commented on #670
Updating the signature to use generics would be super handy as currently we loose all typehinting of the response. A while ago this wasn't much of a big deal as support for response typehints was a bit meh (as response.data was typed as any) but as of octokit/rest.js v15.10.0 complete typehints are produced for all response types.

[2018-08-29 14:41] Eddman opened #673 "Error handler throws error"
## Bug Report

**Current Behavior**
In error handler the line:
[code]
throws an error if the message does not exists/is not defined.

**Expected behavior/code**
The code should check if `err.message` is defined.

**Environment**
- Probot version(s): v7.1.0
- Node/npm version: Node 8/npm 6
- OS: all

**Additional context/Screenshots**
Introduced in #647.

[2018-08-30 01:41] hiimbex opened #674 "Project Planning: Use Case Templates"
### Proposal: Use Case Templates
The original proposal for this idea lives here https://github.com/probot/probot/issues/620 and contains more details about potential examples for these templates.

When folks start building Probot Apps, sometimes they already know the kind of thing they want to build with the GitHub API. We've identified several patterns or APIs that are commonly used and want to i

[2018-08-30 07:35] Eddman opened #675 "@octokit/webhooks types missing"
## Bug Report

**Current Behavior**
In probot `7.1.0` types for `@octokit/webhooks` were extracted to `src/@types/...` but are no more part of the package. This makes probot unusable cause we don't have code completion, type checks nor we can use the types in the code.

**Expected behavior/code**
Types for `@octokit/webhooks` will be part of the probot bundle.

**Environment**
- Probot version(s):

[2018-09-01 00:51] #649 closed

[2018-09-03 18:59] #597 closed

[2018-09-04 06:58] greenkeeper[bot] opened #679 "An in-range update of @octokit/rest is breaking the build 🚨"
## Version **15.11.0** of **@octokit/rest** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40octokit%2Frest-15.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/octokit

[2018-09-04 12:14] greenkeeper[bot] opened #680 "An in-range update of raven is breaking the build 🚨"
## Version **2.6.4** of **raven** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/probot/probot/compare/master...probot:greenkeeper%2Fraven-2.6.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/getsentry/raven-js>raven</a>

[2018-09-04 21:06] #679 closed

[2018-09-06 00:24] olstenlarck opened #683 "Integrating within existing website/app"
Heya.

I'm wondering. Lets say i have running website e.g. `foobar.com` or whatever. And i want the `Webhook URL` for the probot/github app to be `foobar.com/github/app`. How can i do that? Erm.. Probot expect exporting a function, right? How i can integrate it into for example some express server or other router based setup? I'm thinking to use Next.js, deployed to Now, so and any ideas would be

[2018-09-06 02:38] hiimbex opened #684 "Update Testing docs"
Maybe it would be worth updating https://probot.github.io/docs/testing/ to look more like https://github.com/probot/dco/blob/master/test/index.test.js. I think the nock flow feels a lot better given how API-intensive probot is.

Would love to hear other thoughts and feels on how to standardize our testing and testing recommendations.

[2018-09-06 06:06] #598 closed

[2018-09-06 21:46] greenkeeper[bot] opened #685 "An in-range update of supertest is breaking the build 🚨"
## Version **3.3.0** of **supertest** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/probot/probot/compare/master...probot:greenkeeper%2Fsupertest-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/visionmedia/supertest>s

[2018-09-07 09:52] dessant commented on #380
Could this be reopened and pinned?

[2018-09-07 13:10] akosyakov opened #686 "[typescript typings] defined overloads for `Application.on`"
For example:
[code]
It will improve the development experience with typescript.

[2018-09-07 20:35] bkeepers commented on #686
Thanks @akosyakov. This is definitely something we'd love to add. First, we need types for webhook payloads.

@gimenete Have you started any work on that? Is there a way others can contribute to that?

[2018-09-07 21:26] hiimbex commented on #675
So I'm no ts expert, but I looked into this. Types for @octokit/webhooks were extracted here: https://github.com/probot/probot/pull/626. But in our `package.json` we define our types here:
https://github.com/probot/probot/blob/be260ef13cd5f8bec371fd49ef51bffb6b36dc52/package.json#L7
And the types for `@octokit/webhooks` on 7.1.0:
[code]

The only relevant change I can detect between that and what

[2018-09-07 21:32] hiimbex commented on #652
I think this was fixed in #667 and therefore is live in probot v7.1.1. Feel free to reopen this if that's not the case.

[2018-09-07 21:46] JasonEtco commented on #683
Hi! This is a fascinating question with a lot of possible answers; its important to remember that under the hood, Probot is an Express server that operates a `POST /` route for receiving webhooks. That is abstracted into an `EventEmitter` API so you can use `app.on()`. Which means that this is definitely possible.

It really depends on the app. Next.js is a little difficult, because it doesn't fol

[2018-09-07 22:16] hiimbex commented on #673
Have you run into this actual issue in your code? I tested this code out of curiousity:
[code]
and didn't have any issues. But

[code]
does throw an error. Not sure how anyone would run into this practically, but it's an easy fix, see: https://github.com/probot/probot/pull/687 🙂

[2018-09-07 23:36] olstenlarck commented on #683
Yea. It depends in reality :D And yea, i was thinking about using `createProbot` too.

But in anyway, it's not a good idea to do _two_ things in _one_ place. When one think a bit more, he realizes that it's not even needed to do it one deployment. That's the cool of "micro things" such as micro services and etc.

Anyway, i will close that, because i rethink and restructured it in my mind.

Thanks.

[2018-09-07 23:36] #683 closed

[2018-09-08 12:05] #601 closed

[2018-09-08 23:05] #605 closed

[2018-09-11 18:49] gimenete commented on #686
@bkeepers I had a discussion with @tcbyrd about this and that's pretty much the design of the API we wanted to add typing information to different events depending on the name. Thanks @akosyakov for suggesting it!

I never started working on it, but for sure I can start soon working on that.

[2018-09-13 16:07] jamime opened #690 "Can't create a comment on a PR"
## Bug Report

**Current Behavior**
A runtime error is thrown, "Could not resolve to a node with the global id of 'MDExOlB1bGxSZXF1ZXN0MjE1MzI4Mjg0"

[code]

[code]

**Expected behavior/code**
A comment should be made on a PR with the message 'Test'

**Environment**
- Probot version(s): 7.1.1
- Node/npm version: 9.11.2
- OS: Ubuntu 16.04

**Additional context/Screenshots**
The payload that trigger

[2018-09-13 18:00] hiimbex commented on #690
It seems to me that this bot should not act when an `issue_comment` is triggered, because you're explicitly listening on:
[code]
Try opening or synchronizing a PR.

[2018-09-13 18:55] jamime commented on #690
@hiimbex Thats what the `probot-commands` module adds support for.

I've spoken to GitHub and it's an issue with their API.

[2018-09-13 18:55] #690 closed

[2018-09-15 23:38] #469 closed

[2018-09-15 23:38] #618 closed

[2018-09-16 01:38] #613 closed

[2018-09-17 14:32] wilhelmklopp commented on #620
Still very relevant 🙏

[2018-09-17 14:38] hiimbex commented on #620
I think we can close this out in favor of the tracking going on in https://github.com/probot/probot/issues/674 :)

[2018-09-17 14:38] #620 closed

[2018-09-20 02:01] tripodsan commented on #551
what about another env var instead:

[code]

?

[2018-09-21 16:14] galak commented on #149
@tcbyrd any updates on the writeup?

[2018-09-23 19:08] pierrebeaucamp commented on #512
I don't know if this is the right place to report this, but I'm still getting type errors on Probot 7.1.2 & Ocotkit Rest 15.12.0:

[code]

[2018-09-24 10:51] betopompolo commented on #512
@pierrebeaucamp me too!

[2018-09-24 11:03] ocombe commented on #512
@pierrebeaucamp @betopompolo I had the same error last week, the solution is to add this property in the `compilerOptions` of your tsconfig.json file: `"esModuleInterop": true` (works with TS 2.7+)

[2018-09-24 11:28] betopompolo commented on #512
@ocombe I had to change some imports after adding `esModuleInterop: true` but it works, thank you! Maybe this `compilerOption` should be added in probot by default?

[2018-09-25 17:01] tkrugg opened #699 "Testing routes is undocumented"
## Feature Request

**Is your feature request related to a problem? Please describe.**
It would be nice to have an exemple on how to test the routes

**Describe the solution you'd like**
https://github.com/probot/probot/blob/686232d13dce67ab144efb97413fc60aa9e78cc1/test/index.test.js#L90

[2018-09-25 17:11] hiimbex commented on #699
I totally agree! We have some larger improvements for the testing docs planned: https://github.com/probot/probot/issues/684, and I'd love to address this as a part of those improvements.

Feel free to open a PR to https://github.com/probot/probot/blob/master/docs/testing.md if you're interested!

[2018-09-26 08:48] tkrugg commented on #699
would love to.
So IIUC exposing `probot.server` is not accidental and can be documented as part of the API?

[2018-09-26 14:54] betopompolo commented on #63
@bkeepers we are using `context.isBot` and its really great! But, during our tests using `probot simulate`, the `isBot` flag is also being set as true. Is there a way I can differentiate if I'm testing or not?

[2018-09-27 01:08] macklinu commented on #645
I think this can be closed. It looks like the [failing build](https://travis-ci.org/probot/probot/jobs/413068226) that caused this issue to be reported was due to Travis timing out, not `commander` breaking the test suite.

[2018-09-27 02:03] macklinu commented on #582
If I'm not mistaken, all tests have been migrated to TypeScript or have a PR open to migrate them to TypeScript. 💯

[2018-09-27 16:27] siwaniagrawal commented on #582
Hey, is this issue solved? Or I can contribute to it?

[2018-09-27 21:05] #531 closed

[2018-09-29 02:56] wolfy1339 opened #707 "Missing TypeScript alias for app.error"
## Bug Report

**Current Behavior**
For some reason there is an alias of `app.error` to `app.log.error`, but it isn't exported in the TypeScript typings. It exists and works, but it's type is `any`

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Environment**
- Probot version(s): [e.g. v6.0.0] 7.1.2
- Node/npm version: [e.g. Node 8/npm 5] No

[2018-09-30 17:44] bobvanderlinden commented on #652
@hiimbex Could you reopen this issue? I still believe the current implementation is incorrect.

[2018-09-30 17:48] bobvanderlinden commented on #652
See https://github.com/probot/probot/blob/2ff0ec6b20a9db29d5d39899e1b78110dc6cf6e8/src/github/graphql.ts#L42

That line returns the content of the `data` field. It doesn't return a object that contains a `data` field. The type information currently does say that it does return an object with a `data` field.

[2018-09-30 19:37] bkeepers commented on #652
@bobvanderlinden Thanks for the report. I've re-opened the issue. Would you be up for submitting a pull request to correct it?

[2018-09-30 20:28] bobvanderlinden commented on #652
Sure, I can make it return `any`, like it currently does in JS, but I don't know if this is the right way to go.

I still would like the full response to be available and not throw a `GraphQLError`. Throwing `GraphQLError` does not allow usage of the result anymore even though that's a totally valid use-case for GraphQL servers/clients.

Making the full response available will probably break backw

[2018-09-30 20:57] bkeepers commented on #652
Thanks! Go ahead an implement it the way you think is best and we can figure out backward compatibility before releasing it.

[2018-10-01 01:41] hiimbex commented on #63
@betopompolo here's how we test for it internally:
https://github.com/probot/probot/blob/59046bb7d84e9f415898ad34dc6ac327821f8cd1/test/context.test.ts#L225-L240

Could you describe more about how you're running into this? Are you simulating an event that was triggered by a bot?

[2018-10-01 16:08] gimenete commented on #686
@gr2m do you think I can get somehow the webhook payload examples from the documentation? I need that for generating the typing definitions. Thanks!

[2018-10-02 08:59] Eddman commented on #675
I'm using `WebhookEvent` and `WebhookPayloadWithRepository` types in my application and now I have to copy your definition into my code base as it is not shipped with the `probot` bundle. That seems to me as a workaround....

[2018-10-02 09:03] Eddman commented on #673
@hiimbex Simplified: error returned by Promise does not have to be Error object :slightly_smiling_face: It can be any object. In my case I return and process multiple errors (array) from multiple parallel tasks :wink:

[2018-10-02 13:06] wilhelmklopp opened #712 "Prefill Glitch app name as GitHub app name for app manifests"
## Feature Request

When remixing a Glitch app [(such as this one)](https://glitch.com/edit/#!/remix/github-app-manifests-checks), no name gets set in the manifest that is posted to GitHub as part of the "Register GitHub App" step. As a result, folks need to come up with their own name (which is quite a challenge).

**Describe the solution you'd like**
One aspect of having first-class Glitch suppo

[2018-10-02 13:18] wilhelmklopp opened #713 "Improve log formatting on Glitch"
## Bug Report

**Current Behavior**
![image](https://user-images.githubusercontent.com/7718702/46350630-23311200-c64d-11e8-8edd-e3ae24a464a2.png)

**Expected behavior/code**
The logs are more clearly formatted, similar to how they look outside of Glitch:
![image](https://user-images.githubusercontent.com/7718702/46350788-933f9800-c64d-11e8-8b51-0c74d5df2bdb.png)

**Environment**
- Probot version(s

[2018-10-02 16:12] TiagoDanin opened #714 "Bug addLabels() does not work"
## Bug Report

**Current Behavior**
`ctx.github.issues.addLabels()` does not work in version 7.2.0

[code]

**Expected behavior/code**
Add a label with the text  "Hacktoberfest" (No problems with the version 7.0.1)

**Environment**
- Probot version(s): 7.2.0
- Node/npm version: 9.4.0
- OS: Linux (Manjaro - Kernel 4.14.52)

**Additional context/Screenshots**
Repositorie: [TiagoDanin/Hacktoberfest-A

[2018-10-02 16:20] hiimbex commented on #714
You have to create a label before you can add it. Hacktoberfest doesn't exist [here](https://github.com/TiagoDanin/Hacktoberfest-Auto-Label/labels). You may want to conditionally [`addLabels()`](https://octokit.github.io/rest.js/#api-Issues-addLabels) if one does not exist.

[2018-10-02 16:20] #714 closed

[2018-10-02 22:05] jleach opened #715 "TypeError: this.app is not a function when running unit tests"
## Bug Report

I modelled my unit test after what I saw here `https://probot.github.io/docs/testing/`. My test runs fine but I get some unhandled promise rejection warnings. Any tips on how to fix this would be great.

**Current Behavior**
[code]

**Expected behavior/code**

A clean run with no unhandled promises.

**Environment**
- Probot version(s): 7.0.0
- Node/npm version: node 10 / npm 6.4.1

[2018-10-02 22:14] jleach commented on #715
Probably related to the options the constructor of `Application`. Looks like that's where `this.app` is set. Since no options are being passed in it pukes. Any suggestions to what I could pass in? A mock perhaps?

[code]

[2018-10-02 23:20] ahmad380360 commented on #512
Ok

[2018-10-03 03:34] hiimbex commented on #713
Weird! This is the relevant code for that:
https://github.com/probot/probot/blob/8663f1b8e683233bc35d1852d4712cfef7ffea04/src/apps/setup.ts#L8-L9

I got that env variable from https://glitch.com/help/project/... any ideas?

[2018-10-03 04:19] dessant commented on #713
This PR should take care of the ANSI color codes: https://github.com/probot/probot/pull/708

[2018-10-03 11:13] betopompolo commented on #512
@bkeepers what do you think?

[2018-10-06 05:13] greenkeeper[bot] opened #719 "An in-range update of @octokit/rest is breaking the build 🚨"
## The dependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `15.12.1` to `15.13.0`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40octokit%2Frest-15.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a direct dependency of t

[2018-10-06 15:11] greenkeeper[bot] opened #720 "An in-range update of ts-jest is breaking the build 🚨"
## The devDependency [ts-jest](https://github.com/kulshekhar/ts-jest) was updated from `23.10.3` to `23.10.4`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2Fts-jest-23.10.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-jest is a devDependency of this project. It **mi

[2018-10-06 18:40] hiimbex commented on #707
I'm not so sure adding `app.error` is the right solution, as opposed to removing it. I think it's better to handle errors through our logger, which we have tests for and is intended. Check out https://probot.github.io/docs/logging/

What do you think about removing `app.error` as an option instead? And keeping errors within our logger?

[2018-10-06 18:43] hiimbex commented on #715
Hi @jleach! Thanks for the issue. Those docs definitely need updating!

I recently wrote [this test](https://github.com/hiimbex/markdownify/blob/master/test/index.test.js#L11-L20) which might be a better way to get started with mocks for probot.

Essentially you can do this:
[code]

[2018-10-06 19:04] wolfy1339 commented on #707
Sure. That sounds better than having something undocumented
________________________________
From: Bex Warner <notifications@github.com>
Sent: Saturday, October 6, 2018 2:40:19 PM
To: probot/probot
Cc: wolfy1339; Author
Subject: Re: [probot/probot] Missing TypeScript alias for app.error (#707)

I'm not so sure adding app.error is the right solution, as opposed to removing it. I think it's better t

[2018-10-06 19:46] hiimbex opened #722 "Hacktoberfest"
## [Hacktoberfest](https://hacktoberfest.digitalocean.com/) is back! 🍂 👻 🎃 :octocat:

It's that time of year again! If you're not familiar, Hacktoberfest is a month-long celebration of open source software development in order to get new folks contributing to open source, opening their first pull requests, and winning free t-shirts!

Probot participated last year and loved all the involvement and

[2018-10-06 19:56] hiimbex commented on #722
I could use some help updating Probot in behaviorbot! See https://github.com/behaviorbot/welcome/issues/15 for more details!

[2018-10-07 05:51] wolfy1339 commented on #707
I'd like to add that this isn't custom code at all, and it is indeed handled through the logger.
It's an alias to the `error` function of the logger

[2018-10-07 22:03] #507 closed

[2018-10-09 19:21] madsobel opened #727 "Escape quotes in manifest creation"
## Bug Report

**Current Behavior**
If you use single or double in for example the description of a new probot during scaffolding, it seems to "break" the manifest, because these are not escaped, and therefor not valid JSON upon installing.

**How to reproduce**
`$ yarn create probot-app foo`
...
<img width="462" alt="screenshot 2018-10-09 at 21 12 47" src="https://user-images.githubusercontent.co

[2018-10-10 04:11] hiimbex commented on #707
Yea, I'm still not clear there's a big issue in having this alias situation, documented or not, as long as they both have identical functionality.

If anyone else has string opinions about this, feel free to weigh in.

[2018-10-10 05:16] hiimbex commented on #727
Thanks for this issue @madsobel!

I tried to recreate this based on your screenshot, but got an error via [`create-probot-app`](https://github.com/probot/create-probot-app) that it couldn't run `npm install` since it had un-escaped quotes, so that should definitely be fixed.

Additionally this code:
https://github.com/probot/probot/blob/f657a9733fdc72d2337507d93f9feb841d8dd061/src/manifest-creatio

[2018-10-10 06:54] dmlittle commented on #727
@hiimbex I don't believe this is an issue with the `create-probot-app` script but something weird going on with npx/npm/yarn. `JSON.stringify()` properly escapes any quotes that are in a string.

[code]

Digging into the issue further the directory from the create-probot-app is created a [base template repo](https://github.com/probot/template). The [description](https://github.com/probot/template/

[2018-10-10 21:07] greenkeeper[bot] opened #733 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `23.3.5` to `23.3.6`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fjest-23.3.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a devDependenc

[2018-10-11 00:33] #558 closed

[2018-10-11 14:02] wilhelmklopp opened #736 "Repeated "RSA: command not found" on Glitch after app manifest creation"
## Bug Report

**Current Behavior**
Whenever you modify code on Glitch after the app manifest flow has completed, you get looots of warnings in the Glitch status console:
![image](https://user-images.githubusercontent.com/7718702/46809303-15267400-cd66-11e8-8556-ea2a56cc1afd.png)

**Expected behavior/code**
No warnings are shown

**Possible Solution**
Based on some limited testing, wrapping the va

[2018-10-12 03:39] jleach commented on #715
Thanks. I was working in TypeScript and I don't think I can just pass in {} to the Probot constructor. I'll see if I can add something to make ts be ok with this.

[2018-10-15 16:17] #736 closed

[2018-10-16 05:01] jleach commented on #715
Thanks.

[2018-10-16 16:48] jleach commented on #699
When I run something like this I get ` TypeError: Cannot read property 'address' of undefined` and a bunch of unhandled promise rejection warnings: `(node:65995) UnhandledPromiseRejectionWarning: HttpError: {"message":"A JSON web token could not bedecoded","documentation_url":"https://developer.github.com/v3"}`. My actual work on testing my route is here:

https://github.com/bcgov/repo-mountie/blo

[2018-10-17 01:59] hiimbex commented on #674
I just published https://www.npmjs.com/package/create-probot-appz as an early release of this work, please feel free to create some apps with it and test out the templates!

Try running any of the following to test out different apps!

[code]

Feedback welcome. 🙇‍♀️

cc/ @probot/maintainers

[2018-10-17 02:19] hiimbex commented on #727
Well, maybe I'm not understanding, but I think you've got your double vs triple brackets mixed up, given name and description in the template [here](https://github.com/probot/template/blob/master/README.md#-name-) are {{ name }} and {{ description }}. I believe the library used in create-probot-app utilizes general handlebars escaping: http://handlebarsjs.com/#html-escaping, meaning the name and d

[2018-10-17 02:41] dmlittle commented on #727
@hiimbex the `description` is being escaped in the `README.md` but not on the `package.json` file. [Here](https://github.com/probot/template/blob/a276a49f23696bba017eeac21c30732be6c49c17/package.json#L4) you can see that description is not being escaped in the `package.json`.

You should be able to reproduce it by running the following commands:
[code]

Notice how description in the `package.json`

[2018-10-17 02:47] hiimbex commented on #727
Doh. That makes so much more sense!

I don't see why we're using double brackets in some places and triple in others, I'd prefer to be more strict and use double brackets everywhere. I think people are bound to change values of these things in the package.json and readme before publicizing an app and after running this script anyways.

[2018-10-17 03:06] dmlittle commented on #727
Yeah I think it makes sense to escape everything. It looks like the escaping was removed in this [commit](https://github.com/probot/template/commit/ea9f6ca354e933f827a0d88445aaa763848f0f3b) because the author might take the format of `"Name <email>"` and the `<` and `>` symbols were being escaped to `&lt;` and `&gt;` respectively. If it's ok to expect people change the values to the correct ones t

[2018-10-18 14:51] hiimbex commented on #727
Ahh, I honestly haven't seen that come up and I'd prefer the manifest to work, so let's move to escaping all the template variables!

[2018-10-19 14:04] Eddman commented on #675
@hiimbex How are others using it?

[2018-10-19 16:50] evqna commented on #675
I am doing exactly the same thing for an application written in pure javascript (not typescript). It's a minor hassle, would definitely like to see this fixed!

[2018-10-20 08:42] srghhA commented on #347
DB7D2895-7888-4B48-BAE8-91F7A97D9C4A@icloud.com

24 нояб. 2017 г., в 0:32, Jason Etcovitch <notifications@github.com> написал(а):

@srghhA I've closed this because I think you've opened it by mistake - please let me know if that isn't the case 😄

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-23 08:17] sloops77 opened #743 "getting nodemon working with typescript"
## Feature Request

**Is your feature request related to a problem? Please describe.**
nodemon doest work if you write your probot app in typescript. let's get it working

**Describe the solution you'd like**
update the project generation when using typescript

**Describe alternatives you've considered**
manually hacked `package.json` scripts - (the names of scripts are not great):
[code]
`nodemon

[2018-10-23 18:18] bkeepers opened #745 "Manifest creation fails with GHE_HOST"
**Current Behavior**

When starting a new app with a `GHE_HOST` environment variable, a user is able to click through to register the GitHub App, but after choosing a name for the GitHub App, setup fails with:

[code]

This is against a local development version of GitHub which has support for manifests.

**Expected behavior/code**

It's expected that App creation would succeed or give a friendly

[2018-10-24 05:17] #623 closed

[2018-10-25 10:50] mgan59 opened #747 "Simulating Webooks Locally -- Token Usage"
Setting up first project.  Working through [simulating webhooks](https://probot.github.io/docs/simulating-webhooks/).

I was running my version of the command and I kept getting the `help()` menu repeated back to me.

[code]

I looked at the code for the `bin/probot` -- https://github.com/probot/probot/blob/master/bin/probot-receive.js#L24

I can see it is expecting a `--token` which isn't set at

[2018-10-25 11:28] mgan59 commented on #747
And in the event I should have a token (maybe my probot isn't authenticating correctly when it starts?)  I was noticing this in my `console`

[code]

Which lead me to this [issue](https://platform.github.community/t/issued-at-claim-iat-must-be-an-integer-representing-the-time-that-the-assertion-was-issued/1549/17)

[2018-10-25 14:43] hiimbex commented on #747
I think this has to be connected to https://github.com/probot/probot/pull/726. @gimenete would you mind taking a look at this? `receive` should definitely work _without_ a token as well.

The token addition was supposed to support use of regular tokens, but this is definitely an issue on our end. @mgan59 you're definitely not doing anything wrong. In fact, you could revert back to probot v7.2.0 an

[2018-10-25 18:58] #670 closed

[2018-10-25 19:16] hiimbex opened #748 "Separate out deployment docs"
As a follow-up to https://github.com/probot/probot/pull/698, I wanted to open this issue to track an idea @bkeepers @tcbyrd and I discussed to break out the deployment options to not be in the sidebar but link out from within a main page.

[2018-10-25 19:41] hiimbex commented on #745
I'm a little confused about this one. Since support for creating a manifest isn't available for enterprise, would you expect them to be able to create their app on dotcom and then run it on the enterprise server? I think you'd need to create the app in enterprise to do that right?

Maybe the solution is to say that creating manifests will only work fro dotcom, not enterprise?

[2018-10-25 19:51] mgan59 commented on #747
thanks @hiimbex for responding, I'll revert / monkey patch my local so I can proceed.  for my own edification, when would I need the token?

[2018-10-25 20:06] hiimbex commented on #747
It's for GitHub Actions support! When you'd use a personal access token (PAT) instead of your installations' installation access token.

[2018-10-25 20:33] #652 closed

[2018-10-25 20:37] bkeepers commented on #745
Manifests will work for the next release of GHE, which is what I was testing against. This just needs to be fixed before then.

[2018-10-25 20:48] hiimbex commented on #745
Ahh gotcha! Thanks for clarifying.

[2018-10-26 15:22] gimenete commented on #743
Thank you @sloops77

I think a better alternative is to use `ts-node` directly, instead of building and running in parallel. I've opened a PR that would allow this and fixing the nodemon thing after that should be trivial: https://github.com/probot/probot/pull/751

[2018-10-30 09:38] gimenete commented on #743
I'm going to keep the issue open until we merge the PR and we change the blueprint to work as expected.

[2018-10-30 22:43] maticzav commented on #476
Maybe you could add support for [`graphql-bindings`](https://github.com/graphql-binding/graphql-binding-github), I genuinely enjoy using these in my other GraphQL projects. And there's already an existing one made especially for Github! 🎉

[2018-10-31 12:10] gimenete commented on #747
I created this PR that should solve the issue https://github.com/probot/probot/issues/747

[2018-10-31 18:02] wolfy1339 commented on #675
I have tried using them by adding them manually to the `@octokit/webhooks` folder in `node_modules`, and they are full of errors, so that could be why they aren't being exported

[2018-11-02 16:14] #747 closed

[2018-11-04 07:01] #592 closed

[2018-11-05 03:34] wolfy1339 opened #759 "Missing types for other packages used by Probot"
## Bug Report

**Current Behavior**
All TypeScript types located in `src/@types/` are missing from final build, and any used as they are marked as devDependencies and cause errors when using Probot in a TS application

[code]

**Expected behavior/code**
For the npm module to have the required types, and the package.json list the `@types/*` packages in `dependencies`

**Environment**
- Probot versi

[2018-11-05 10:54] sjparkinson opened #760 "Paginate does not pass through custom accept headers"
## Bug Report

**Current Behavior**

When setting a custom `Accept` header, the `paginate` function does not use the value in any request but the first.

[code]

**Expected behavior/code**

Every request that `paginate` makes uses the custom headers defined.

**Environment**

- Probot version(s): 7.2.0
- Node/npm version: Node 10.13.0
- OS: macOS

**Related Octokit / Probot links**

* https://gith

[2018-11-05 13:08] sjparkinson commented on #760
Relates to https://github.com/octokit/rest.js/pull/707, there maybe something specific going on with the `Accept` header in the `applyAcceptHeader` function.

[2018-11-07 14:28] booninite opened #761 "HTTP server example does not work out of the box"
## Bug Report

**Current Behavior**
Used the code from the example in documentation for `app.route`, I cannot hit the route and I see the server logging a 404.

**Expected behavior/code**
The example to work as documented, allowing me to mount arbitrary http routes to be hit on my probot server.

**Environment**
- Probot version(s): latest
- Node/npm version: Node 10
- OS: OSX mojave

[2018-11-07 18:45] tcbyrd commented on #761
@booninite Is it possible to share the exact code and URL you're using? I just tested this also on Node 10 in OSX Mojave and it works as expected. Keep in mind that in addition to `app.route('/foo')` you also need to define a `GET` route to browse to the URL (also shown in the example). App.route just sets the base url for that router, then all `router.get` and `router.post` methods defined after

[2018-11-08 17:30] booninite commented on #761
<img width="1749" alt="screen shot 2018-11-08 at 11 41 59 am" src="https://user-images.githubusercontent.com/13647495/48213299-7fbdd600-e34b-11e8-924a-1a34799eb03a.png">

Not a problem.  Source is on the right.  Logs are in the bottom left, build results from code bottom left, and me unable to hit `/my-app/hello-world`.  Am I missing something?

[2018-11-09 14:49] booninite opened #764 "Replace the logger with my own"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I would like to use probot as part of a larger application, and I already have my own logger.  I want to have consistent logging behavior across my application.

**Describe the solution you'd like**

I'd like to be able to override the logger on probot with my own logger.

**Describe alternatives you've consider

[2018-11-10 12:51] #680 closed

[2018-11-10 14:51] #599 closed

[2018-11-10 19:11] pinker13 opened #765 "Pinker1378@gmail.com"

[2018-11-10 20:41] JasonEtco commented on #765
@pinker13 I'm closing this because I believe that it was opened by mistake. Please let me know if that is not the case.

[2018-11-10 20:41] #765 closed

[2018-11-10 20:43] JasonEtco commented on #764
@booninite can you expand on your monkey patching attempt? I believe that should work (I've done it myself in the past). It'd help to understand your attempted solution - I'm not sure that allowing a custom logger to be passed would be all that useful, since the inner code would need to conform to a Bunyan-like API anyway.

Also - is there a reason you need to replace it with your own logger? If i

[2018-11-11 01:11] inyee786 opened #766 "how comment in pull request"
## How to comment on pull request when I know the "repo ,org and pull number"

## I want to comment on pull request when function get executed

# Below is the simple way to comment on pull request
[code]

[2018-11-11 03:14] darthgera123 commented on #766
i would like to help. Please guide

[2018-11-11 09:15] inyee786 commented on #766
@JasonEtco , my question was how to comment on pull request, when I only know the org_name, repo_name and pull_number

[2018-11-11 21:05] SvanBoxel commented on #380
Can I assume this is the reason that the installation counter for [delete-merged-branch](https://probot.github.io/apps/delete-merged-branch/) is stuck for more than a month?

`probot/stats` gives a 404 and this is returned in the log:

[code]

[2018-11-12 03:20] #684 closed

[2018-11-13 14:29] TimonVS opened #767 "Warn user when something else is already running on port 3000"
## Feature Request

**Is your feature request related to a problem? Please describe.**

When running Probot locally and you've already got something else running on port 3000 (Create React App and many other tools use 3000 by default) Probot will log "Not Found" errors when a webhook event is received.

![image](https://user-images.githubusercontent.com/876666/48417579-60f87e80-e753-11e8-8844-881d

[2018-11-14 02:54] Jake-Gillberg commented on #476
Ooo, I would love to use [`graphql-binding/graphql-binding-github`](https://github.com/graphql-binding/graphql-binding-github) in a `probot` app. @maticzav, have you done this?

[2018-11-14 17:19] JasonEtco opened #769 "package-lock file isn't committed"
## Bug Report

**Current Behavior**

We aren't committing the `package-lock.json` file. We had made this intentional choice a while ago when it was still a new paradigm, but now its a lot more stable and I think we should be committing it now. Open to thoughts though ❤️

[2018-11-14 22:01] aegershman opened #770 "Support ability to pass secrets to probots via cloud foundry service bindings"
## Feature Request

Most important relevant links:

- https://docs.cloudfoundry.org/buildpacks/node/node-service-bindings.html
- https://www.npmjs.com/package/dotenv#rules
- https://www.npmjs.com/package/cfenv

**Is your feature request related to a problem? Please describe.**

In order to pass secrets (namely private-key config) in to my probot using [Cloud Foundry](https://docs.cloudfoundry.org/

[2018-11-15 21:11] greenkeeper[bot] opened #771 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.12.8` to `10.12.9`.

🚨 [View failing branch](https://github.com/probot/probot/compare/master...probot:greenkeeper%2F%40types%2Fnode-10.12.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepend

[2018-11-16 14:53] nombrekeff commented on #326
Node Version: **8.9.1**
NPM version:  **6.1.0**
Probot Version: **7.2.0**

This is still happening to me.. any updates on how to fix this?
I've followed the tutorial [here](https://probot.github.io/docs/development/), and when running start it throws:
[code]

[2018-11-16 15:29] nombrekeff commented on #326
I read in [this](https://platform.github.community/t/issued-at-claim-iat-must-be-an-integer-representing-the-time-that-the-assertion-was-issued/1549/9) thread that it could have something to do with my PC date not beeing correct, and that was the case it was 3 min ahead.

[2018-11-19 18:16] donaldwasserman opened #772 "Edit Issue Not Available With Integration"
## Bug Report

**Current Behavior**
Hello there - I'm like 90% of the way there to having an awesome experience with Probot, but am somewhat confused with why my call to `context.github.issues.edit()` is resulting in `ERROR event: {"message":"Resource not accessible by integration","documentation_url":"https://developer.github.com/v3/issues/#edit-an-issue"}`

To be honest, I'm not really sure this

[2018-11-19 18:29] donaldwasserman commented on #772
Apparently this is an issue around permissions, apologies.

[2018-11-19 18:37] hiimbex commented on #772
Not sure if `update` and `edit` are aliased, but you may need to use `update`: https://octokit.github.io/rest.js/#api-Issues-update

[2018-11-19 18:48] donaldwasserman commented on #772
@hiimbex So I just did some more exploration, and it seems like that

- `.edit` works as expected on public repos
- `.edit` has the above error on user-private (not sure on organization-level ones) repos (are private repos not supported?)
- `context.github.issues.update` is not a function

So I'm happy to close this but I'm not sure if this really isn't a bug.

[2018-11-19 18:48] #772 closed

[2018-11-19 18:53] hiimbex commented on #772
cc/ @gr2m who may know more about octokit things

[2018-11-19 19:02] JasonEtco commented on #772
I was experiencing a similar issue yesterday, helping @matchai debug a Probot App. We ended up having to enable `Repository metadata: read` - definitely feels buggy.

[2018-11-19 19:20] donaldwasserman commented on #772
@JasonEtco That worked for me, thanks!

[2018-11-22 09:38] Ovilia opened #776 "How to write log to a file"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I have an issue when [...]

I put the Probot on a server which I have no access to terminal, which means I cannot use `npm start >> log.txt` to write log to file.
Is there any option for me to configure a log path for `app.log` to write to?

**Describe

[2018-11-22 17:43] jleach opened #777 "Unhandled promise rejections when running tests"
When I run my unit tests I some times see the response

[code]

Is there something else I should be stubbing out so that Probot doesn't try and contact GH during testing?

[2018-11-22 21:53] JasonEtco commented on #281
I'm doing some cleanup of old issues, and I believe this one to be stale given that we've made the swap over to TypeScript back in Probot v7. If I'm missing anything feel free to reopen!

[2018-11-22 21:53] #281 closed

[2018-11-24 03:50] haxzie opened #778 "Unhandled exception while reading file from PRIVATE_KEY_PATH"
## Bug Report

**Current Behavior**
Probot crashes with fs's `ENOENT: no such file or directory` exception if the `PRIVATE_KEY_PATH` environment variable has an invalid file. Seems like the `fs.readFileSync()` isn't handled properly in `src/private-key.ts`.

https://github.com/probot/probot/blob/58559ff22d4524a32fa099db1483fd2c9ac54ca0/src/private-key.ts#L44-L46

**Expected behavior/code**
Should

[2018-11-26 17:38] abhijeetps commented on #582
Not stale.

[2018-11-28 16:42] tlmurphy commented on #761
Also just recently ran into this. In fact, nothing I've tried for routing seems to work. I've tried node versions 9, 10, and 11.

[2018-12-04 09:05] iandouglas opened #779 "Best practice for rate limiting"
Thanks so much for the great project, I've been tinkering for a few weeks now and using probot on Glitch has been really great. I'm currently teaching at turing.io where we want to automate setting up GitHub issues for projects for our students to populate dozens of user stories for student groups. This quickly hits rate limits where Probot throws an error and doesn't continue or try an exponentia

[2018-12-04 18:15] jannik-mohemian opened #780 "Make probot usable with RunKit"
## Feature Request - _probot in RunKit_
Users want to use probot with **RunKit** instead of self-hosted NodeJS or platforms like Glitch

### Background
[RunKit](https://runkit.com/) notebooks are interactive javascript playgrounds connected to a complete node environment right in your browser. Every npm module pre-installed. RunKit can host any notebook as an [endpoint](https://runkit.com/docs/end

[2018-12-04 18:16] jannik-mohemian commented on #780
Not sure if the same reasoning for closing https://github.com/probot/friction/issues/8 can be applied here... I will close if this is already possible somehow!

[2018-12-07 19:55] kevgo commented on #690
@jamime thanks for posting the solution here, you just saved my day! The API is apparently still broken.

[2018-12-08 15:55] #673 closed

[2018-12-08 15:55] #686 closed

[2018-12-10 04:57] Ovilia commented on #776
Any update on this?

[2018-12-10 05:51] JasonEtco commented on #776
@Ovilia you can add a new stream to the logger at runtime, see Bunyan's docs on getting this working: https://github.com/trentm/node-bunyan#adding-a-stream

I've verified that this works as expected (logs everything to the file `my-logs.log`):

[code]

I'm going to close this out, but feel free to reopen if this isn't doing the trick!

[2018-12-10 05:51] #776 closed

[2018-12-10 11:03] #712 closed

[2018-12-10 13:52] NikhilM98 commented on #778
I think that following the synchronous approach instead of the promise based approach would be better as the script has multiple checks with the return statement.

Since this issue is still open, I took the liberty of creating a pull request closing this issue.
I'm new to Probot community. I'm looking forward to feedbacks.

[2018-12-10 19:56] haxzie commented on #778
Fixed in #772 :+1:

[2018-12-10 19:56] #778 closed

[2018-12-11 03:59] #512 closed

[2018-12-11 17:59] NikhilM98 commented on #767
I was planning to work on this issue. It'll be my second issue on Probot after https://github.com/probot/probot/issues/778 so I'm open to suggestions. This would be a nice feature to the Probot.

The file `probot/src/index.ts` contains the `Probot` class. It creates a new express server on the specified port from the options. I was planning to catch errors on `this.server.listen` and if `EADDRINUS

[2018-12-11 18:22] JasonEtco commented on #767
@NikhilM98 excited to see you contribute again!

I think your proposed implementation would be more than is necessary. That flow of incrementing the port would add a good amount of code; in my experience, when I see an `EADDRINUSE` error its usually because I forgot to close a server, so I just go and do that.

Instead, how about catching that error and printing a message like:

[2018-12-11 20:55] NikhilM98 commented on #767
Thanks, @JasonEtco for the feedback.

I've made a PR following the changes you requested.

[2018-12-12 16:11] JasonEtco commented on #780
@jannik-mohemian 👋 this is indeed very similar to https://github.com/probot/friction/issues/8 - by grabbing the code used in `probot run`, you can start it with a programmatic API. We'd still like to have this kind of setup as a first-class API, but in the meantime this might help get you started:

[code]

Let me know if that helps! I'm not sure how you can get a Webhook URL for GitHub to send web

[2018-12-12 19:42] iandouglas commented on #779
@JasonEtco Thanks, this helps a lot. We did have each student group install the app separately, I just wasn't sure how to get at the rate limit data so your code sample is awesome. Will we also have access to the `x-retry-after` header as well? (I think I spelled that right, GitHub tells you how many seconds to wait before retrying something)

[2018-12-12 19:49] JasonEtco commented on #779
I believe so, I just grabbed the headers that looked rate-limit specific, there's a whole lot more! I don't know the whole list off-hand so its worth checking.

[2018-12-13 01:14] turbobabr opened #788 "Update to a latest @octokit/rest version (16.2.0)"
Current implementation of `probot` uses  `@octokit/rest` - `v15.18.0` which misses some recently introduced APIs like [github.apps.createContentAttachment](https://octokit.github.io/rest.js/#api-Apps-createContentAttachment).

I know there're some breaking changes starting from `v16.0.0` and not sure how they might affect `probot` package. My question is - is it safe to increment dependency versio

[2018-12-13 12:32] jannik-mohemian commented on #780
@JasonEtco Awesome! This helps me a lot! <3

One more question: Is it possible to load a private key from a string variable? (instead of passing in the filepath)

[2018-12-13 15:30] tcbyrd commented on #780
Yes. In fact the `cert` option expects a string. We load that in from the file on disk from the [`private-key.ts`](https://github.com/probot/probot/blob/master/src/private-key.ts) module, but ultimately pass it to `createProbot` as a string. One note: it does need to be a single line string with `\n` instead of line breaks.

[2018-12-16 18:43] wolfy1339 commented on #761
It works fine for me 🤷‍♂️
[code]

[2018-12-17 10:19] sotayamashita opened #789 "Fail to start probot because of dynamic linking (OS X) (node-dtrace-provider, bunyan)"
I understand it is not Probot problem directly but I have trouble  with it

## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

[code]

**Expected behavior/code**
Start successfully.

**Environment**
- Probot version(s): v7.3.1
- Node/npm version: v10.14.2/npm 6.4.1
- OS: OSX 10.14.1

**Additional context/Screenshots**
- https://github.com/chrisa/node-dtrace-provi

[2018-12-17 17:10] #707 closed

[2018-12-17 17:11] #645 closed

[2018-12-18 01:21] corasan opened #790 "Check run error, invalid field: annotations"
## Bug Report

**Current Behavior**
I'm creating a check run and I'm passing an array of annotations but I get this error

`ERROR probot: {"message":"Validation Failed","errors":[{"resource":"CheckRun","code":"invalid","field":"annotations"}],"documentation_url":"https://developer.github.com/v3/checks/runs/#create-a-check-run"}`

[code]

**Expected behavior/code**
I expect annotations to appear on

[2018-12-18 04:42] logicbomb421 commented on #764
Just want to expand on this request as I'm looking to do something similar. Bunyan as a logger suits our needs, however we'd like to be able to direct the output to specific streams (e.g. a stream that points to our centralized logging service). Is this doable currently, or possibly on the roadmap?

[2018-12-18 04:54] JasonEtco commented on #764
@logicbomb421 this might be of interest (and may actually be enough of an answer to close this out as well): https://github.com/probot/probot/issues/776

TLDR - you can add custom stream's to Probot's internal Bunyan instance, via `app.log.target.addStream()`.

[2018-12-18 04:54] #764 closed

[2018-12-18 18:02] #769 closed

[2018-12-19 18:00] abhiruchikarwa commented on #336
I have been using the endpoint to create a review request via my bot, I have been getting Code 422.
I'd really appreciate it if you could confirm if `pull_request.opened` is indeed the correct endpoint?
I have enabled all the permissions related to issues and pull requests as well.

[2018-12-19 18:06] swinton commented on #336
:wave: Can you share more details about this error? Was a message returned? Do you have the `X-GitHub-Request-Id` header from the response?

[2018-12-19 18:30] abhiruchikarwa commented on #336
Hey @swinton , thanks for getting back to me.

Here is the `X-GitHub-Request-Id: E0C9:1BE1:3E0C653:736978F:5C1A8C62`
Although, I am not sure where to look for the message.

[2018-12-19 21:08] swinton commented on #336
It looks like this request was a `POST` to `https://github.com/PolisPolitics/polis-bot`, which is not a valid API request.

The correct way to do this is via the [`POST /repos/:owner/:repo/pulls/:number/requested_reviewers`](https://developer.github.com/v3/pulls/review_requests/#create-a-review-request) endpoint.

It looks like this endpoint [does 422 if one of the requested reviewers is not a col

[2018-12-20 11:09] benjlevesque commented on #690
Adding the `metadata: read` permission solves the issue, thanks!

[2018-12-20 13:05] dentarg commented on #521
Just connecting things as I looked it up myself, the issue at octokit/rest.js is https://github.com/octokit/rest.js/issues/856

[2018-12-20 13:07] dentarg commented on #521
Seems supported since https://github.com/probot/probot/releases/tag/v6.2.0

[2018-12-21 06:44] chadfawcett opened #794 "Programatic start"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Zeit Now 2.0 expects a function that accepts the standard Node.js `request` and `response` objects. In order to get this function, I need to use `createProbot`, load my Probot `appFn`, and expose `probot.webhook.middleware`.
[code]

**Describe the solution you'd like**
There seem to be a few use cases that could

[2018-12-22 10:31] #715 closed

[2018-12-22 13:15] passionkind commented on #794
Being able to programmatically start probot and exposing the middleware, which receives client request and server response, would probably make further integrations a lot easier.

Coincidentally, I just published an implementation for now v2 based on the lambda version here https://github.com/passionkind/probot-serverless-now

[2018-12-22 15:38] tibdex commented on #794
https://www.npmjs.com/package/probot-serverless-now is another package for running Probot on Now v2. It has the benefit of being closer to the original Probot runtime. Indeed, it supports:
- [x] Logging
- [x] Sentry integration
- [x] Webhook signature verification

[2018-12-22 18:09] passionkind commented on #794
sweet 👏 including a nice solution for retrieving the app name! great!

[2018-12-22 18:11] passionkind commented on #794
left a note and link on my repo. Thanks @tibdex
already using your version 👍

[2018-12-23 23:27] Thatkookooguy opened #797 "Add a debug option"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I'm trying to debug my probot application using `node --inspect-brk=<port> ./node_modules/.bin/probot run ./index.js` so I can debug it, but I keep getting the same error:
[code]
Even though nothing else is running, so the port is not already in use (tried multiple ports)

**Describe the solution you'd like**
Do

[2018-12-24 00:02] Thatkookooguy commented on #797
might be related to [this issue](https://github.com/nodejs/node/issues/9435)

[2018-12-24 01:09] nickcolley commented on #790
Also running into this, will update if I figure it out myself...

[2018-12-24 22:03] chadfawcett commented on #794
So I think what we want isn't actually a `start`, but a `createProbot` with defaults. To me `createProbot` seems like the function name that would make sense, but this is obviously already in use. One approach would be to make the `options` object being passed into `createProbot` optional. If omitted, it would use the values from `probot-run`:
[code]

I feel this approach would require a decent am

[2018-12-24 23:00] #699 closed

[2018-12-26 20:52] corasan commented on #790
@nickcolley ah cool, will try your solution to this

[2018-12-27 23:01] chadfawcett commented on #794
FWIW, here is my implementation of a Now wrapper for Probot. https://github.com/chadfawcett/probot-serverless-now

It also supports:
* [x] logging
* [ ] [Sentry (Up for discussion)](https://github.com/chadfawcett/probot-serverless-now/issues/6)
* [x] Custom routing
* [x] Loading private key with [frindPrivateKey()](https://github.com/probot/probot/blob/bb06c51485245d75508982826180e7c2e774a7db/src/

[2018-12-28 00:59] bradshjg commented on #401
@Seluj78 @wilhelmklopp I recently created a flask extension with a very similar API to probot at https://github.com/bradshjg/flask-githubapp

[2018-12-28 01:18] tcbyrd commented on #401
Awesome @bradshjg! I barely know python and it looks like I could create something from your example in no time. Thanks so much for working on this and for letting us know about it!

[2018-12-31 18:35] wolfy1339 commented on #675
This issue is being actively worked on upstream. They will be writing their own definition file

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: stale[bot] <notifications@github.com>
Sent: Monday, December 31, 2018 1:34:10 PM
To: probot/probot
Cc: wolfy1339; Manual
Subject: Re: [probot/probot] @octokit/webhooks types missing (#675)

This issue has been automa

[2019-01-01 16:13] Seluj78 commented on #401
@bradshjg Now I can say that this is amazing ! Thanks a lot for your work ! Between the time of this discussion and your comment, i've gotten into translating the `Python` documentation in my free time and, in many of the Python repositories, we have bots that automate tidious tasks like backporting. (for CPython for example).

I'll try and see with the core dev team if they would be interested in

[2019-01-01 18:56] gr2m commented on #674
Hey Bex, what’s the status? Is there something I can help with?

[2019-01-03 16:59] JasonEtco opened #801 "Node 10 is allowed to fail in CI"
Currently, `node@10` is in the ["Allowed to fail"](https://docs.travis-ci.com/user/customizing-the-build/#rows-that-are-allowed-to-fail) section of our Travis setup. That was implemented before 10 became LTS (long-term-support), so we should make it required, just like our builds in Node 8.

PRs welcome! Happy to answer questions wherever I can!

Relevant code in `.travis.yml`:

https://github.com

[2019-01-03 17:54] #801 closed

[2019-01-03 18:58] jsoref opened #803 "Most probot implementations don't set started_at resulting in bad output from GitHub"
## Bug Report

probot derivatives generally fail to set `started_at`. This is fine for `checks.runs` calls when `status`!=`completed`, because afaict (and as confirmed by @tcbyrd), the GitHub endpoint fills in `started_at` with `Date.now()` for when the endpoint is called.

@tcbyrd writes:

This is less good for `status`=`completed`, because per [checks.runs](https://developer.github.com/v3/checks

[2019-01-03 19:54] gr2m opened #804 "Delete package-lock.json file or .npmrc"
`.npmrc` was instroduced in https://github.com/audiohacked/probot/pull/21, I’m not sure why. I’d prefer to remove it. Greenkeeper updates the lockfile anyway, e.g. https://github.com/probot/probot/pull/799

[2019-01-04 15:07] adambraimbridge opened #806 ""Invalid GitHub App configuration" error: properties/url is not a string"
## Bug Report

**Current Behavior**
After clicking "Register GitHub App", the https://github.com/settings/apps/new page shows an error

![image](https://user-images.githubusercontent.com/224547/50693964-79d53000-1030-11e9-9cb5-ce7483554a99.png)

Above: Screenshot of the error.

**Expected behavior**
I expect the https://github.com/settings/apps/new page not to throw any errors.

![image](https://u

[2019-01-04 15:37] sjparkinson commented on #806
Oh, this relates to https://github.com/Financial-Times/tako/pull/63.

We can fix this be including a `url` field in https://github.com/Financial-Times/tako/blob/master/app.yml, or a `homepage` field in our `package.json`.

If the field doesn't exist it looks like Probot falls back to a value in `package.json`.

https://github.com/probot/probot/blob/6620ba18dacbad2fa1e504643ebcbd97d173acea/src/mani

[2019-01-04 15:45] JasonEtco commented on #806
Thanks for opening this @adambraimbridge - definitely a confusing error message.

@sjparkinson I believe that `pkg.repository` _can_ be a string or an object (I think) - so we should have some checking around that to enable both. PRs welcome 😗

[2019-01-04 18:19] jsoref commented on #803
Fwiw, https://github.com/search?q=%22completed_at%22+conclusion&type=Code is more or less a good shopping list for things that get this wrong:

https://github.com/uw-ipd/github-checks-buildkite-plugin/blob/master/ghapp/ghapp/handlers.py
https://github.com/rraphaeldev/github-swiftlint/blob/master/sources/api/actions/checks/createrun.rb
https://github.com/sarangan12/ci-sidecar-automation-sdk/blob/ma

[2019-01-05 03:36] ajschmidt8 commented on #761
i'm on Node 11.6 for what it's worth.

[2019-01-05 04:53] wolfy1339 commented on #761
Have you tried pointing the router to `/`? I use that and it works out of the box

[2019-01-06 01:09] jsoref commented on #803
https://github.com/kberzinch/php-checks/pull/7#issuecomment-451699557 offers one approach which probot could try to model...

[2019-01-06 02:47] gr2m commented on #803
What I’d suggest to do is set a before [request hook](https://github.com/octokit/rest.js#hooks) on the Octokit instance passed to the event handlers. It does two things

1. Keeps track of the time the event was received
2. It checks if a request creates a check run. If it is, default the `started_at` timestamp to the time from `1.` if it’s not set by the user.

This is an interesting topic, thanks

[2019-01-08 06:36] #804 closed

[2019-01-09 19:18] jleach opened #815 "How to make API calls from an exposed route"
Thanks for doing Probot!

I want to expose my own route that will, among other things, check if a user exists in our org. Give I have my `Application` robot / whatever but not a `Context` how do I go ahead and make API calls to GitHub? It seems like I need to authentication but should my bot already be authorized?

I've tried `const gh = await app.auth()` but when I make the call `gh.users.get({})

[2019-01-09 20:48] jleach commented on #815
nm. Sorted it out...

When you call `app.auth()` it authenticates as an `app` and has limited functionality. You need to specify the installation ID to get like `app.auth(12345)` to get it to authenticate as an installation and give you full access to the API.

[2019-01-09 20:48] #815 closed

[2019-01-10 04:50] ajschmidt8 commented on #797
I'm also struggling to debug my application. I tried what you mentioned above and am getting the same error:

[code]

[2019-01-10 04:56] JasonEtco commented on #797
I'm sorry that y'all are having this issue, but I'm confident that its not being caused by Probot. It looks like the debugger is attempting to use a port that's already in use, and that's being checked _before_ Probot code is even loaded up. I'm going to close this issue, but let me know if I'm missing something important to how y'all are running your apps.

[2019-01-10 04:56] #797 closed

[2019-01-10 04:57] ajschmidt8 commented on #797
@JasonEtco, are you able to provide an example of how to properly debug using `inspect-brk`?

[2019-01-10 05:08] JasonEtco commented on #797
@ajschmidt8 I was able to run your above command no problem:

<img width="646" alt="image" src="https://user-images.githubusercontent.com/10660468/50947300-8f50bc80-146b-11e9-8c75-9508fdbdd238.png">

To prove even further that there's nothing more Probot can do, you can set the `NODE_OPTIONS` environment variable to use `--inspect-brk`, which means that its being taken into account before your Nod

[2019-01-10 05:56] dungahk commented on #686
Any news on this one?

[2019-01-10 15:12] sjparkinson commented on #760
Potentially this is resolved in https://github.com/probot/probot/pull/774, through one of the new `octokit/rest.js` `.paginage` functions.

[2019-01-10 16:42] gr2m commented on #760
I’m fairly sure that this will be resolved via #774, but if you could double check that would be much appreciated. It would help us greatly if you could test the upcoming version so we can fix potential bugs now before releasing it :)

I was thinking I resolved this issue in v15 before though, can you tell me what exact `@octokit/rest` version you have? You can run `npm ls @octokit/rest` and paste

[2019-01-10 16:43] gr2m commented on #686
I think this will help, I’d recommend to subscribe to updates of this PR: https://github.com/octokit/webhooks.js/pull/53

[2019-01-10 17:59] gr2m commented on #760
Yes we do that via #744 but we keep the old one around and log a deprecation warning to make it easier for folks to upgrade

[2019-01-10 23:47] andrewgould commented on #789
@sotayamashita Do you have `binutils` installed via Homebrew? I was encountering the same problem as you (https://stackoverflow.com/questions/54014971/macos-dyld-symbol-not-found-usdt-create-provider) and managed to fix it by removing this package.

[2019-01-11 03:21] sotayamashita commented on #789
@andreasolund Finally, I can start the server. Thank you for your help.

[2019-01-11 03:21] #789 closed

[2019-01-12 14:57] Thatkookooguy commented on #797
@JasonEtco did you try and attach a breakpoint in your `index.js` file?

I can enter the probot code itself in debug mode with the line you wrote, but I can't debug `index.js` since when the program's process is opened, the child process tries to use the same port address so the debugger exists.

That's why I think it's related to the issue I linked in my first comment.

[2019-01-19 22:34] amilner42 opened #827 "Probot without a view engine"
Sorry if this is somewhere in the documentation but I can't find it, is there a way to prevent probot from using a view engine? I only want to use probot for the webhook handling, I don't want it to generate any views.

[2019-01-19 23:53] faqndo97 commented on #827
Hi man! Maybe you can overwrite the default route like:

[code]

[2019-01-20 02:44] amilner42 commented on #827
Thank you!

Would you recommend using probot if all I'm doing is handling webhooks and making app requests through the octocat API. Currently I have just [github-app](https://www.npmjs.com/package/github-app) and [github-webhook-handler](https://www.npmjs.com/package/github-webhook-handler), but am curious what benefits there would be from using probot aside from:
- view engine for registration
-

[2019-01-20 02:47] JasonEtco commented on #827
@amilner42 it sounds like Probot is a perfect fit for what you're doing, mostly because it comes with everything you'd need built in. It handles authentication for you, and provides a nice API to respond to webhooks.

That said, it's not magic - it is largely an opinionated wrapper around various Octokit libraries. You can absolutely write a GitHub App without it if you prefer.

[2019-01-20 03:02] JasonEtco commented on #827
Thanks @amilner42 👍 And just to be even more clear: Probot runs an Express server internally to receive `POST` requests to its webhook-handling endpoint. The rest of the views are purely sugar - they aren't needed for your app to do its thing.

[2019-01-20 03:02] #827 closed

[2019-01-20 03:18] JasonEtco commented on #827
That page is only visible if your app does not have an `APP_ID` environment variable - it leads you to GitHub to get those missing credentials. Otherwise, it would show a page like this:

<img width="879" alt="image" src="https://user-images.githubusercontent.com/10660468/51434836-d7c06500-1c37-11e9-8c6d-2be9fcb4db57.png">

You can overwrite the `/` route, which redirects to `/probot`:

[code]

Bu

[2019-01-20 03:42] JasonEtco commented on #827
My pleasure! Glad to hear you're excited - feel free to open issues with any other questions ✨

[2019-01-22 12:58] sjparkinson opened #830 "Errors respond with a 404 status"
## Bug Report

**Current Behavior**

If an error is thrown in an express route, probot will log the error correctly, but return a 404 status code.

[code]

**Expected behavior**

For Probot to respond with a 500 status code.

**Environment**
- Probot version(s): v7.5.0
- Node/npm version: Node 8
- OS: macOS

**Additional context**

We have some additional detail in https://github.com/Financial-Tim

[2019-01-25 18:13] mayank23 opened #833 "Middleware API for event handlers"
Hi :smile:

First, I love the probot framework, thanks to the whole team for developing such an awesome framework and making it opensource!

## Feature Request

Recently I build a probot app for my team for posting pull request notifications to our team's slack channel. In the process, I wanted to see if I could have middleware for github event handlers which **allow defining event/context related

[2019-01-26 17:45] gr2m commented on #833
Hey Mayank, thanks for the great issue!

I would like to solve this in [`@octokit/webhooks`](https://github.com/octokit/webhooks.js), as we will migrate to use that internally soon to handle webhooks. It currently has a [`transform` option](https://github.com/octokit/webhooks.js#constructor) when constructing the event handler API, it should handle use case 1 & 3, but not 2.

I was thinking to use

[2019-01-26 18:09] iyegoroff opened #835 "Question about network dependents"
## Feature Request

Is it possible to notify somehow the repo owner that [network dependents](https://github.com/probot/probot/network/dependents) are changed? I glanced at your docs and Github APIs and didn't find anything related to my issue.

[2019-01-28 14:53] ArtyomShaitor opened #838 "Logging not working"
## Bug Report

**Current Behavior**
Hi there! I have problem with logging. Here is a code example:

[code]

**Expected behavior/code**
I want to see in terminal at least on of these messages

**Actual behaviour**
I see only these messages:
[code]

**Environment**
- Probot version(s): 7.5.0
- Node/npm version: Node 8.9.4/npm 5.6.0]
- OS: OSX 10.14

[2019-01-28 15:02] JasonEtco commented on #838
@ArtyomShaitor your app code isn't run unless you have the APP_ID` and `WEBHOOK_SECRET` environment variables set. This is intentional, because your app wouldn't work anyway - the flow you're seeing would take you through the process of getting those credentials. [See the docs for a full explanation](https://probot.github.io/docs/development/#running-the-app-locally).

Hope that helps!

[2019-01-28 15:02] #838 closed

[2019-01-28 15:37] ArtyomShaitor commented on #838
@JasonEtco I have `.env` file with APP_ID and WEBHOOK_SECRET

[2019-01-28 17:45] ArtyomShaitor commented on #838
@JasonEtco it works! thank you

[2019-01-30 21:49] amilner42 commented on #827
For the record, this is incredible...

So stoked you guys made this!

[2019-01-30 23:30] amilner42 commented on #686
Why is this closed? Seems like a useful thing to have, shouldn't we at minimum keep this issue open?

[2019-01-31 00:09] amilner42 opened #841 "Standard way through probot to request a URL resource"
Let's say you make some request through probot and in the response get a URL you want such as:

[code]

How do you recommend making the authenticated request to grab the resource? If it is a private repo then you cannot simply query the URL.

Edit:

It seems this is a resource you can access here: https://developer.github.com/v3/repos/commits/#compare-two-commits

And with probot here: `context.gi

[2019-01-31 04:44] JasonEtco commented on #835
This isn't something that Probot can do, because there is currently no publicly available API for the dependency graph.

I may be understanding, but if you're looking to know when a _project's_ dependencies have changed, you can listen for changes to a particular file.

I'm going to close this as I believe there's nothing actionable, but feel free to reopen if I'm mistaken!

[2019-01-31 04:44] #835 closed

[2019-01-31 04:51] JasonEtco commented on #841
Generally speaking, no. You could, but you don't really need to. For the sake of better clarity of code, I personally would always prefer to use an Octokit method over a URL string.

As a rule, no URL that would be present in a response's JSON file would be missing from Octokit, so you will always have a method available to you.

You may also be interested in [`@octokit/request`](https://www.npmjs

[2019-01-31 04:51] #841 closed

[2019-01-31 05:43] amilner42 commented on #841
Thanks @JasonEtco, that's exactly the info I needed (and more)! I wasn't sure if those URLs in the responses were meant to be queried directly or if they *always* existed in the API.

As always, really appreciate you all at Probot!

[2019-01-31 05:43] JasonEtco commented on #841
No worries, glad that helped! 🎉

[2019-01-31 16:38] gr2m commented on #686
Currently Application.on is no using `@octokit/webhooks`, it’s a little complicated. We are working on that

[2019-01-31 16:42] gr2m commented on #841
When you use the latest Probot beta (`npm install probot@beta`), then `context.github.request` is a pre-authenticated instance of `@octokit/request`, so you can use `context.github.request(response.data.compare_url)` in this case if you like

[2019-01-31 17:24] amilner42 commented on #841
Ok great to know, I'll do that if for whatever reason I can't find in the API, thanks

[2019-01-31 20:15] amilner42 commented on #841
Btw @JasonEtco I just tested running the [compare](https://developer.github.com/v3/repos/commits/#compare-two-commits) with a random 1200 lines added to see if it would still include the path, and in that cases it drops the `patch` field from the response altogether.

With a smaller commit it does something like this:

    "files": [
        {
            "sha": "4f9b167f9b109167121626704e75e6c355

[2019-01-31 21:40] amilner42 commented on #841
Tried this and got:

```HttpError: Not Found```

I can manually visit the link in my browser and it works perfectly, so I know the link is correct. I'm trying to look into this now and see what's up. The link is of the form:

`https://github.com/<my-username>/<my-repo>/commit/<sha>.patch`

@gr2m

[2019-01-31 21:59] gr2m commented on #841
The error should have a `error.request` property, what does it say? Note that it might include an authorization header, make sure to remove any credentials before pasting the output here

[2019-01-31 22:01] gr2m commented on #841
I think the endpoint you are looking for is [`octokit.git.getCommit `](http://octokit.github.io/rest.js/#api-Git-getCommit)

[code]

See https://developer.github.com/v3/media/#patch about the custom accept header

[2019-02-01 00:14] amilner42 commented on #841
"request": {
        "method": "GET",
        "url": "https://github.com/<username>/<repo>/commit/903832b779da63d956c57e84ee2575dceb0d453e.patch",
        "headers": {
            "accept": "application/vnd.github.v3+json",
            "user-agent": "octokit.js/16.13.4 Node.js/10.15.0 (macOS High Sierra; x64)",
            "authorization": "token <token>"
        },
        "request": {

[2019-02-01 14:31] ocombe opened #842 "Cache repo config"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Every time I call `context.config(...)` within my code it makes a new request to Github to get the config file.

**Describe the solution you'd like**
Everytime I request a config file, it should be cached within that context and should not make a new github request.

**Describe alternatives you've considered**
I

[2019-02-01 21:08] pholleran opened #843 "context.issue() returns undefined for number when event is a check"
## Bug Report

**Current Behavior**
Calling `context.issue()` returns the `number` property as undefined when the calling event is from a check run or check suite.

[code]

**Expected behavior/code**
[code]

**Environment**
- Probot version(s): 7.5.0
- Node/npm version: Node 10.15.1, NPM 5.6.0
- OS: MacOS 10.14.2

[2019-02-01 21:20] gr2m commented on #843
Check runs belong to commits. Not all commits belong to a pull request. Might that be the case here?

[2019-02-01 23:05] pholleran commented on #843
@gr2m - Yep, that's it. Thanks for the pointer.

Here's how I ended up working around it:

[code]

[2019-02-01 23:05] #843 closed

[2019-02-02 05:09] gr2m commented on #843
Note that context.payload.check_run.pull_requests can be empty

[2019-02-03 08:48] sijie123 commented on #582
Hello!
I'm new to this project, and I thought this would be a good way for me to start contributing.
I see that most of the tests have been converted to TypeScript, except index.test.js and webhook-proxy.test.js

Perhaps I could finish up with the two tests?

[2019-02-05 15:31] pholleran commented on #843
Thanks for the note @gr2m 🙇

[2019-02-05 21:00] mayank23 commented on #833
Hey @gr2m , sorry for the late response 😄 . I'm confused as to how that would be incorporated into probot from a user perspective? Would we forward middleware definitions in a probot application over to [`@octokit/webhooks`](https://github.com/octokit/webhooks.js) when probot internally registers the webhook? (e.g, `app.on('event')`)

[2019-02-05 21:06] gr2m commented on #833
In Probot, you’ll probably do something like this:

[code]

[2019-02-05 23:09] mayank23 commented on #833
hmm, I don't see `.hook` defined anywhere in the documentation https://probot.github.io/api/latest/classes/application.html. Is `.hook` available yet?

[2019-02-06 18:24] rthadur commented on #326
Hi All
getting this error in response :

any idea of this error , i have deployed my probot app on google cloud functions

[2019-02-06 21:16] chrishiestand opened #845 "Add constructor redis option"
## Feature Request

**Is your feature request related to a problem? Please describe.**
In particular, I need redis+sentinel support. So it would be great to be able to pass an ioredis configuration object into the probot constructor. We could still fall back on `process.env.REDIS_URL` so this change would be backwards compatible.

**Describe the solution you'd like**
[code]

**Describe alternative

[2019-02-07 00:04] rthadur opened #847 "401 error after deploying probot to gcf"
## Bug Report

**Current Behavior**
here is the response error iam getting while calling probot deployed on google cloud functions

[code]

[code]

[2019-02-07 02:57] tcbyrd commented on #761
Oh hey I noticed your screenshot is says "to get started", which means it's loading the startup app that walks you through setting up your app on GitHub. Until that part is completed (or you [manually configure](https://probot.github.io/docs/development/#manually-configuring-a-github-app) all the environment variables), the routing won't work since the app doesn't have an App ID to startup with ye

[2019-02-07 07:26] #743 closed

[2019-02-07 15:47] wolfy1339 commented on #675
This will be fixed in Probot v8

[2019-02-07 22:57] #845 closed

[2019-02-09 17:57] mrchief commented on #699
Was there a solution to this PR?

[2019-02-13 20:48] wolfy1339 commented on #759
Not stale

[2019-02-13 21:18] JasonEtco opened #855 "Clarify the reason for the setup log message"
## Bug Report

**Current Behavior**

Right now we log the following message when users are creating a new Probot App:

https://github.com/probot/probot/blob/2ce0c98aae148318b70f237911ceb213f9d8986a/src/apps/setup.ts#L9

This can be confusing when they already have an app but are missing environment variables (like `PRIVATE_KEY`. Users may expect to see the logs they've added in their Probot App (v

[2019-02-14 07:49] #719 closed

[2019-02-14 07:49] #770 closed

[2019-02-14 07:49] #720 closed

[2019-02-14 07:49] #713 closed

[2019-02-14 07:49] #777 closed

[2019-02-14 20:09] gr2m commented on #326
Please create new issues and fill out the issue templates

[2019-02-14 20:14] gr2m commented on #847
What Probot / Node version are you using? Can you reproduce the error when testing the app locally or in an environment different than Google Cloud Platform?

I have not seen this error before

[2019-02-14 20:27] gr2m commented on #699
No, I fear the maintainers didn’t have the resources to work on it, we are all volunteering and can only do so much. If you’d like to pick it up yourself, that’d be great.

[2019-02-14 20:37] gr2m commented on #779
@iandouglas this should be fixed with the upcoming Probot v8.0.0. You can install it with `npm install probot@beta` or update your package.json file to the latest beta version. Get it using `npm info probot@beta version`

The new Probot as quite sophisticated handling for rate / abuse limiting built in. Let me know if that helps

[2019-02-14 20:37] #779 closed

[2019-02-14 20:43] gr2m commented on #780
Will this help? #751

[2019-02-14 20:51] gr2m commented on #770
This should be possible once #751 ships, with a little extra code

[2019-02-14 20:57] #771 closed

[2019-02-14 21:01] gr2m commented on #759
Would this be fixed if we add the `src/@types` folder to

https://github.com/probot/probot/blob/bcc3203930e47385fb997f247b5a5bf1bc84b6b0/package.json#L20-L25

An alternative would be to list the `@types` in dependencies with a relative path instead of a version as the value. But I think we’ll have to add package.json files in order to make that work?

[2019-02-14 21:04] gr2m commented on #855
Maybe combine the two messages into one to make it shorter?

[2019-02-14 21:28] tcbyrd commented on #780
@gr2m Yeh I think the API to start Probot will definitely help with Runkit. Once we get that in Beta, I'd like to test it out in several scenarios to validate, including in the serverless extensions and in a couple of places in the Jira integration.

[2019-02-14 21:34] mrchief commented on #699
Understood!

I was able to get the tests described in the comments here working, like:

[code]

so I was trying to understand if the issue is with the way we write code or is it just that documentation needs updating or something else.

https://probot.github.io/docs/testing/ also describes something very similar so I was wondering if there's anything more to this issue.

I can send a doc update PR

[2019-02-14 21:37] wolfy1339 commented on #759
Yes, that could work
________________________________
From: Gregor Martynus <notifications@github.com>
Sent: Thursday, February 14, 2019 4:01:37 PM
To: probot/probot
Cc: wolfy1339; Author
Subject: Re: [probot/probot] Missing types for other packages used by Probot (#759)

Would this be fixed if we add the src/@types folder to

https://github.com/probot/probot/blob/bcc3203930e47385fb997f247b5a5bf1b

[2019-02-14 22:58] gr2m commented on #699
Might be that there were some changes without updating the docs, too. If your tests works than let’s document it :) Make sure it works with the latest version in the `beta` branch. Could you start a PR?

[2019-02-15 03:00] mrchief commented on #699
I'm using the latest but not the beta. My tests are here: https://github.com/ewolfe/prlint/blob/feat/probot-app/test/index.test.js

Are there significant changes in beta? If so, then I'll hold off (I can get to it but that'll take some time).

[2019-02-15 20:42] mwebler commented on #797
I just stepped into the same issue and the workaround mentioned [here](https://github.com/nodejs/node/issues/9435#issuecomment-399456729) worked for me.
Use `--inspect=0` option then connect to the second debugger port, which should be linked to probot process:

![screen shot 2019-02-15 at 12 35 20 pm](https://user-images.githubusercontent.com/4449285/52883226-0cccb400-311f-11e9-990a-9df4e19ff204.

[2019-02-15 22:54] rthadur commented on #847
Iam using node 8 and latest probot version ?

[2019-02-15 23:13] rthadur commented on #847
Probot 7.5.0

[2019-02-16 00:02] rthadur commented on #637
@tommilligan iam getting this error for every event in Google cloud functions , do you have any solution ?

[2019-02-16 07:23] brunolemos commented on #675
Please make the autocompletion on probot as good as `@octokit/webhooks` or better.

PS: I'm already using Probot 8.0.0-beta.7 (#826) cc @gr2m
Should not be hard since it's already using @octokit/webhooks now.

Here's a comparison:

### event names autocompletion

#### @octokit/webhooks autocompletes

![image](https://user-images.githubusercontent.com/619186/52895925-0a626c80-31a8-11e9-97d6-f75b636

[2019-02-16 07:25] brunolemos opened #856 "[TypeScript Fix app.on webhooks autocompletion"
Please make the autocompletion on probot as good as `@octokit/webhooks` or better.

PS: I'm already using Probot 8.0.0-beta.7 (#826) cc @gr2m
Should not be hard since it's already using @octokit/webhooks now.

Here's a comparison:

### event names autocompletion

#### @octokit/webhooks autocompletes

![image](https://user-images.githubusercontent.com/619186/52895925-0a626c80-31a8-11e9-97d6-f75b636

[2019-02-16 08:06] tommilligan commented on #637
If it's for *every* event, it sounds like you have bad credentials, or all of your events take longer than an hour to process. If you have a minimal reproducible example I can take a look

[2019-02-16 18:36] markshust opened #857 "'watch' event never fires on star action"
## Bug Report

**Current Behavior**
I've went through the quickstart tutorial, and everything is working fine and firing when creating a new issue (new comment is being left by probot).

However, when trying to listen on the "watch" event (when someone stars a repository - https://developer.github.com/v3/activity/events/types/#watchevent) or on '*' event, nothing fires when a user stars a reposito

[2019-02-16 18:39] JasonEtco commented on #857
Hi @markshust! Can you double check that your app is subscribed to the appropriate events? You can check that at the bottom of this page:

[code]

| See the bottom left |
|:--- |
| <img width="811" alt="image" src="https://user-images.githubusercontent.com/10660468/52903755-3c97bc80-31f0-11e9-8d44-a9ab5a3f2dbd.png"> |

[2019-02-16 19:08] markshust commented on #857
oop yep perms... seems to have fixed it. thanks much!

[2019-02-16 19:08] #857 closed

[2019-02-16 21:16] #767 closed

[2019-02-16 22:56] wolfy1339 commented on #856
I have opened #858 to do this work, i've gotten some progress, but things don't work. Feel free to help out!

[2019-02-16 23:30] gr2m commented on #847
Can you reproduce the error when testing the app locally or in an environment different than Google Cloud Platform?

[2019-02-16 23:33] gr2m commented on #637
@tommilligan can you check with latest Probot (`npm install probot@beta`)? We have new thorttling built-in as well as authenticating as installation right before the request, it definitely helped with the problem on WIP

[2019-02-17 18:24] rthadur commented on #847
Hi
locally it works fine , no issues .

[2019-02-17 20:00] chrishiestand opened #859 "npm audit security issue: probot > hbs > handlebars"
## Bug Report
I imagine y'all have seen this already, but in case not (and also for a central place to discuss?).

**Current Behavior**
`npm audit` shows:

[code]

**Expected behavior/code**
`npm audit` should not reveal any security issues for probot.

**Environment**
- Probot version(s): 8.0.0-octokit-16-preview.7
- Node/npm version: node 10 / npm 6

[2019-02-17 20:03] chrishiestand commented on #859
There is an open issue in `hbs` for this: https://github.com/pillarjs/hbs/issues/162

If `hbs` has been abandoned, then we'd want to migrate away from it or write our own.

[2019-02-17 21:07] rthadur commented on #847
after recieving event "issue.opened" it throws this error in octokit

{ HttpError: {"message":"Missing 'issuer' claim ('iss') in assertion","documentation_url":"https://developer.github.com/v3"} at response.text.then.message (/srv/node_modules/@octokit/rest/lib/request/request.js:72:19) at <anonymous> at process._tickDomainCallback (internal/process/next_tick.js:229:7) name: 'HttpError', code: 401

[2019-02-18 01:23] gr2m commented on #859
Looks like we need to look for an alternative, thanks for bringing this to our attention Chris!

[2019-02-18 01:28] gr2m commented on #847
The request has no `authorization` header set for some reason.

I don’t use gcf myself so I don’t know what the problem could be I’m afraid, but if you want to dig more into it and you have any questions about the code base, let me know.

Could you please try one more thing? Install the latest probot beta:

[code]

And share what you get

[2019-02-18 04:59] rthadur commented on #847
thank you , passed previous error and getting this now

TypeError: Cannot read property 'x-github-otp' of undefined at authenticationRequestError (/srv/node_modules/@octokit/rest/plugins/authentication/request-error.js:6:52) at /srv/node_modules/before-after-hook/lib/add.js:37:18 at <anonymous>
Expand all | Collapse all
{
 insertId: "000001-ee4aa12a-8096-437f-83f0-e8c4c54eb23a"

labels: {…}
resour

[2019-02-18 09:59] tommilligan commented on #637
@gr2m could you clarify what your request is here? The issue is closed (I merged a PR a while ago), and I haven't experienced this issue since

[2019-02-18 18:03] gr2m commented on #637
All good then, sorry for the noise :) I keep having the "Bad credentials" errors from time to time with the WIP app, and upgrading to Probot 8 beta helped reduce these drastically. So I thought I’d let you know. But if  you don’t see them at all anymore then don’t worry about it

[2019-02-19 02:45] rthadur commented on #847
Iam suspecting gcf is not able to access githubapi because of missing otp in octokit ?

[2019-02-19 04:07] rthadur commented on #847
tried keeping private key in .env file and right now getting this error ::

severity: "ERROR"
 textPayload: "TypeError: Cannot read property 'getInstallationAccessToken' of undefined
    at Application.<anonymous> (/srv/node_modules/probot/lib/application.js:238:75)
    at step (/srv/node_modules/probot/lib/application.js:40:23)
    at Object.next (/srv/node_modules/probot/lib/application.js:21:53

[2019-02-19 05:07] gr2m commented on #847
We fixed this error in `@octokit/rest` today

Can you make sure you have `@ocotkit/rest` v16.15.1 or higher? Then you’ll get the actual error

[2019-02-19 06:18] rthadur commented on #847
Thank you @gr2m  , right now getting this error :: iam suspecting octokit/rest is not able to get the private to key to validate ....

severity: "ERROR"
 textPayload: "TypeError: Cannot read property 'getInstallationAccessToken' of undefined
    at Application.<anonymous> (/srv/node_modules/probot/lib/application.js:238:75)
    at step (/srv/node_modules/probot/lib/application.js:40:23)
    at Obj

[2019-02-19 21:33] gr2m commented on #847
The error comes from this code

https://github.com/probot/probot/blob/233b6607519f919a0a48e2e12f2f85f803ca84d8/src/application.ts#L195-L198

It looks like `this` is not the right context. But I don’t know how that happens exactly. I hope the pointers help you to figure it out

[2019-02-19 21:45] rthadur commented on #847
i guess while calling the auth function here , there is missing id

Application.prototype.authenticateEvent = function (event, log) {
        if (this.githubToken) {
            return this.auth();
        }
        if (isUnauthenticatedEvent(event)) {
            log.debug('`context.github` is unauthenticated. See https://probot.github.io/docs/github-api/#unauthenticated-events');
            ret

[2019-02-20 23:30] rthadur commented on #847
tried replacing the installation id in the auth function , no luck same error

[2019-02-21 21:44] rthadur commented on #847
@gr2m gentle ping if you have any update

[2019-02-21 23:29] gr2m commented on #847
I’m sorry I helped all I could, you’ll have to figure out the rest on your own I’m afraid

[2019-02-26 00:50] gr2m commented on #794
I think this was addressed with #751. You can now do

[code]

with the latest probot beta (`npm install probot@beta`)

[2019-02-26 00:52] gr2m commented on #790
resolved: https://github.com/octokit/rest.js/issues/1170#issuecomment-450545193

[2019-02-26 00:52] #790 closed

[2019-02-26 01:28] chadfawcett commented on #794
This still doesn't solve the problem of needing access to the main request handler function. [Zeit Now expects a function that accepts the `request` and `response` objects.](https://zeit.co/docs/v2/deployments/official-builders/node-js-now-node/#how-to-use-it)

[code]

If I understand correctly, the `Probot.run()` still starts up a server. This would still require the use of the `@now/node-server`

[2019-02-26 18:55] gr2m commented on #794
Got it, sorry for misunderstanding the context / requirement :)

[2019-02-26 19:43] chadfawcett commented on #794
No worries! I had heard of the plan for the `run` command, but I was under the impression it would expose the request handler function. 🤷‍♂️This issue was prompted from a discussion with @JasonEtco, so maybe he can chime in to clarify what he meant when suggesting the "programatic start" should be a part of Probot.

As the various packages above show, it's definitely possible to work around, so I'

[2019-02-28 19:07] i-marsh commented on #761
Quick note 📓
If you are attempting to auto-configure be sure that you start probot with the following

`npm run dev`

The process does not complete otherwise which means a manual config as @tcbyrd mentions ☝️

[2019-02-28 19:47] #856 closed

[2019-03-02 00:57] #733 closed

[2019-03-02 18:48] Schachte opened #865 "Issues Retrieving Pull Requests Via Context"
## Bug Report

**Current Behavior**
Currently getting a failure when trying to retrieve pull requests from the context object:

[code]

[code]

**Expected behavior/code**
Retrieve list of all PRs

**Environment**
- Probot version(s): latest
- Node/npm version: latest/latest
- OS: Mojave

[2019-03-02 18:55] gr2m commented on #865
Can you make sure the app has the necessary permission for this endpoint? It should have read access to "Pull requests"

[2019-03-02 18:59] Schachte commented on #865
Looks like part of my permissions didn't save like I originally thought, thanks for the tip. Still having issues retrieving the PRs from the octokit API off the context. Looks like they deprecated the `getAll` functionality in favor of list, but can't see it pulling any data correctly.

[2019-03-02 19:02] gr2m commented on #865
When you change the permissions, you’ll have to accept the changes of the permissions, even if it's your own app and you installed it yourself.

Make sure to address all deprecation notices. The deprecated methods will be removed in the upcoming Probot, see #826

[2019-03-02 19:07] Schachte commented on #865
@gr2m Perfect, looks like everything is in order now. Thanks!

[2019-03-02 19:07] #865 closed

[2019-03-03 02:00] Schachte commented on #636
I'm currently experiencing this issue as well. No other processes running on a conflicting port.

[2019-03-03 02:04] Schachte opened #866 "Don't receive any events from Webhook"
## Bug Report

Reviving https://github.com/probot/probot/issues/636 as this issue is still happening for me.
Current Behavior
[code]

when trying to receive context of event from Webhook.

  // Your code here
[code]

# Expected behavior/code
Should see that comment appears when new issue was opened.

Environment

Probot version(s): latest
Node/npm version: latest
OS: mojave

[2019-03-03 02:06] Schachte commented on #866
Hm, it actually does look like it fails when I have a react UI server running in parallel. Should we look into adding more explicit messages for port conflicts?

[2019-03-03 07:00] wolfy1339 commented on #859
Speaking of npm audit vulnerabilities, can we bump the version of `@octokit/rest` with a new patch release of `v7` to fix a vulnerability with lodash

[2019-03-03 14:26] #866 closed

[2019-03-03 18:09] gr2m commented on #859
anytime, just send a PR against the `v7.x` branch

[2019-03-03 19:10] #675 closed

[2019-03-03 21:01] JasonEtco opened #869 "Warning for `error.code` is deprecated, use `error.status`"
## Bug Report

**Current Behavior**

In `@octokit/rest` we're seeing a deprecation warning for `error.code`:

[code]

This is from here, in `Context#config`:

https://github.com/probot/probot/blob/99784f3607dd9d4e4681b12a673757a9ac30b3b8/src/context.ts#L176-L178

It's not a super-simple fix, because change it here causes tests to fail without the tests being updated - and that causes TypeScript er

[2019-03-03 21:08] gr2m commented on #869
`error.status` is correct, it’s a number. It used to be the status text, that is a breaking change that comes with v8, so we should update it in probot

[2019-03-03 21:14] #869 closed

[2019-03-03 22:28] probotbot opened #873 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `7.x` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-03-03 22:50] #873 closed

[2019-03-04 00:16] probotbot opened #877 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `next` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-03-04 01:07] karol-majewski commented on #859
Fixed in #875.

[2019-03-04 01:14] JasonEtco commented on #859
Thanks @karol-majewski - also fixed in #870 for the `7.x` branch (released in `7.5.1`). Thanks everyone ❤️

[2019-03-04 01:14] #859 closed

[2019-03-04 01:59] gr2m commented on #877
race condition, not the ideal error message: https://travis-ci.org/probot/probot/jobs/501266264#L497

[2019-03-04 01:59] #877 closed

[2019-03-05 19:24] danielrozenberg opened #878 "Access to Express app object"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I'm writing a probot app that has a few custom Express routes, and I want access to the Express `app` object to call things such as `app.set('trust proxy', true)`

**Describe the solution you'd like**
`app.express`, maybe?

**Describe alternatives you've considered**
Currently I hack my way around it with this c

[2019-03-05 19:35] JasonEtco commented on #878
Hi @danielrozenberg 👋 This will return the express app instead of a router (note: no arguments being passed to `app.route()`):

[code]

If that solves your use case, please close this ❤️

[2019-03-05 19:41] danielrozenberg commented on #878
This gives me an error:
`TypeError: app.route(...).set is not a function`

Looks like it's defined to be a `Router` object? https://github.com/probot/probot/blob/d79c71b34305f2dd3d9af691f46b0dd1ecf22791/src/application.ts#L53

[2019-03-05 19:47] JasonEtco commented on #878
Yeah, I was totally wrong. So, you _can_ get to the underlying express server but its a bit of a hassle at the moment. Probot works by calling `probot run`, a CLI tool that loads up your code as a function after its done all of its setup. You can instead take a programmatic approach and control the entrypoint yourself:

[code]

That I _know_ works 😁.

[2019-03-05 20:45] danielrozenberg commented on #878
This sorta worked for me, but it makes my app a bit clunky (if I had written the app to begin with knowing the above it might've been better, but pivoting now is proving to be too difficult) - since I now know it's possible, I guess this issue can be closed. Still, it would be nice to have (probot's) `app` expose either the backing express app or at least expose some of these methods (`set`, `get`